Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

Fix test (get correct functionType from globalScope)
  dsl/test/semanticAnalysis/TestSymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

spotlessApply
  dsl/src/semanticAnalysis/FunctionSymbol.java
  dsl/src/semanticAnalysis/SymbolTableParser.java
  dsl/src/semanticAnalysis/types/FunctionType.java
  dsl/test/semanticAnalysis/types/TestFunctionType.java
Owners: @malt-r, @Programmiermethoden/dungeon

Enable usage of varargs for parameters in FunctionType ctor
  dsl/src/semanticAnalysis/types/FunctionType.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add common base class for native functions, which allows overwriting the functions data type
  dsl/src/runtime/nativeFunctions/NativeFunction.java
  dsl/src/runtime/nativeFunctions/NativePrint.java
Owners: @malt-r, @Programmiermethoden/dungeon

Rework loadFunctions of IEnvironment to enable loading ScopedSymbols (which do not need to have an AST-node associated)
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/IEvironment.java
Owners: @malt-r, @Programmiermethoden/dungeon

Visit children of funcDefNode with functionCallresolver
  dsl/src/semanticAnalysis/FunctionCallResolver.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add FunctionTypes of native functions to symbol table and resolve redundancies between them
  dsl/src/semanticAnalysis/SymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add dummy native function for testing function type redundancy resolution of SymbolTableParser
  dsl/test/interpreter/DummyNativeFunction.java
Owners: @malt-r, @Programmiermethoden/dungeon

Put TestEnvironment in its own file
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/interpreter/TestEnvironment.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add test for checking equality of FunctionType objects (not only semantic equality)
  dsl/test/semanticAnalysis/TestSymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

Test for using FunctionType in native functions
  dsl/test/semanticAnalysis/TestSymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

Test for FunctionType redundancy resolution of SymbolTableParser
  dsl/test/semanticAnalysis/TestSymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

Das Feature Fernkampf ist fertig
  game/src/contrib/utils/components/ai/fight/RangeAI.java
Owners: @AMatutat, @Programmiermethoden/codrs

rangeCombatAi finished
  game/src/contrib/utils/components/ai/fight/RangeAI.java
Owners: @AMatutat, @Programmiermethoden/codrs

RangeAI finished
  game/src/contrib/utils/components/ai/fight/RangeAI.java
Owners: @AMatutat, @Programmiermethoden/codrs

run spotless
  game/src/contrib/utils/components/ai/fight/RangeAI.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] add rangeCombat AI (#671)
  game/src/contrib/utils/components/ai/fight/RangeAI.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix file names
  doc/ecs/gameelements/drop_items_interaction.md
  doc/ecs/interfaces/img/on_death_function.png
  doc/ecs/interfaces/img/on_death_function.uxf
  doc/ecs/interfaces/interaction.md
  doc/ecs/interfaces/on_death_function.md
  doc/ecs/interfaces/readme.md
Owners: @Programmiermethoden/dungeon

fix file names, update umls sources
  doc/ecs/components/ai_component.md
  doc/ecs/components/collision_component.md
  doc/ecs/components/draw_component.md
  doc/ecs/components/health_component.md
  doc/ecs/components/img/ai_component.png
  doc/ecs/components/img/ai_component.uxf
  doc/ecs/components/img/animationComponent.uxf
  doc/ecs/components/img/collision_component.png
  doc/ecs/components/img/collision_component.uxf
  doc/ecs/components/img/draw_component.png
  doc/ecs/components/img/draw_component.uxf
  doc/ecs/components/img/health_component.png
  doc/ecs/components/img/health_component.uxf
  doc/ecs/components/img/interaction_component.png
  doc/ecs/components/img/interaction_component.uxf
  doc/ecs/components/img/inventory_component.png
  doc/ecs/components/img/inventory_component.uxf
  doc/ecs/components/img/player_component.png
  doc/ecs/components/img/player_component.uxf
  doc/ecs/components/img/xp_component.png
  doc/ecs/components/img/xp_component.uxf
  doc/ecs/components/interaction_component.md
  doc/ecs/components/inventory_component.md
  doc/ecs/components/player_component.md
  doc/ecs/components/readme.md
  doc/ecs/components/xp_component.md
  doc/readme.md
Owners: @Programmiermethoden/dungeon

update pngs
  doc/ecs/components/img/collision_component.png
  doc/ecs/components/img/draw_component.png
Owners: @Programmiermethoden/dungeon

Finished GameOver
  game/src/ecs/entities/BearTrap.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Monsters/Demon.java
  game/src/ecs/entities/Monsters/Imp.java
  game/src/ecs/entities/Monsters/Slime.java
  game/src/ecs/graphic/hud/GameOverHUD.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix XPSystemTest after changes
  game/test/contrib/systems/XPSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix system update calls in tests
  game/test/contrib/systems/HealthSystemTest.java
  game/test/contrib/systems/SkillSystemTest.java
  game/test/core/systems/DrawSystemTest.java
  game/test/core/systems/VelocitySystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

add DelayedEntitySet and setup Entty and Game for new system
  game/src/core/Entity.java
  game/src/core/Game.java
  game/src/core/System.java
  game/src/core/utils/DelayedEntitySet.java
  game/src/core/utils/DelayedSet.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix game
  game/src/core/Entity.java
  game/src/core/Game.java
  game/src/core/utils/DelayedSet.java
Owners: @AMatutat, @Programmiermethoden/codrs

rearrange Game methods
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

remove Consumer Interface from system, make accept return a bool, make add the key-method
  game/src/contrib/systems/AISystem.java
  game/src/contrib/systems/CollisionSystem.java
  game/src/contrib/systems/DebuggerSystem.java
  game/src/contrib/systems/HealthSystem.java
  game/src/contrib/systems/ProjectileSystem.java
  game/src/contrib/systems/SkillSystem.java
  game/src/contrib/systems/XPSystem.java
  game/src/core/Game.java
  game/src/core/System.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/PlayerSystem.java
  game/src/core/systems/VelocitySystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

refactor SkillSystem
  game/src/contrib/systems/SkillSystem.java
  game/src/contrib/systems/XPSystem.java
  game/src/core/System.java
Owners: @AMatutat, @Programmiermethoden/codrs

found more custom Loglevel
  game/src/core/Entity.java
Owners: @AMatutat, @Programmiermethoden/codrs

refactore DrawSystem and add some util functions to system
  game/src/core/System.java
  game/src/core/systems/DrawSystem.java
  game/src/core/utils/DelayedSet.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix CollisionSystemTest after changes
  game/test/contrib/systems/CollisionSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

refactor CollisionSystem
  game/src/contrib/systems/CollisionSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

refactor aisystem
  game/src/contrib/systems/AISystem.java
  game/src/contrib/systems/DebuggerSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

ij cleanup Game
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

add entities for new systems
  game/src/core/System.java
  game/test/contrib/systems/HealthSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix last test
  game/test/contrib/systems/HealthSystemTest.java
  game/test/core/systems/DrawSystemTest.java
  game/test/core/systems/VelocitySystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

add accept method to debuggerSystem
  game/src/contrib/systems/DebuggerSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

refactor HealthSystem
  game/src/contrib/systems/HealthSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

update SystemTests
  game/test/core/SystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

better DelayedSetTests
  game/test/core/utils/DelayedSetTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon
