Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon

Add PR for conceptual uncertainty
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

Add notes about usage and concept behind encapsulatedObject
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add sequence diagram for component prototype creation
  doc/dsl/img/create_component_prototype.png
  doc/dsl/img/create_component_prototype.uxf
Owners: @Programmiermethoden/dungeon

Format and add description about difference between IEnvironment and RuntimeEnvironment
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

change H1 headers to H2
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Sketch out rest of interpretation-laufzeit.md
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add yaml header
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add more explanation about the amount of interpreting, that the interpreter does
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add link to component documentation
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add explanation about evaluation
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Describe AggregateValue
  doc/dsl/img/aggregate_value_objects.png
  doc/dsl/img/aggregate_value_objects.uxf
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Clarify challenge of TODO
  dsl/src/runtime/EncapsulatedObject.java
Owners: @malt-r, @Programmiermethoden/dungeon

[DSL] Doku zu Interpretation und Laufzeit (#328)
  doc/dsl/img/aggregate_value_objects.png
  doc/dsl/img/aggregate_value_objects.uxf
  doc/dsl/img/create_component_prototype.png
  doc/dsl/img/create_component_prototype.uxf
  doc/dsl/img/create_prototype.png
  doc/dsl/img/create_prototype.uxf
  doc/dsl/img/imemoryspace_uml.png
  doc/dsl/img/imemoryspace_uml.uxf
  doc/dsl/img/instance_prototype_objects.png
  doc/dsl/img/instance_prototype_objects.uxf
  doc/dsl/img/instantiate_java_class.png
  doc/dsl/img/instantiate_java_class.uxf
  doc/dsl/img/instantiate_prototype.png
  doc/dsl/img/instantiate_prototype.uxf
  doc/dsl/img/interpretation_pipeline.png
  doc/dsl/img/interpretation_pipeline.uxf
  doc/dsl/img/prototype_objects.png
  doc/dsl/img/prototype_objects.uxf
  doc/dsl/img/value_uml.png
  doc/dsl/img/value_uml.uxf
  doc/dsl/interpretation_laufzeit.md
  doc/dsl/readme.md
  doc/dsl/sprachkonzepte.md
  doc/dsl/typebuilding.md
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/runtime/EncapsulatedObject.java
  dsl/src/semanticanalysis/types/TypeInstantiator.java
Owners: @Programmiermethoden/dungeon, @malt-r

add assets for xpBar and healthBar
  game/assets/hud/healthBar/healthBar_1.png
  game/assets/hud/healthBar/healthBar_2.png
  game/assets/hud/healthBar/healthBar_3.png
  game/assets/hud/healthBar/healthBar_4.png
  game/assets/hud/healthBar/healthBar_5.png
  game/assets/hud/healthBar/healthBar_6.png
  game/assets/hud/healthBar/healthBar_7.png
  game/assets/hud/xpBar/xpBar_1.png
  game/assets/hud/xpBar/xpBar_2.png
  game/assets/hud/xpBar/xpBar_3.png
  game/assets/hud/xpBar/xpBar_4.png
  game/assets/hud/xpBar/xpBar_5.png
  game/assets/hud/xpBar/xpBar_6.png
  game/assets/hud/xpBar/xpBar_7.png
Owners: @AMatutat, @Programmiermethoden/codrs

add cause to DamageProjectile
  game/src/contrib/utils/components/skill/DamageProjectile.java
Owners: @AMatutat, @Programmiermethoden/codrs

add assets
  game/assets/animation/bag_small.png
  game/assets/animation/blueBook.png
  game/assets/animation/bronzeBow.png
  game/assets/animation/inventar.png
  game/assets/animation/inventorySlot.png
Owners: @AMatutat, @Programmiermethoden/codrs

change movement and hotkeys
  game/src/core/components/PlayerComponent.java
  game/src/core/systems/VelocitySystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

add HeroUI
  game/src/core/hud/HeroUI.java
Owners: @AMatutat, @Programmiermethoden/codrs

change itemData, ItemDataGenerator and WorldItemBuilder
  game/src/contrib/entities/WorldItemBuilder.java
  game/src/contrib/utils/components/item/ItemData.java
  game/src/contrib/utils/components/item/ItemDataGenerator.java
Owners: @AMatutat, @Programmiermethoden/codrs

add InventoryGUI
  game/src/contrib/entities/EntityFactory.java
  game/src/core/Game.java
  game/src/core/hud/Inventory/InventoryGUI.java
  game/src/core/hud/Inventory/InventoryItem.java
  game/src/core/hud/Inventory/InventorySlot.java
Owners: @AMatutat, @Programmiermethoden/codrs

add testEnemy and hero components
  game/src/contrib/entities/EntityFactory.java
Owners: @AMatutat, @Programmiermethoden/codrs

update HealthSystem
  game/src/contrib/systems/HealthSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

add getHeroPosition to SkillTools
  game/src/contrib/utils/components/skill/SkillTools.java
Owners: @AMatutat, @Programmiermethoden/codrs

add HeroUI to Game
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Create ManaComponent.java
  game/src/ecs/components/ManaComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Added Regeneration to ManaComponent
  game/src/ecs/components/ManaComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Create ManaSystem.java
  game/src/ecs/systems/ManaSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

Creation DurationSkill, Modification of Skill
  game/src/ecs/components/skill/DurationSkill.java
  game/src/ecs/components/skill/Skill.java
Owners: @AMatutat, @Programmiermethoden/codrs

Create IDurationSkillFunction.java
  game/src/ecs/components/skill/IDurationSkillFunction.java
Owners: @AMatutat, @Programmiermethoden/codrs

Changes to the mechanics of DurationSkills
  game/src/ecs/components/skill/DurationSkill.java
  game/src/ecs/components/skill/IDurationSkillFunction.java
  game/src/ecs/components/skill/Skill.java
Owners: @AMatutat, @Programmiermethoden/codrs

Added Rage.java
  game/src/ecs/components/skill/IDurationSkillFunction.java
  game/src/ecs/components/skill/Rage.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update Rage.java
  game/src/ecs/components/skill/Rage.java
Owners: @AMatutat, @Programmiermethoden/codrs

ManaComponent Added to Hero
  game/src/ecs/entities/Hero.java
  game/src/saving/Saves.java
Owners: @AMatutat, @Programmiermethoden/codrs

Hero now has StatsComponent
  game/src/ecs/entities/Hero.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Hero now has Rage instead of Explosion
  game/src/ecs/entities/Hero.java
  game/src/saving/Saves.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

XPComponent Added to Hero
  game/src/ecs/entities/Hero.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

XPComponents Added to monsters
  game/src/ecs/entities/Boss.java
  game/src/ecs/entities/Chort.java
  game/src/ecs/entities/DarkKnight.java
  game/src/ecs/entities/Imp.java
Owners: @AMatutat, @Programmiermethoden/codrs

Reworked the XPSystem
  game/src/ecs/entities/Hero.java
  game/src/ecs/systems/XPSystem.java
  game/src/starter/Game.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

change InventoryGUI
  game/src/core/hud/Inventory/InventoryGUI.java
  game/src/core/hud/Inventory/InventoryItem.java
  game/src/core/hud/Inventory/InventorySlot.java
  game/src/core/hud/Inventory/InventorySlotSource.java
  game/src/core/hud/Inventory/InventorySlotTarget.java
  game/src/core/utils/Constants.java
Owners: @AMatutat, @Programmiermethoden/codrs

add new font
  game/assets/skin/DungeonFont.ttf
Owners: @AMatutat, @Programmiermethoden/codrs
