Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon

rename interface and enum
  game/src/core/components/DrawComponent.java
  game/src/core/utils/components/draw/Animation.java
  game/src/core/utils/components/draw/CoreAnimations.java
  game/src/core/utils/components/draw/IPath.java
Owners: @AMatutat, @Programmiermethoden/codrs

some ij feedback
  game/src/core/components/DrawComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

rename frameTime, better Animation of
  game/src/core/components/DrawComponent.java
  game/src/core/utils/components/draw/Animation.java
Owners: @AMatutat, @Programmiermethoden/codrs

add logging for null animation
  game/src/core/components/DrawComponent.java
  game/src/core/utils/components/draw/Animation.java
Owners: @AMatutat, @Programmiermethoden/codrs

some more ij feedback
  game/src/core/utils/components/draw/Animation.java
Owners: @AMatutat, @Programmiermethoden/codrs

use pathSeprator
  game/src/core/components/DrawComponent.java
  game/src/core/utils/components/draw/CoreAnimationPathEnum.java
Owners: @AMatutat, @Programmiermethoden/codrs

update velocity component and system
  game/src/core/components/VelocityComponent.java
  game/src/core/systems/VelocitySystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

some javadoc
  game/src/core/components/DrawComponent.java
  game/src/core/components/VelocityComponent.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/VelocitySystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

remove TextureHandler
  dsl/src/runtime/GameEnvironment.java
  game/src/core/Game.java
  game/src/core/utils/components/draw/PainterConfig.java
  game/src/core/utils/components/draw/TextureHandler.java
Owners: @malt-r, @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

fix game tests
  game/assets/character/knight/die/knight_m_hit_anim_f0.png
  game/test/contrib/components/HealthComponentTest.java
  game/test/contrib/systems/HealthSystemTest.java
  game/test/core/components/DrawComponentTest.java
  game/test/core/components/VelocityComponentTest.java
  game/test/core/systems/DrawSystemTest.java
  game/test/core/systems/VelocitySystemTest.java
  game/test/core/utils/components/draw/TextureHandlerTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

do not add DrawComponent to DSL#GameEnvironment
  dsl/src/runtime/GameEnvironment.java
Owners: @malt-r, @Programmiermethoden/dungeon

last rebase fixes
  dungeon/src/dslToGame/AnimationBuilder.java
  game/src/contrib/components/SkillComponent.java
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/core/components/VelocityComponent.java
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

add anoutehr Animation of method with more configuration options
  game/src/core/utils/components/draw/Animation.java
Owners: @AMatutat, @Programmiermethoden/codrs

sort files in case that the files are not in lexi order
  game/src/core/utils/components/draw/Animation.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update game/src/contrib/components/HealthComponent.java
  game/src/contrib/components/HealthComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

rename AdditionalAnimations and add javadoc
  game/src/contrib/systems/HealthSystem.java
  game/src/contrib/utils/components/draw/AdditionAnimations.java
  game/src/contrib/utils/components/draw/AdditionalAnimations.java
  game/src/core/components/DrawComponent.java
  game/test/contrib/systems/HealthSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

crash at exception
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/core/Game.java
  game/src/starter/Main.java
  game/test/contrib/entities/ChestTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

add pr link in dsl comments
  dsl/src/runtime/GameEnvironment.java
Owners: @malt-r, @Programmiermethoden/dungeon

better comment in dsl
  dsl/src/runtime/GameEnvironment.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add missing headers
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Add notes about possibility of correct_answer_indices to be empty
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Update code sample for replacement task
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Update description of members of replacement task
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Add note about semantic entailment of values in replacement task definition
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Add diagram
  doc/dsl/img/replacement_task_entities.uxf
Owners: @Programmiermethoden/dungeon

Include diagram in document
  doc/dsl/data_task_definition.md
  doc/dsl/img/replacement_task_entities.png
Owners: @Programmiermethoden/dungeon

Outsource ProtectOnApproach PR
  game/src/ecs/components/ai/transition/ProtectOnAttack.java
  game/test/ecs/components/ai/transition/ProtectOnAttackTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Outsource ProtectOnApproach
  game/src/ecs/components/ai/transition/ProtectOnApproach.java
  game/test/ecs/components/ai/transition/ProtectOnApproachTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Outsource ProtectOnAttack
  game/src/ecs/components/ai/transition/ProtectOnApproach.java
  game/src/ecs/components/ai/transition/ProtectOnAttack.java
  game/test/ecs/components/ai/transition/ProtectOnApproachTest.java
  game/test/ecs/components/ai/transition/ProtectOnAttackTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Remove TODO
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Update example for mapping task
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Update member description for mapping task
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Remove old descriptions of mapping members
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Remove alternative notation of mapping task
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Remove TODOs
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Add commas in mapping task code
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Update code sample for "Lücken füllen"
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Update member description for "Lücken füllen"
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Remove obsolete sample and TODOs
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Format document
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon
