Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon

rebase
  game/src/builder/ChestBuilder.java
  game/src/builder/EntityBuilder.java
  game/src/builder/HeroBuilder.java
  game/src/ecs/components/InteractionComponent.java
  game/src/ecs/entities/Entity.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/items/ItemData.java
  game/src/ecs/systems/CollisionSystem.java
  game/src/starter/Game.java
  game/test/ecs/components/AIComponentTest.java
  game/test/ecs/components/AnimationComponentTest.java
  game/test/ecs/components/PlayableComponentTest.java
  game/test/ecs/components/PositionComponentTest.java
  game/test/ecs/components/SkillComponentTest.java
  game/test/ecs/components/VelocityComponentTest.java
  game/test/ecs/entities/ChestTest.java
  game/test/starter/GameTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

rebase
  game/src/builder/EntityBuilder.java
  game/src/builder/HeroBuilder.java
  game/src/content/component_utils/interaction/DropItemsInteraction.java
  game/src/content/entity/EntityFactory.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

rebase
  game/test/ecs/entities/ChestTest.java
  game/test/ecs/tools/interaction/InteractionToolTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

cleanup test helper method
  game/test/ecs/tools/interaction/InteractionToolTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

last rebase fixes and spotless
  game/src/starter/Game.java
  game/test/ecs/components/SkillComponentTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix fireball hitbox
  game/src/ecs/components/skill/FireballSkill.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] add Game Debug Tools (#495)
  game/src/configuration/KeyboardConfig.java
  game/src/starter/Game.java
  game/src/tools/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

rebase
  build.gradle
  game/src/starter/DesktopLauncher.java
  game/src/starter/Game.java
  game/src/starter/LibgdxSetup.java
  game/src/starter/Main.java
  game/test/controller/LibgdxSetupTest.java
  game/test/mydungeon/DesktopLauncherTest.java
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

rebase
  game/src/starter/Game.java
  game/src/starter/Main.java
Owners: @AMatutat, @Programmiermethoden/codrs

refactore starter
  game/src/starter/Game.java
  game/src/starter/Main.java
  game/test/controller/LibgdxSetupTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

last fiexes after rebase and spotless
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] fix bug in TileLevelTest.test_findPath_moreThanOnePathPossible (#647)
  game/test/level/TileLevelTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

change libgdx version
  build.gradle
Owners: @cagix

update checkstyle
  build.gradle
Owners: @cagix

make entity final class, add javadoc
  game/src/content/component_utils/interaction/DropItemsInteraction.java
  game/src/ecs/entities/Entity.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add level handling in multiplayer
  game/src/mp/IMultiplayer.java
  game/src/mp/MultiplayerAPI.java
  game/src/mp/client/IMultiplayerClientObserver.java
  game/src/mp/client/MultiplayerClient.java
  game/src/mp/packages/NetworkSetup.java
  game/src/mp/packages/request/ChangeMapRequest.java
  game/src/mp/packages/request/InitServerRequest.java
  game/src/mp/packages/request/LoadMapRequest.java
  game/src/mp/packages/response/ChangeMapResponse.java
  game/src/mp/packages/response/InitServerResponse.java
  game/src/mp/packages/response/InitializeServerResponse.java
  game/src/mp/packages/response/LoadMapResponse.java
  game/src/mp/packages/serializer/InitServerResponseSerializer.java
  game/src/mp/packages/serializer/InitializeServerResponseSerializer.java
  game/src/mp/packages/serializer/LoadMapRequestSerializer.java
  game/src/mp/packages/serializer/LoadMapResponseSerializer.java
  game/src/mp/server/MultiplayerServer.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

General remarks
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

Add combined use case of task dependencies
  doc/control_mechanisms/img/combined.png
  doc/control_mechanisms/img/combined.uxf
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

Add remarks about translation from graph to petri-net
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

Update game/src/starter/Main.java
  game/src/starter/Main.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] make Entity final and add EntityFactory (#618)
  game/src/content/component_utils/interaction/DropItemsInteraction.java
  game/src/content/entity/EntityFactory.java
  game/src/ecs/components/InteractionComponent.java
  game/src/ecs/components/skill/FireballSkill.java
  game/src/ecs/entities/Entity.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/items/ItemData.java
  game/src/ecs/systems/CollisionSystem.java
  game/src/starter/Game.java
  game/test/ecs/components/AIComponentTest.java
  game/test/ecs/components/AnimationComponentTest.java
  game/test/ecs/components/PlayableComponentTest.java
  game/test/ecs/components/PositionComponentTest.java
  game/test/ecs/components/SkillComponentTest.java
  game/test/ecs/components/VelocityComponentTest.java
  game/test/ecs/entities/ChestTest.java
  game/test/ecs/tools/interaction/InteractionToolTest.java
  game/test/starter/GameTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] merge DesktopLauncher und LibGdxSetup into Game (#617)
  build.gradle
  game/src/starter/DesktopLauncher.java
  game/src/starter/Game.java
  game/src/starter/LibgdxSetup.java
  game/src/starter/Main.java
  game/test/controller/LibgdxSetupTest.java
  game/test/mydungeon/DesktopLauncherTest.java
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

Branch for PullRequest
  game/src/ecs/components/ai/transition/ProtectOnApproach.java
  game/src/ecs/components/ai/transition/ProtectOnAttack.java
  game/test/ecs/components/ai/transition/ProtectOnApproachTest.java
  game/test/ecs/components/ai/transition/ProtectOnAttackTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

-Bessere JavaDocs und Typo fixed -Liste zum HashSet und Parameter generisch gemacht -Werfe Exception wenn Entity ohne HealthComponent in Liste ist
  game/src/ecs/components/ai/transition/ProtectOnApproach.java
  game/src/ecs/components/ai/transition/ProtectOnAttack.java
  game/test/ecs/components/ai/transition/ProtectOnApproachTest.java
  game/test/ecs/components/ai/transition/ProtectOnAttackTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Refactoring
  autosave.txt
  game/src/ecs/components/skill/DamageMeleeSkill.java
  game/src/ecs/components/skill/DamageProjectileSkill.java
  game/src/ecs/components/skill/ExplosivePebbleSkill.java
  game/src/ecs/components/skill/ExplosiveProjectileSkill.java
  game/src/ecs/components/skill/PiercingArrowSkill.java
  game/src/ecs/components/skill/PiercingProjectileSkill.java
  game/src/ecs/components/skill/ReturningProjectileSkill.java
  game/src/ecs/components/skill/SkillTools.java
  game/src/ecs/components/skill/StabSkill.java
  game/src/ecs/entities/Chort.java
  game/src/ecs/entities/DamageTrap.java
  game/src/ecs/entities/DarkKnight.java
  game/src/ecs/entities/Imp.java
  game/src/ecs/entities/Monster.java
  game/src/ecs/entities/SummoningTrap.java
  game/src/ecs/entities/TeleportationTrap.java
  game/src/ecs/entities/Trap.java
  game/src/starter/Game.java
  saves/autosave.txt
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

Package renaming
  game/src/ecs/components/Traps/Damage.java
  game/src/ecs/components/Traps/ITrigger.java
  game/src/ecs/components/Traps/Summon.java
  game/src/ecs/components/Traps/Teleportation.java
  game/src/ecs/components/ai/idle/CircleWalk.java
  game/src/ecs/entities/DamageTrap.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Imp.java
  game/src/ecs/entities/Monster.java
  game/src/ecs/entities/SummoningTrap.java
  game/src/ecs/entities/TeleportationTrap.java
  game/src/ecs/entities/Trap.java
  game/src/saving/GameData.java
  game/src/saving/Saves.java
  game/src/starter/Game.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

[Game] Gradle Plugins und libs stärker beschränken (#633)
  build.gradle
Owners: @cagix

undo content->contrb in Readme
  README.md
Owners: @cagix

fix refactor problems
  game/src/api/systems/DebuggerSystem.java
  game/src/content/utils/component_utils/interactionComponent/DropItemsInteraction.java
  game/test/api/components/CollisionComponentTest.java
  game/test/api/systems/CollisionSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

move explicit configuration into content
  game/src/api/ecs/items/ItemData.java
  game/src/api/ecs/systems/PlayerSystem.java
  game/src/api/tools/Debugger.java
  game/src/content/configuration/ItemConfig.java
  game/src/content/configuration/KeyboardConfig.java
  game/src/starter/Game.java
  game/src/starter/Main.java
  game/test/api/ecs/items/ItemDataTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

move PlayerSystem into system package
  game/src/api/Game.java
  game/src/content/systems/PlayerSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

create module dungeon for project dungeon2022/2023
  build.gradle
  dungeon/src/quizquestion/DummyQuizQuestionList.java
  dungeon/src/quizquestion/QuizQuestion.java
  dungeon/src/quizquestion/QuizQuestionContent.java
  game/src/api/Game.java
  game/src/api/utils/hud/ButtonGroup.java
  game/src/api/utils/hud/DialogDesign.java
  game/src/api/utils/hud/ResponsiveDialogue.java
  game/src/api/utils/hud/TextDialog.java
  game/src/api/utils/hud/UITools.java
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

change contrib->content in uitools doc
  doc/basics/quiz_dialog.md
Owners: @Programmiermethoden/dungeon

move configurations files to api
  game/src/api/Game.java
  game/src/api/configuration/ItemConfig.java
  game/src/api/configuration/KeyboardConfig.java
  game/src/api/systems/DebuggerSystem.java
  game/src/api/systems/PlayerSystem.java
  game/src/api/utils/componentUtils/itemComponent/ItemData.java
  game/src/starter/Main.java
  game/test/api/utils/componentUtils/itemComponent/ItemDataTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

update workaround for spotless
  gradle.properties
Owners: @cagix

move playercomponent into core
  game/src/core/Game.java
  game/src/core/components/PlayerComponent.java
  game/src/core/systems/PlayerSystem.java
  game/test/core/components/PlayerComponentTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

merge dsl-connector and dungeon
  build.gradle
  dsl-connector/test/graph/TestGraphs.java
  dungeon/src/dslToGame/AnimationBuilder.java
  dungeon/src/dslToGame/ConvertedGraph.java
  dungeon/src/dslToGame/DotToLevelGraph.java
  dungeon/src/dslToGame/QuestConfig.java
  dungeon/src/dslToGame/graph/Edge.java
  dungeon/src/dslToGame/graph/Graph.java
  dungeon/src/dslToGame/graph/Node.java
  dungeon/src/dslToGame/graph/Property.java
  dungeon/src/dslToGame/graph/PropertyBag.java
  dungeon/src/quest/IEvaluable.java
  dungeon/src/quest/Quest.java
  dungeon/src/quest/QuestFactory.java
Owners: @cagix, @malt-r, @AMatutat, @Programmiermethoden/dungeon

move hud to toplevel of core
  dungeon/src/quizquestion/QuizQuestion.java
  game/src/core/Game.java
  game/src/core/hud/ButtonGroup.java
  game/src/core/hud/DialogDesign.java
  game/src/core/hud/EditableText.java
  game/src/core/hud/FontBuilder.java
  game/src/core/hud/LabelStyleBuilder.java
  game/src/core/hud/NotEditableText.java
  game/src/core/hud/ResponsiveDialogue.java
  game/src/core/hud/ScreenButton.java
  game/src/core/hud/ScreenImage.java
  game/src/core/hud/ScreenInput.java
  game/src/core/hud/ScreenText.java
  game/src/core/hud/Scroller.java
  game/src/core/hud/TextButtonListener.java
  game/src/core/hud/TextButtonStyleBuilder.java
  game/src/core/hud/TextDialog.java
  game/src/core/hud/TextFieldStyleBuilder.java
  game/src/core/hud/UITools.java
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

Added GameOverHUD
  game/src/ecs/entities/BearTrap.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Mine.java
  game/src/ecs/entities/Monster.java
  game/src/ecs/entities/Monsters/Demon.java
  game/src/ecs/entities/Monsters/Imp.java
  game/src/ecs/entities/Monsters/Slime.java
  game/src/ecs/graphic/hud/GameOverHUD.java
Owners: @AMatutat, @Programmiermethoden/codrs

update spotless to 6.18.0
  build.gradle
Owners: @cagix
