Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon

Use array index in code snippet instead of answers.0 notation
  doc/control-mechanisms/reporting.md
Owners: @Programmiermethoden/dungeon

Refactoring of Boss AIs
  game/src/ecs/components/ai/fight/BossAI.java
  game/src/ecs/components/ai/idle/BossWalk.java
  game/src/ecs/entities/Boss.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add note about different notations for defining correct answer
  doc/dsl/readme.md
Owners: @Programmiermethoden/dungeon

[GAME] add local entity-sets for systems and remove system controller (#669)
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/systems/AISystem.java
  game/src/contrib/systems/CollisionSystem.java
  game/src/contrib/systems/DebuggerSystem.java
  game/src/contrib/systems/HealthSystem.java
  game/src/contrib/systems/ProjectileSystem.java
  game/src/contrib/systems/SkillSystem.java
  game/src/contrib/systems/XPSystem.java
  game/src/contrib/utils/components/interaction/InteractionTool.java
  game/src/contrib/utils/components/skill/DamageProjectileSkill.java
  game/src/core/Component.java
  game/src/core/Entity.java
  game/src/core/Game.java
  game/src/core/System.java
  game/src/core/hud/UITools.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/PlayerSystem.java
  game/src/core/systems/VelocitySystem.java
  game/src/core/utils/DelayedSet.java
  game/src/core/utils/controller/SystemController.java
  game/test/contrib/components/HealthComponentTest.java
  game/test/contrib/components/SkillComponentTest.java
  game/test/contrib/components/XPComponentTest.java
  game/test/contrib/entities/ChestTest.java
  game/test/contrib/systems/AISystemTest.java
  game/test/contrib/systems/CollisionSystemTest.java
  game/test/contrib/systems/HealthSystemTest.java
  game/test/contrib/systems/SkillSystemTest.java
  game/test/contrib/systems/XPSystemTest.java
  game/test/contrib/utils/components/health/DropLootTest.java
  game/test/contrib/utils/components/interaction/ControlPointReachableTest.java
  game/test/contrib/utils/components/interaction/InteractionToolTest.java
  game/test/contrib/utils/components/item/ItemDataTest.java
  game/test/core/EntityTest.java
  game/test/core/SystemTest.java
  game/test/core/systems/DrawSystemTest.java
  game/test/core/systems/VelocitySystemTest.java
  game/test/core/utils/DelayedSetTest.java
  game/test/core/utils/DungeonCameraTest.java
  game/test/starter/GameTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Refactoring
  game/src/ecs/components/ai/fight/BossAI.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Refactoring
  game/src/ecs/entities/Bag.java
  game/src/ecs/entities/Cake.java
  game/src/ecs/entities/Item.java
  game/src/ecs/entities/MonsterPotion.java
  game/src/ecs/entities/SpeedPotion.java
  game/src/ecs/items/ItemData.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Refactoring
  game/src/ecs/components/quests/QuestComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

JavaDoc
  game/src/ecs/components/quests/LevelUpQuest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Bugfix
  game/src/ecs/entities/Bag.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Bog Fixes
  game/src/ecs/components/ai/fight/BossAI.java
  game/src/ecs/components/skill/Skill.java
  game/src/ecs/components/skill/SkillComponent.java
  game/src/ecs/entities/Boss.java
Owners: @AMatutat, @Programmiermethoden/codrs

[Doc] Definiere Aufgabentypen, Mechaniken und Szenarien (#444)
  doc/control_mechanisms/level_loading.md
  doc/control_mechanisms/reporting.md
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

coolDown in Skill
  game/src/contrib/components/SkillComponent.java
  game/src/contrib/systems/SkillSystem.java
  game/src/contrib/utils/components/skill/Skill.java
  game/test/contrib/systems/SkillSystemTest.java
  game/test/contrib/systems/SkillTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

fixed tests
  game/src/contrib/utils/components/skill/Skill.java
  game/test/contrib/systems/SkillSystemTest.java
  game/test/contrib/systems/SkillTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

deleted skillComponent
  game/src/contrib/components/SkillComponent.java
  game/src/contrib/entities/EntityFactory.java
  game/test/contrib/components/SkillComponentTest.java
  game/test/contrib/systems/SkillTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

fixed little bug after rebase
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

set canBeUsedAgain and activateCoolDown to private
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/utils/components/skill/Skill.java
  game/test/contrib/systems/SkillTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] remove SkillComponent and SkillSystem (#672)
  game/src/contrib/components/SkillComponent.java
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/systems/SkillSystem.java
  game/src/contrib/utils/components/skill/Skill.java
  game/src/core/Game.java
  game/test/contrib/components/SkillComponentTest.java
  game/test/contrib/systems/SkillSystemTest.java
  game/test/contrib/systems/SkillTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

coolDown in Skill
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

added javadoc
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/contrib/utils/components/skill/FireballSkill.java
  game/src/contrib/utils/components/skill/ISkillFunction.java
  game/src/contrib/utils/components/skill/Skill.java
  game/src/contrib/utils/components/skill/SkillTools.java
Owners: @AMatutat, @Programmiermethoden/codrs

[Doc] Definiere Reporting-Konzept (#678)
  doc/control-mechanisms/reporting.md
  doc/dsl/readme.md
Owners: @Programmiermethoden/dungeon

repalced ISkillFunction with Consumer<Entity>
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/contrib/utils/components/skill/ISkillFunction.java
  game/src/contrib/utils/components/skill/Skill.java
  game/src/core/Game.java
  game/test/contrib/systems/SkillTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

repalced ITargetSelection with Supplier<Point>
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/contrib/utils/components/skill/FireballSkill.java
  game/src/contrib/utils/components/skill/ITargetSelection.java
Owners: @AMatutat, @Programmiermethoden/codrs

Rename mockECS package to mockecs
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/interpreter/mockecs/Entity.java
  dsl/test/interpreter/mockecs/ExternalType.java
  dsl/test/interpreter/mockecs/ExternalTypeBuilder.java
  dsl/test/interpreter/mockecs/ExternalTypeBuilderMultiParam.java
  dsl/test/interpreter/mockecs/TestComponent1.java
  dsl/test/interpreter/mockecs/TestComponent2.java
  dsl/test/interpreter/mockecs/TestComponentWithExternalType.java
  dsl/test/semanticanalysis/types/TestTypeBuilder.java
Owners: @malt-r, @Programmiermethoden/dungeon

spotlessApply
  dsl/src/interpreter/DSLInterpreter.java
  dsl/test/helpers/Helpers.java
Owners: @malt-r, @Programmiermethoden/dungeon

added javadoc for skill
  game/src/contrib/components/ProjectileComponent.java
  game/src/contrib/systems/ProjectileSystem.java
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/contrib/utils/components/skill/FireballSkill.java
  game/src/contrib/utils/components/skill/Skill.java
  game/src/contrib/utils/components/skill/SkillTools.java
Owners: @AMatutat, @Programmiermethoden/codrs

spotless
  game/src/contrib/systems/ProjectileSystem.java
  game/src/contrib/utils/components/skill/DamageProjectile.java
Owners: @AMatutat, @Programmiermethoden/codrs

refactor player component
  game/src/contrib/entities/EntityFactory.java
  game/src/core/components/PlayerComponent.java
  game/src/core/systems/PlayerSystem.java
  game/test/core/components/PlayerComponentTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Fix directory name of control-mechanisms/reporting.md
  doc/control-mechanisms/reporting.md
  doc/control_mechanisms/reporting.md
Owners: @Programmiermethoden/dungeon

Remove obsolete TODO
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

[GAME] add documentation for skill (#674)
  game/src/contrib/components/ProjectileComponent.java
  game/src/contrib/systems/ProjectileSystem.java
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/contrib/utils/components/skill/FireballSkill.java
  game/src/contrib/utils/components/skill/ISkillFunction.java
  game/src/contrib/utils/components/skill/ITargetSelection.java
  game/src/contrib/utils/components/skill/Skill.java
  game/src/contrib/utils/components/skill/SkillTools.java
  game/test/contrib/systems/SkillTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

[Doc] Ordnername "control-mechanisms" korrigieren (#691)
  doc/control-mechanisms/reporting.md
  doc/control_mechanisms/reporting.md
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

[GAME] Refactor PlayerComponent (#692)
  game/src/contrib/entities/EntityFactory.java
  game/src/core/components/PlayerComponent.java
  game/src/core/systems/PlayerSystem.java
  game/test/core/components/PlayerComponentTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

replaced IFightAI with Consumer<Entity>
  game/src/contrib/components/AIComponent.java
  game/src/contrib/utils/components/ai/IFightAI.java
  game/src/contrib/utils/components/ai/fight/CollideAI.java
  game/src/contrib/utils/components/ai/fight/MeleeAI.java
  game/src/contrib/utils/components/ai/fight/RangeAI.java
  game/test/contrib/components/AIComponentTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

replaces IIdleAI with Consumer<Entity>
  game/src/contrib/components/AIComponent.java
  game/src/contrib/utils/components/ai/IIdleAI.java
  game/src/contrib/utils/components/ai/idle/PatrouilleWalk.java
  game/src/contrib/utils/components/ai/idle/RadiusWalk.java
  game/src/contrib/utils/components/ai/idle/StaticRadiusWalk.java
  game/test/contrib/components/AIComponentTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

replaces ITransition with Function <Entity, Boolean>Entity
  game/src/contrib/components/AIComponent.java
  game/src/contrib/utils/components/ai/ITransition.java
  game/src/contrib/utils/components/ai/transition/RangeTransition.java
  game/src/contrib/utils/components/ai/transition/SelfDefendTransition.java
  game/test/contrib/components/AIComponentTest.java
  game/test/contrib/systems/AISystemTest.java
  game/test/contrib/utils/components/ai/SelfDefendTransitionTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

replaced IOnDeathFunction with Consumer<Entity>
  game/src/contrib/components/HealthComponent.java
  game/src/contrib/utils/components/health/DropLoot.java
  game/src/contrib/utils/components/health/IOnDeathFunction.java
  game/test/contrib/components/HealthComponentTest.java
  game/test/contrib/systems/HealthSystemTest.java
  game/test/contrib/utils/components/health/DropLootTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add proposal for data for task types
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Add description of fields for single choice task
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Add more field descriptions
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Add more field descriptions
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon
