Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

bossmonsters and preliminary monster implementation
  game/assets/character/monster/Dragon/Phase1/idle_left/Untitled.png
  game/assets/character/monster/Dragon/Phase1/idle_right/Untitled.png
  game/assets/character/monster/Dragon/Phase1/run_left/Untitled.png
  game/assets/character/monster/Dragon/Phase1/run_right/Untitled.png
  game/assets/character/monster/Dragon/Phase2/idle_left/Untitled.png
  game/assets/character/monster/Dragon/Phase2/idle_right/Untitled.png
  game/assets/character/monster/Dragon/Phase2/run_left/Untitled.png
  game/assets/character/monster/Dragon/Phase2/run_right/Untitled.png
  game/assets/monster/slime/idleLeft/slime_idle_left_f0.png
  game/assets/monster/slime/idleLeft/slime_idle_left_f1.png
  game/assets/monster/slime/idleLeft/slime_idle_left_f2.png
  game/assets/monster/slime/idleLeft/slime_idle_left_f3.png
  game/assets/monster/slime/idleRight/slime_idle_right_f0.png
  game/assets/monster/slime/idleRight/slime_idle_right_f1.png
  game/assets/monster/slime/idleRight/slime_idle_right_f2.png
  game/assets/monster/slime/idleRight/slime_idle_right_f3.png
  game/assets/monster/slime/runLeft/slime_idle_left_f0.png
  game/assets/monster/slime/runLeft/slime_idle_left_f1.png
  game/assets/monster/slime/runLeft/slime_idle_left_f2.png
  game/assets/monster/slime/runLeft/slime_idle_left_f3.png
  game/assets/monster/slime/runLeft/slime_idle_right_f0.png
  game/assets/monster/slime/runLeft/slime_idle_right_f1.png
  game/assets/monster/slime/runLeft/slime_idle_right_f2.png
  game/assets/monster/slime/runLeft/slime_idle_right_f3.png
  game/assets/monster/slime/runRight/slime_idle_right_f0.png
  game/assets/monster/slime/runRight/slime_idle_right_f1.png
  game/assets/monster/slime/runRight/slime_idle_right_f2.png
  game/assets/monster/slime/runRight/slime_idle_right_f3.png
  game/src/ecs/components/ai/idle/AlwaysAggro.java
  game/src/ecs/components/skill/SkillTools.java
  game/src/ecs/entities/BossMonster.java
  game/src/ecs/entities/DragonP1.java
  game/src/ecs/entities/DragonP2.java
  game/src/ecs/entities/Monster.java
  game/src/ecs/entities/Slime.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

SaveAndLoad
  game/src/SafeandLoad/DataStorage.java
  game/src/SafeandLoad/SafeandLoad.java
  game/src/ecs/components/HitboxComponent.java
  game/src/ecs/components/skill/MeleeSkill.java
  game/src/ecs/components/skill/SwordSkill.java
  game/src/ecs/entities/Entity.java
  game/src/ecs/entities/monsters/BasicMonster.java
  game/src/ecs/entities/monsters/Chort.java
  game/src/ecs/entities/monsters/Goblin.java
  game/src/ecs/entities/monsters/LittleChort.java
  game/src/starter/Game.java
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Add document for petri nets
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

Add task dependencies
  doc/control_mechanisms/img/conditional.png
  doc/control_mechanisms/img/conditional.uxf
  doc/control_mechanisms/img/mandatory_sequence.png
  doc/control_mechanisms/img/mandatory_sequence.uxf
  doc/control_mechanisms/img/mandatory_sequence_multi.png
  doc/control_mechanisms/img/mandatory_sequence_multi.uxf
  doc/control_mechanisms/img/mandatory_subtask.png
  doc/control_mechanisms/img/mandatory_subtask.uxf
  doc/control_mechanisms/img/optional_subtask.png
  doc/control_mechanisms/img/optional_subtask.uxf
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

Apply suggestions from code review (small fixes)
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Update relation names and add user input to doc
  doc/control_mechanisms/img/conditional.png
  doc/control_mechanisms/img/conditional.uxf
  doc/control_mechanisms/img/mandatory_sequence.png
  doc/control_mechanisms/img/mandatory_sequence.uxf
  doc/control_mechanisms/img/mandatory_sequence_multi.png
  doc/control_mechanisms/img/mandatory_sequence_multi.uxf
  doc/control_mechanisms/img/mandatory_subtask.png
  doc/control_mechanisms/img/mandatory_subtask.uxf
  doc/control_mechanisms/img/optional_subtask.png
  doc/control_mechanisms/img/optional_subtask.uxf
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

Fix unfinished sentence in scenario definition
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Gender
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Remove unnecessary information about item=entity topic
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Add keyboard-input as alternative to GUI-Buttons
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Clarify term GUI-Dialog
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Clarify inventory usage
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

add DeleyedSet
  game/src/api/utils/DelayedSet.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add "block" as entitytype
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Clarify scenario "richtige Container auswählen"
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

add tests for DelayedSet
  game/test/api/utils/DelayedSetTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Only use names of defined entitytypes in scenario definitions
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Shorten scenario description by defining "Bestrafung" and "Belohnung" up front
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Gender
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Fix links
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Game#removeEntity now removes the entity
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

update old tests for new system
  game/test/ecs/EntityTest.java
  game/test/ecs/components/DropLootTest.java
  game/test/ecs/entities/ChestTest.java
  game/test/ecs/items/ItemDataTest.java
  game/test/ecs/systems/AISystemTest.java
  game/test/ecs/systems/CollisionSystemTest.java
  game/test/ecs/systems/DrawSystemTest.java
  game/test/ecs/systems/HealthSystemTest.java
  game/test/ecs/systems/SkillSystemTest.java
  game/test/ecs/systems/VelocitySystemTest.java
  game/test/ecs/systems/XPSystemTest.java
  game/test/ecs/tools/interaction/InteractionToolTest.java
  game/test/graphic/DungeonCameraTest.java
  game/test/starter/GameTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

delete unused method
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Clarify "Aufgabe per Questgeber abschließen"
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

returny a copy of the Set in delayedSet
  game/src/api/utils/DelayedSet.java
  game/src/starter/Game.java
  game/test/api/utils/DelayedSetTest.java
  game/test/ecs/components/DropLootTest.java
  game/test/ecs/entities/ChestTest.java
  game/test/ecs/items/ItemDataTest.java
  game/test/ecs/systems/DrawSystemTest.java
  game/test/ecs/systems/HealthSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

rename Game#getDelayedSet into getDelayedEntitySet
  game/src/starter/Game.java
  game/test/ecs/EntityTest.java
  game/test/ecs/components/DropLootTest.java
  game/test/ecs/entities/ChestTest.java
  game/test/ecs/items/ItemDataTest.java
  game/test/ecs/systems/AISystemTest.java
  game/test/ecs/systems/CollisionSystemTest.java
  game/test/ecs/systems/DrawSystemTest.java
  game/test/ecs/systems/HealthSystemTest.java
  game/test/ecs/systems/SkillSystemTest.java
  game/test/ecs/systems/VelocitySystemTest.java
  game/test/ecs/systems/XPSystemTest.java
  game/test/ecs/tools/interaction/InteractionToolTest.java
  game/test/graphic/DungeonCameraTest.java
  game/test/starter/GameTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

try to fix test
  game/test/ecs/tools/interaction/InteractionToolTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Clarify distinction between mechanic and scenario
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Update game/src/api/utils/DelayedSet.java
  game/src/api/utils/DelayedSet.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] add DelayedSet (#644)
  game/src/api/utils/DelayedSet.java
  game/src/starter/Game.java
  game/test/api/utils/DelayedSetTest.java
  game/test/ecs/EntityTest.java
  game/test/ecs/components/DropLootTest.java
  game/test/ecs/entities/ChestTest.java
  game/test/ecs/items/ItemDataTest.java
  game/test/ecs/systems/AISystemTest.java
  game/test/ecs/systems/CollisionSystemTest.java
  game/test/ecs/systems/DrawSystemTest.java
  game/test/ecs/systems/HealthSystemTest.java
  game/test/ecs/systems/SkillSystemTest.java
  game/test/ecs/systems/VelocitySystemTest.java
  game/test/ecs/systems/XPSystemTest.java
  game/test/ecs/tools/interaction/InteractionToolTest.java
  game/test/graphic/DungeonCameraTest.java
  game/test/starter/GameTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Clarify collection of xp
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

rebase Game
  doc/basics/dialogWindow.md
  doc/basics/img/dialogWindow.png
  game/src/ecs/systems/System.java
  game/src/graphic/hud/ResponsiveDialogue.java
  game/src/graphic/hud/TextDialog.java
  game/src/graphic/hud/UITools.java
  game/src/starter/Game.java
  game/src/tools/Constants.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

add self made Skins for UI
  game/assets/skin/myFont.fnt
  game/assets/skin/myFont.png
  game/assets/skin/uiskin.atlas
  game/assets/skin/uiskin.json
  game/assets/skin/uiskin.png
Owners: @AMatutat, @Programmiermethoden/codrs

add some more informations in QuizQuestionUI
  game/src/quizquestion/QuizQuestionUI.java
Owners: @AMatutat, @Programmiermethoden/codrs

add some javadoc to the DummyQuizQuestionList.java
  game/src/quizquestion/DummyQuizQuestionList.java
Owners: @AMatutat, @Programmiermethoden/codrs

add images for Quiz Dialog
  doc/basics/img/Question_with_Pic.png
  doc/basics/img/Question_with_Txt.png
  doc/basics/img/Question_with_Txt_and_pic.png
Owners: @Programmiermethoden/dungeon

use QuiQuestion.askQuizQuestionWithUI as start point
  game/src/quizquestion/QuizQuestion.java
  game/src/quizquestion/QuizQuestionUI.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

add javadoc to QuizQuestionContent
  game/src/quizquestion/QuizQuestionContent.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] Verbessere Code des Dialog-Features (#546)
  game/src/ecs/systems/DrawSystem.java
  game/src/ecs/systems/System.java
  game/src/graphic/hud/PauseMenu.java
  game/src/graphic/hud/ResponsiveDialogue.java
  game/src/graphic/hud/TextDialog.java
  game/src/graphic/hud/UITools.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Added self-made skins. Code cleaning and optimisation, as well as elimination of problems with the non-recognition of umlauts.
  game/assets/image_quiz/ECS.png
  game/assets/image_quiz/ECS1t.png
  game/assets/skin/myFont.fnt
  game/assets/skin/myFont.png
  game/assets/skin/uiskin.atlas
  game/assets/skin/uiskin.json
  game/assets/skin/uiskin.png
  game/src/graphic/hud/ButtonGroup.java
  game/src/graphic/hud/DialogDesign.java
  game/src/graphic/hud/EditableText.java
  game/src/graphic/hud/NotEditableText.java
  game/src/graphic/hud/ResponsiveDialogue.java
  game/src/graphic/hud/ScreenImage.java
  game/src/graphic/hud/Scroller.java
  game/src/graphic/hud/TextDialog.java
  game/src/graphic/hud/UITools.java
  game/src/quizquestion/DummyQuizQuestionList.java
  game/src/quizquestion/QuizQuestion.java
  game/src/quizquestion/QuizQuestionUI.java
  game/src/starter/Game.java
  game/src/tools/Constants.java
Owners: @AMatutat, @Programmiermethoden/codrs

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon
