Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

add utility method
  game/src/core/hud/HeroUI.java
  game/src/core/hud/ScreenImage.java
Owners: @AMatutat, @Programmiermethoden/codrs

add ClickListener
  game/src/core/hud/Inventory/InventoryGUI.java
  game/src/core/hud/Inventory/InventoryItem.java
  game/src/core/hud/Inventory/InventorySlot.java
  game/src/core/hud/Inventory/InventorySlotClickListener.java
  game/src/core/hud/Inventory/InventorySlotSource.java
Owners: @AMatutat, @Programmiermethoden/codrs

Added Skill Keybinds
  game/src/configuration/KeyboardConfig.java
  game/src/ecs/components/PlayableComponent.java
  game/src/ecs/systems/PlayerSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

RageSkill added to hero
  game/src/ecs/entities/Hero.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Rageskill added to heroes skillcomponent
  game/src/ecs/entities/Hero.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Modified Stats
  game/src/ecs/components/stats/StatsComponent.java
  game/src/ecs/components/stats/XPModifier.java
Owners: @AMatutat, @Programmiermethoden/codrs

added Damagecomponent and added it to hero and monsters
  game/src/ecs/components/DamageComponent.java
  game/src/ecs/components/skill/StabSkill.java
  game/src/ecs/components/stats/XPModifier.java
  game/src/ecs/entities/Boss.java
  game/src/ecs/entities/Chort.java
  game/src/ecs/entities/DarkKnight.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Imp.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Minor changes to damge dealing
  game/src/ecs/components/DamageComponent.java
  game/src/ecs/entities/Chort.java
  game/src/ecs/entities/DarkKnight.java
  game/src/ecs/entities/Imp.java
Owners: @AMatutat, @Programmiermethoden/codrs

Skills now do dependent damage
  game/src/ecs/components/skill/ExplosivePebbleSkill.java
  game/src/ecs/components/skill/ExplosiveProjectileSkill.java
  game/src/ecs/components/skill/FireballSkill.java
  game/src/ecs/components/skill/PiercingArrowSkill.java
  game/src/ecs/components/skill/RubberballSkill.java
  game/src/ecs/components/skill/StabSkill.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Create Wisdom.java
  game/src/ecs/components/skill/Wisdom.java
Owners: @AMatutat, @Programmiermethoden/codrs

Create Swiftness.java
  game/src/ecs/components/skill/Swiftness.java
Owners: @AMatutat, @Programmiermethoden/codrs

Simplified the new skills
  game/src/ecs/components/skill/Rage.java
  game/src/ecs/components/skill/Swiftness.java
  game/src/ecs/components/skill/Wisdom.java
Owners: @AMatutat, @Programmiermethoden/codrs

Skills Added to hero
  game/src/ecs/components/skill/DurationSkill.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/systems/PlayerSystem.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

add item description
  game/src/contrib/entities/EntityFactory.java
  game/src/core/hud/Inventory/InventoryDescription.java
  game/src/core/hud/Inventory/InventoryDescriptionListener.java
  game/src/core/hud/Inventory/InventoryGUI.java
  game/src/core/hud/Inventory/InventorySlot.java
  game/src/core/hud/Inventory/InventorySlotSource.java
  game/src/core/utils/Constants.java
Owners: @AMatutat, @Programmiermethoden/codrs

Bug fixes
  game/src/ecs/components/ManaComponent.java
  game/src/ecs/components/skill/DurationSkill.java
  game/src/ecs/components/skill/Rage.java
  game/src/ecs/components/skill/Swiftness.java
  game/src/ecs/components/skill/Wisdom.java
  game/src/ecs/components/stats/XPModifier.java
  game/src/ecs/components/xp/ILevelUp.java
  game/src/starter/Game.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

level ubdated
  game/src/starter/SerializableGame.java
Owners: @AMatutat, @Programmiermethoden/codrs

add skin for Inventory
  game/assets/animation/inventar.png
  game/assets/animation/inventorySlot.png
  game/assets/skin/InventorySkin/inventorySkin.atlas
  game/assets/skin/InventorySkin/inventorySkin.json
  game/assets/skin/InventorySkin/inventorySkin.png
  game/assets/skin/InventorySkin/inventorySlot.png
  game/assets/skin/InventorySkin/myFont.fnt
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/utils/components/item/ItemDataGenerator.java
  game/src/core/Game.java
  game/src/core/hud/Inventory/InventoryDescription.java
  game/src/core/hud/Inventory/InventoryDescriptionListener.java
  game/src/core/hud/Inventory/InventoryGUI.java
  game/src/core/hud/Inventory/InventorySlot.java
  game/src/core/hud/Inventory/InventorySlotSource.java
  game/src/core/utils/Constants.java
Owners: @AMatutat, @Programmiermethoden/codrs

SerializableGame Added with JavaDoc
  game/src/starter/Game.java
  game/src/starter/SerializableGame.java
Owners: @AMatutat, @Programmiermethoden/codrs

SerializableGame Added with JavaDoc
  game/src/starter/Game.java
  game/src/starter/SerializableGame.java
Owners: @AMatutat, @Programmiermethoden/codrs

SerializableGame Added with JavaDoc
  game/src/starter/Game.java
  game/src/starter/SerializableGame.java
Owners: @AMatutat, @Programmiermethoden/codrs

add DamagePopup when taking damage
  game/src/contrib/components/HealthComponent.java
  game/src/contrib/systems/HealthSystem.java
  game/src/core/hud/HeroUI.java
Owners: @AMatutat, @Programmiermethoden/codrs

spotless
  game/src/contrib/components/InventoryComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

spotless
  game/src/contrib/components/ItemComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

camel case img names
  doc/ecs/components/img/item_component.png
  doc/ecs/components/img/item_component.uxf
  doc/ecs/components/item_component.md
Owners: @Programmiermethoden/dungeon

[Doc] add ItemComponent documentation (#700)
  doc/ecs/components/img/item_component.png
  doc/ecs/components/img/item_component.uxf
  doc/ecs/components/item_component.md
  game/src/contrib/components/ItemComponent.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

[Doc] add InventoryComponent documentation (#701)
  doc/ecs/components/img/inventory_component.png
  doc/ecs/components/img/inventory_component.uxf
  doc/ecs/components/inventory_component.md
  game/src/contrib/components/InventoryComponent.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

SerializableGame Added with JavaDoc
  game/src/ecs/graphic/hud/GameOverHUD.java
  game/src/starter/Game.java
  game/src/starter/SerializableGame.java
Owners: @AMatutat, @Programmiermethoden/codrs

SerializableGame Added with JavaDoc
  game/src/ecs/graphic/hud/GameOverHUD.java
  game/src/starter/Game.java
  game/src/starter/SerializableGame.java
Owners: @AMatutat, @Programmiermethoden/codrs

add new constructor to HealthComponent
  game/src/contrib/components/HealthComponent.java
  game/src/contrib/entities/EntityFactory.java
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

rename updateUI to update
  game/src/core/Game.java
  game/src/core/hud/HeroUI.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix merge issues
  game/src/contrib/entities/WorldItemBuilder.java
  game/src/contrib/utils/components/item/ItemData.java
  game/src/core/hud/Inventory/InventorySlotClickListener.java
  game/src/core/hud/Inventory/InventorySlotSource.java
Owners: @AMatutat, @Programmiermethoden/codrs

Blink added
  game/src/ecs/components/skill/Blink.java
  game/src/ecs/entities/Hero.java
  game/src/starter/Game.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

DamageLogging
  game/src/ecs/components/DamageComponent.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Extended DamageLogging
  game/src/ecs/components/DamageComponent.java
  game/src/ecs/entities/Hero.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Skills must now be earned
  game/src/ecs/components/skill/SkillComponent.java
  game/src/ecs/entities/Hero.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

refactor update method in HeroUI
  game/src/contrib/components/HealthComponent.java
  game/src/contrib/systems/HealthSystem.java
  game/src/core/hud/HeroUI.java
Owners: @AMatutat, @Programmiermethoden/codrs

Store builder method in AggregateTypeAdapter
  dsl/src/semanticanalysis/types/AggregateTypeAdapter.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add tests for creation of AggregateTypeAdapter
  dsl/test/semanticanalysis/types/TestTypeBuilder.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add doc for aggregate type adapter
  doc/dsl/typebuilding.md
Owners: @Programmiermethoden/dungeon

spotless Apply
  dsl/src/semanticanalysis/types/AggregateTypeAdapter.java
  dsl/test/semanticanalysis/types/TestTypeBuilder.java
Owners: @malt-r, @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon
