Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

setup QuizQuestionUI
  game/src/quizquestion/QuizQuestion.java
  game/src/quizquestion/QuizQuestionUI.java
Owners: @AMatutat, @Programmiermethoden/codrs

merge QuizQuestionType enum into QuizQuestion class
  game/src/quizquestion/QuizQuestion.java
  game/src/quizquestion/QuizQuestionType.java
Owners: @AMatutat, @Programmiermethoden/codrs

add javadoc for QuizQuestionType
  game/src/quizquestion/QuizQuestionType.java
Owners: @AMatutat, @Programmiermethoden/codrs

setup basic structure fpr QuizQuestions and UI
  game/src/quizquestion/QuizQuestion.java
  game/src/quizquestion/QuizQuestionContent.java
  game/src/quizquestion/QuizQuestionType.java
  game/src/quizquestion/QuizQuestionUI.java
Owners: @AMatutat, @Programmiermethoden/codrs

add Documentation for Quiz Dialog
  doc/basics/QuizDialog.md
Owners: @Programmiermethoden/dungeon

make QuizQuestion record
  game/src/quizquestion/QuizQuestion.java
Owners: @AMatutat, @Programmiermethoden/codrs

add documentation update for Text-Dialog.
  doc/basics/dialogWindow.md
  doc/basics/img/9_Patch.png
  doc/basics/img/create_9Patch.png
  doc/basics/img/dialogWindow.png
  doc/basics/img/scinComposer.png
  doc/basics/img/txt_Dialog.png
Owners: @Programmiermethoden/dungeon

add javadoc for QuizQuestin
  game/src/quizquestion/QuizQuestion.java
Owners: @AMatutat, @Programmiermethoden/codrs

format constants in javadoc conv
  game/src/graphic/hud/ButtonGroup.java
  game/src/graphic/hud/DialogDesign.java
  game/src/graphic/hud/TextDialog.java
  game/src/graphic/hud/UITools.java
Owners: @AMatutat, @Programmiermethoden/codrs

spotless
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Apply suggestions from code review
  doc/basics/QuizDialog.md
  doc/basics/dialogWindow.md
Owners: @Programmiermethoden/dungeon

rename doc file
  doc/basics/quiz_dialog.md
Owners: @Programmiermethoden/dungeon

rename img files
  doc/basics/dialog_window.md
  doc/basics/img/create_nine_patch.png
  doc/basics/img/nine_patch.png
  doc/basics/img/question_with_pic.png
  doc/basics/img/question_with_txt.png
  doc/basics/img/question_with_txt_and_pic.png
  doc/basics/img/skin_composer.png
  doc/basics/img/text_dialog.png
  doc/basics/quiz_dialog.md
Owners: @Programmiermethoden/dungeon

use some ij feedback
  game/src/graphic/hud/ButtonGroup.java
  game/src/graphic/hud/DialogDesign.java
  game/src/graphic/hud/UITools.java
Owners: @AMatutat, @Programmiermethoden/codrs

rplace ecs image with dummy image
  game/assets/image_quiz/ECS.png
  game/assets/image_quiz/ECS1t.png
  game/assets/image_quiz/dummy.png
  game/src/graphic/hud/ResponsiveDialogue.java
  game/src/quizquestion/DummyQuizQuestionList.java
  game/src/quizquestion/QuizQuestionContent.java
  game/src/tools/Constants.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix path in doc
  doc/basics/dialog_window.md
Owners: @Programmiermethoden/dungeon

fix another img path
  doc/basics/quiz_dialog.md
Owners: @Programmiermethoden/dungeon

Update doc/tasks/readme.md
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Add keyboard input in "Item aufheben"
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

"Schatzkiste" -> "Container"
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

[GAME] add Dialog GUI basics to show text and questions (#581)
  doc/basics/dialog_window.md
  doc/basics/img/create_nine_patch.png
  doc/basics/img/nine_patch.png
  doc/basics/img/question_with_pic.png
  doc/basics/img/question_with_txt.png
  doc/basics/img/question_with_txt_and_pic.png
  doc/basics/img/skin_composer.png
  doc/basics/img/text_dialog.png
  doc/basics/quiz_dialog.md
  game/assets/image_quiz/dummy.png
  game/assets/skin/myFont.fnt
  game/assets/skin/myFont.png
  game/assets/skin/uiskin.atlas
  game/assets/skin/uiskin.json
  game/assets/skin/uiskin.png
  game/src/ecs/systems/DrawSystem.java
  game/src/ecs/systems/System.java
  game/src/graphic/hud/ButtonGroup.java
  game/src/graphic/hud/DialogDesign.java
  game/src/graphic/hud/EditableText.java
  game/src/graphic/hud/NotEditableText.java
  game/src/graphic/hud/PauseMenu.java
  game/src/graphic/hud/ResponsiveDialogue.java
  game/src/graphic/hud/ScreenImage.java
  game/src/graphic/hud/Scroller.java
  game/src/graphic/hud/TextDialog.java
  game/src/graphic/hud/UITools.java
  game/src/quizquestion/DummyQuizQuestionList.java
  game/src/quizquestion/QuizQuestion.java
  game/src/quizquestion/QuizQuestionContent.java
  game/src/starter/Game.java
  game/src/tools/Constants.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

Docs for HealthComponent
  doc/ecs/components/health_component.md
  doc/ecs/img/healthComponent.png
  doc/ecs/img/healthComponent.uxf
  game/src/ecs/components/HealthComponent.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

Add docs for AnimationComponent
  doc/ecs/components/animation_component.md
  doc/ecs/img/animationComponent.png
  doc/ecs/img/animationComponent.uxf
Owners: @Programmiermethoden/dungeon

Add default behavior to constructor javadoc
  game/src/ecs/components/ai/AIComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add docs for AIComponent
  doc/ecs/components/ai_component.md
  doc/ecs/img/ai.png
  doc/ecs/img/ai.uxf
  doc/ecs/img/aiComponent.png
  doc/ecs/img/aiComponent.uxf
Owners: @Programmiermethoden/dungeon

Add links to readme.md
  doc/ecs/components/readme.md
Owners: @Programmiermethoden/dungeon

Update javadoc of AnimationComponent
  game/src/ecs/components/AnimationComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update JavaDoc of HealthComponent
  game/src/ecs/components/HealthComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update JavaDoc of AIComponent
  game/src/ecs/components/ai/AIComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Fix typo + format in ai_component.md
  doc/ecs/components/ai_component.md
Owners: @Programmiermethoden/dungeon

Fix format in health_component.md
  doc/ecs/components/health_component.md
Owners: @Programmiermethoden/dungeon

Fix format in animation_component.md
  doc/ecs/components/animation_component.md
Owners: @Programmiermethoden/dungeon

Rename "ECS_System" to "System"
  doc/ecs/img/aiComponent.png
  doc/ecs/img/aiComponent.uxf
  doc/ecs/img/animationComponent.png
  doc/ecs/img/animationComponent.uxf
  doc/ecs/img/healthComponent.png
  doc/ecs/img/healthComponent.uxf
Owners: @Programmiermethoden/dungeon

Remove ./ prefix in links
  doc/ecs/components/readme.md
Owners: @Programmiermethoden/dungeon

Fix Denglish + Small improvements in JavaDoc
  game/src/ecs/components/AnimationComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update JavaDoc of AIComponent
  game/src/ecs/components/ai/AIComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update JavaDoc of class HealthComponent
  game/src/ecs/components/HealthComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add reference to DrawSystem in javadoc
  game/src/ecs/components/AnimationComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Move images of components to components directory
  doc/ecs/components/ai_component.md
  doc/ecs/components/animation_component.md
  doc/ecs/components/health_component.md
  doc/ecs/components/hitbox_component.md
  doc/ecs/components/img/aiComponent.png
  doc/ecs/components/img/aiComponent.uxf
  doc/ecs/components/img/animationComponent.png
  doc/ecs/components/img/animationComponent.uxf
  doc/ecs/components/img/healthComponent.png
  doc/ecs/components/img/healthComponent.uxf
  doc/ecs/components/img/hitboxComponent.png
  doc/ecs/components/img/hitboxComponent.uxf
  doc/ecs/components/img/interactionComponent.png
  doc/ecs/components/img/interactionComponent.uxf
  doc/ecs/components/img/inventoryComponent.png
  doc/ecs/components/img/inventoryComponent.uxf
  doc/ecs/components/img/xpComponent.png
  doc/ecs/components/img/xpComponent.uxf
  doc/ecs/components/interaction_component.md
  doc/ecs/components/inventory_component.md
  doc/ecs/components/xp_component.md
Owners: @Programmiermethoden/dungeon

Apply suggestions from code review
  doc/ecs/components/hitbox_component.md
  game/src/ecs/components/ai/AIComponent.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon
