Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon

Apply suggestions from code review (small fixes)
  doc/control-mechanisms/reporting.md
Owners: @Programmiermethoden/dungeon

spotless
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

spotless #2
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

better iteration in updateSystems
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

rename methods
  game/src/core/Game.java
  game/src/core/utils/DelayedSet.java
Owners: @AMatutat, @Programmiermethoden/codrs

Format document
  doc/control-mechanisms/reporting.md
Owners: @Programmiermethoden/dungeon

Add note about datatypes for answers
  doc/control-mechanisms/reporting.md
Owners: @Programmiermethoden/dungeon

Emphasize required references to task-related objects in entity
  doc/control-mechanisms/reporting.md
Owners: @Programmiermethoden/dungeon

Add note about `TaskReferenceComponent`
  doc/control-mechanisms/reporting.md
Owners: @Programmiermethoden/dungeon

Update dsl/src/semanticAnalysis/types/FunctionType.java
  dsl/src/semanticAnalysis/types/FunctionType.java
Owners: @malt-r, @Programmiermethoden/dungeon

Use List instead of arrays in IEnvironment
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/IEvironment.java
  dsl/src/semanticAnalysis/types/TypeBinder.java
  dsl/test/helpers/Helpers.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/interpreter/TestEnvironment.java
  dsl/test/semanticAnalysis/TestSymbolTableParser.java
  dsl/test/semanticAnalysis/TestTypeBinder.java
Owners: @malt-r, @Programmiermethoden/dungeon

Rename 'SymbolTableParser' to 'SemanticAnalyzer'
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/semanticAnalysis/SemanticAnalyzer.java
  dsl/test/helpers/Helpers.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/semanticAnalysis/TestSymbolTableParser.java
  dsl/test/semanticAnalysis/TestTypeBinder.java
Owners: @malt-r, @Programmiermethoden/dungeon

Quests added
  game/assets/QuestButton/idle/Schalter_oben.png
  game/assets/QuestButton/triggered/Schalter_unten.png
  game/src/ecs/components/Traps/Summon.java
  game/src/ecs/components/quests/CollectQuest.java
  game/src/ecs/components/quests/IReward.java
  game/src/ecs/components/quests/ITask.java
  game/src/ecs/components/quests/KillQuest.java
  game/src/ecs/components/quests/LevelUpQuest.java
  game/src/ecs/components/quests/MovementQuest.java
  game/src/ecs/components/quests/Quest.java
  game/src/ecs/components/quests/QuestBuilder.java
  game/src/ecs/components/quests/QuestComponent.java
  game/src/ecs/components/quests/RewardBuilder.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/QuestButton.java
  game/src/ecs/systems/HealthSystem.java
  game/src/ecs/systems/QuestSystem.java
  game/src/graphic/hud/GameOverMenu.java
  game/src/saving/GameData.java
  game/src/saving/Saves.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

QuestComponent rework
  game/src/ecs/components/quests/QuestComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Changed DamageSkills
  game/src/ecs/components/skill/DamageProjectileSkill.java
  game/src/ecs/components/skill/ExplosivePebbleSkill.java
  game/src/ecs/components/skill/FireballSkill.java
  game/src/ecs/components/skill/PiercingArrowSkill.java
  game/src/ecs/components/skill/RubberballSkill.java
  game/src/ecs/entities/Chest.java
  game/src/ecs/entities/DamageTrap.java
  game/src/ecs/entities/DarkKnight.java
  game/src/ecs/entities/Entity.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Imp.java
  game/src/ecs/entities/Monster.java
  game/src/ecs/entities/SummoningTrap.java
  game/src/ecs/entities/TeleportationTrap.java
Owners: @AMatutat, @Programmiermethoden/codrs

Fixing mistakes
  game/src/ecs/components/quests/KillQuest.java
  game/src/ecs/components/quests/LevelUpQuest.java
  game/src/ecs/components/quests/QuestComponent.java
  game/src/ecs/components/skill/StabSkill.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Removed test
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Apply suggestions from code review
  game/src/contrib/systems/AISystem.java
  game/src/contrib/systems/CollisionSystem.java
  game/src/contrib/systems/SkillSystem.java
  game/src/contrib/systems/XPSystem.java
  game/src/core/Entity.java
  game/src/core/System.java
Owners: @AMatutat, @Programmiermethoden/codrs

make system more easy to read and code
  game/src/contrib/systems/AISystem.java
  game/src/contrib/systems/CollisionSystem.java
  game/src/contrib/systems/DebuggerSystem.java
  game/src/contrib/systems/HealthSystem.java
  game/src/contrib/systems/ProjectileSystem.java
  game/src/contrib/systems/SkillSystem.java
  game/src/contrib/systems/XPSystem.java
  game/src/core/Entity.java
  game/src/core/System.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/PlayerSystem.java
  game/src/core/systems/VelocitySystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

auto rearrange code
  game/src/contrib/systems/AISystem.java
  game/src/contrib/systems/CollisionSystem.java
  game/src/contrib/systems/DebuggerSystem.java
  game/src/contrib/systems/HealthSystem.java
  game/src/contrib/systems/ProjectileSystem.java
  game/src/contrib/systems/SkillSystem.java
  game/src/contrib/systems/XPSystem.java
  game/src/core/Entity.java
  game/src/core/System.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/PlayerSystem.java
  game/src/core/systems/VelocitySystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix tests
  game/src/contrib/systems/AISystem.java
  game/src/contrib/systems/CollisionSystem.java
  game/src/contrib/systems/DebuggerSystem.java
  game/src/contrib/systems/HealthSystem.java
  game/src/contrib/systems/ProjectileSystem.java
  game/src/contrib/systems/SkillSystem.java
  game/src/contrib/systems/XPSystem.java
  game/src/core/Entity.java
  game/src/core/System.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/PlayerSystem.java
  game/src/core/systems/VelocitySystem.java
  game/test/core/SystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

ij feedback in system
  game/src/core/System.java
Owners: @AMatutat, @Programmiermethoden/codrs

Items and Inventory update
  game/assets/items/bag.png
  game/assets/items/despawn.png
  game/assets/items/flower.png
  game/assets/items/speed.png
  game/src/configuration/ItemConfig.java
  game/src/configuration/KeyboardConfig.java
  game/src/ecs/components/InventoryComponent.java
  game/src/ecs/entities/Bag.java
  game/src/ecs/entities/Cake.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Item.java
  game/src/ecs/entities/MonsterPotion.java
  game/src/ecs/entities/SpeedPotion.java
  game/src/ecs/items/ItemData.java
  game/src/ecs/items/ItemType.java
  game/src/ecs/systems/PlayerSystem.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

add Aggressive
  game/src/ecs/components/ai/fight/BossAI.java
Owners: @AMatutat, @Programmiermethoden/codrs

add Aggressive
  game/src/ecs/components/ai/fight/BossAI.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update game/src/core/Game.java
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update game/src/core/utils/DelayedSet.java
  game/src/core/utils/DelayedSet.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update game/src/core/System.java
  game/src/core/System.java
Owners: @AMatutat, @Programmiermethoden/codrs

Apply suggestions from code review
  game/src/contrib/systems/DebuggerSystem.java
  game/src/contrib/systems/SkillSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

use varargs
  game/src/contrib/systems/HealthSystem.java
  game/src/contrib/systems/ProjectileSystem.java
  game/src/core/System.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/PlayerSystem.java
  game/src/core/systems/VelocitySystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

make xp more streamy
  game/src/contrib/systems/XPSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

Logg at the end
  game/src/core/Entity.java
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

some javadoc changes
  game/src/core/System.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update game/src/core/System.java
  game/src/core/System.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update game/src/core/System.java
  game/src/core/System.java
Owners: @AMatutat, @Programmiermethoden/codrs

spotless
  game/src/core/System.java
Owners: @AMatutat, @Programmiermethoden/codrs

Saving Quests
  game/src/ecs/components/quests/ITask.java
  game/src/ecs/components/quests/KillQuest.java
  game/src/ecs/components/quests/LevelUpQuest.java
  game/src/ecs/components/quests/MovementQuest.java
  game/src/ecs/components/quests/QuestComponent.java
  game/src/ecs/entities/Hero.java
  game/src/saving/Saves.java
  game/src/starter/Game.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

move com
  game/src/core/System.java
Owners: @AMatutat, @Programmiermethoden/codrs

Save Items
  game/src/ecs/components/InventoryComponent.java
  game/src/ecs/components/stats/DamageModifier.java
  game/src/ecs/items/IOnCollect.java
  game/src/ecs/items/IOnDrop.java
  game/src/ecs/items/IOnUse.java
  game/src/ecs/items/ItemData.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Less Bosses
  game/src/ecs/entities/Boss.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs
