Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

Format document
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

add Death- animation and battle- animation for the new knight
  game/assets/character/New_Knight/die/die_back/knight_dieBack_1.png
  game/assets/character/New_Knight/die/die_back/knight_dieBack_2.png
  game/assets/character/New_Knight/die/die_back/knight_dieBack_3.png
  game/assets/character/New_Knight/die/die_back/knight_dieBack_4.png
  game/assets/character/New_Knight/die/die_back/knight_dieBack_5.png
  game/assets/character/New_Knight/die/die_front/knight_dieFront_1.png
  game/assets/character/New_Knight/die/die_front/knight_dieFront_2.png
  game/assets/character/New_Knight/die/die_front/knight_dieFront_3.png
  game/assets/character/New_Knight/die/die_front/knight_dieFront_4.png
  game/assets/character/New_Knight/die/die_front/knight_dieFront_5.png
  game/assets/character/New_Knight/die/die_left/knight_dieLeft_1.png
  game/assets/character/New_Knight/die/die_left/knight_dieLeft_2.png
  game/assets/character/New_Knight/die/die_left/knight_dieLeft_3.png
  game/assets/character/New_Knight/die/die_left/knight_dieLeft_4.png
  game/assets/character/New_Knight/die/die_right/knight_dieRight_1.png
  game/assets/character/New_Knight/die/die_right/knight_dieRight_2.png
  game/assets/character/New_Knight/die/die_right/knight_dieRight_3.png
  game/assets/character/New_Knight/die/die_right/knight_dieRight_4.png
  game/assets/character/New_Knight/fight/fight_back/knight_fightBack_1.png
  game/assets/character/New_Knight/fight/fight_back/knight_fightBack_2.png
  game/assets/character/New_Knight/fight/fight_front/knight_fightFront_1.png
  game/assets/character/New_Knight/fight/fight_front/knight_fightFront_2.png
  game/assets/character/New_Knight/fight/fight_left/knight_leftFight_1.png
  game/assets/character/New_Knight/fight/fight_left/knight_leftFight_2.png
  game/assets/character/New_Knight/fight/fight_left/knight_leftFight_3.png
  game/assets/character/New_Knight/fight/fight_right/knight_fightRight_1.png
  game/assets/character/New_Knight/fight/fight_right/knight_fightRight_2.png
  game/assets/character/New_Knight/fight/fight_right/knight_fightRight_3.png
Owners: @AMatutat, @Programmiermethoden/codrs

replaced IInteraction with Consumer<Entity>
  game/src/contrib/components/InteractionComponent.java
  game/src/contrib/utils/components/interaction/DropItemsInteraction.java
  game/src/contrib/utils/components/interaction/IInteraction.java
  game/test/contrib/components/InteractionComponentTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

replaced IReachable with Function<InteractionData, Boolean>
  game/src/contrib/utils/components/interaction/ControlPointReachable.java
  game/src/contrib/utils/components/interaction/IReachable.java
  game/src/contrib/utils/components/interaction/InteractionTool.java
  game/test/contrib/utils/components/interaction/ControlPointReachableTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

replaced IOnCollect with BiConsumer<Entity, Entity>
  game/src/contrib/utils/components/item/IOnCollect.java
  game/src/contrib/utils/components/item/ItemData.java
Owners: @AMatutat, @Programmiermethoden/codrs

replaced iOnUse with BiConsumer<Entity, ItemData>
  game/src/contrib/utils/components/item/IOnUse.java
  game/src/contrib/utils/components/item/ItemData.java
  game/test/contrib/utils/components/item/ItemDataTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

replaced ILevelUp with LongConsumer
  game/src/contrib/components/XPComponent.java
  game/src/contrib/utils/components/xp/ILevelUp.java
  game/test/contrib/systems/XPSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Boss walking fix
  game/src/ecs/components/ai/fight/BossAI.java
Owners: @AMatutat, @Programmiermethoden/codrs

Reward for killing bosses
  game/src/ecs/components/quests/RewardBuilder.java
Owners: @AMatutat, @Programmiermethoden/codrs

implemented TriConsumer-Interface and replaced iCollide with TriConsumer
  game/src/contrib/components/CollideComponent.java
  game/src/contrib/utils/components/TriConsumer.java
  game/src/contrib/utils/components/collision/ICollide.java
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/test/contrib/components/CollisionComponentTest.java
  game/test/contrib/systems/CollisionSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

replaced IOnDrop with TriConsumer<Entity, ItemData, Point>
  game/src/contrib/components/CollideComponent.java
  game/src/contrib/utils/components/item/IOnDrop.java
  game/src/contrib/utils/components/item/ItemData.java
  game/test/contrib/components/CollisionComponentTest.java
  game/test/contrib/systems/CollisionSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Bugfix
  game/src/ecs/components/quests/QuestComponent.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

JavaDoc hinzugefügt
  game/src/ecs/entities/Bag.java
  game/src/ecs/entities/Cake.java
  game/src/ecs/entities/Item.java
  game/src/ecs/entities/MonsterPotion.java
  game/src/ecs/entities/SpeedPotion.java
  game/src/ecs/items/IOnCollect.java
  game/src/ecs/items/IOnDrop.java
  game/src/ecs/items/ItemData.java
  game/src/ecs/items/ItemDataGenerator.java
  game/src/ecs/items/ItemType.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add notes from meeting
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

JavaDoc hinzugefügt
  game/src/ecs/components/ai/fight/BossAI.java
  game/src/ecs/components/ai/idle/BossWalk.java
  game/src/ecs/entities/Boss.java
Owners: @AMatutat, @Programmiermethoden/codrs

More meeting notes
  doc/dsl/data_task_definition.md
Owners: @Programmiermethoden/dungeon

Comment update
  game/src/ecs/components/InventoryComponent.java
  game/src/ecs/entities/Cake.java
  game/src/ecs/entities/Item.java
  game/src/ecs/entities/MonsterPotion.java
  game/src/ecs/entities/SpeedPotion.java
  game/src/ecs/items/ItemData.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Comment update
  game/src/ecs/components/ai/fight/BossAI.java
  game/src/ecs/components/ai/idle/BossWalk.java
  game/src/ecs/entities/Boss.java
Owners: @AMatutat, @Programmiermethoden/codrs

Logger added
  game/src/ecs/components/ItemComponent.java
  game/src/ecs/entities/Bag.java
  game/src/ecs/entities/Cake.java
  game/src/ecs/entities/MonsterPotion.java
  game/src/ecs/entities/SpeedPotion.java
  game/src/ecs/items/ItemData.java
Owners: @AMatutat, @Programmiermethoden/codrs

Comment update
  game/src/ecs/entities/MonsterPotion.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Logger added
  game/src/ecs/components/ai/fight/BossAI.java
  game/src/ecs/components/ai/idle/BossWalk.java
  game/src/ecs/entities/Boss.java
Owners: @AMatutat, @Programmiermethoden/codrs

-Fix JavaDocs -Ignore test of Hero until solution is found
  game/src/ecs/components/ai/transition/ProtectOnApproach.java
  game/src/ecs/components/ai/transition/ProtectOnAttack.java
  game/test/ecs/components/ai/transition/ProtectOnApproachTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add Logger
  game/src/ecs/components/quests/QuestBuilder.java
  game/src/ecs/components/quests/RewardBuilder.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Add logger
  game/src/ecs/components/HealthComponent.java
  game/src/ecs/components/ai/transition/ProtectOnApproach.java
  game/src/ecs/components/ai/transition/ProtectOnAttack.java
  game/src/ecs/entities/FriendlyGhost.java
  game/src/ecs/entities/Grave.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Monsters/Demon.java
  game/src/ecs/entities/Monsters/Imp.java
  game/src/ecs/entities/Monsters/Slime.java
  game/src/ecs/graphic/hud/GameOverHUD.java
  game/src/ecs/items/ItemData.java
  game/src/ecs/items/newItems/Bag.java
  game/src/ecs/items/newItems/BookOfRa.java
  game/src/ecs/items/newItems/Greatsword.java
  game/src/ecs/items/newItems/InvinciblePotion.java
  game/src/starter/Game.java
  game/test/ecs/components/ai/transition/ProtectOnApproachTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Fix JavaDocs of GameOver
  game/src/ecs/graphic/hud/GameOverHUD.java
Owners: @AMatutat, @Programmiermethoden/codrs

Fix Spotless
  game/src/ecs/graphic/hud/GameOverHUD.java
Owners: @AMatutat, @Programmiermethoden/codrs

Quest ablehnen
  game/src/configuration/KeyboardConfig.java
  game/src/ecs/components/quests/QuestComponent.java
  game/src/ecs/entities/QuestButton.java
  game/src/ecs/systems/PlayerSystem.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Quests displayed on game screen
  game/src/ecs/components/quests/Quest.java
  game/src/ecs/entities/QuestButton.java
  game/src/graphic/hud/QuestLogMenu.java
  game/src/graphic/hud/QuestMenu.java
  game/src/starter/Game.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Logger
  game/src/ecs/components/quests/KillQuest.java
  game/src/ecs/components/quests/LevelUpQuest.java
  game/src/ecs/components/quests/MovementQuest.java
  game/src/ecs/components/quests/QuestBuilder.java
  game/src/ecs/components/quests/RewardBuilder.java
Owners: @AMatutat, @Programmiermethoden/codrs

Smaller Quset Text
  game/src/graphic/hud/QuestLogMenu.java
  game/src/graphic/hud/QuestMenu.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

after merge cleaning 1
  game/src/ecs/entities/Boss.java
  game/src/ecs/entities/Hero.java
  game/src/saving/Saves.java
  game/src/starter/Game.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Save Inventory
  game/src/saving/Saves.java
Owners: @AMatutat, @Programmiermethoden/codrs

Inventar update
  game/src/configuration/KeyboardConfig.java
  game/src/ecs/components/InventoryComponent.java
  game/src/ecs/systems/PlayerSystem.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

update Boss
  game/src/ecs/components/ai/fight/BossAI.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

spawn Boss
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Added Quests and Rewards
  game/src/ecs/components/quests/KillQuest.java
  game/src/ecs/components/quests/QuestBuilder.java
  game/src/ecs/components/quests/RewardBuilder.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Bugfix
  game/src/ecs/entities/QuestButton.java
Owners: @AMatutat, @Programmiermethoden/codrs

FIFTH -> FOURTH
  game/src/ecs/systems/PlayerSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

setup basics
  game/src/core/components/DrawComponent.java
  game/src/core/utils/components/draw/Animation.java
  game/src/core/utils/components/draw/CoreAnimationPathEnum.java
  game/src/core/utils/components/draw/IAnimationPathEnum.java
Owners: @AMatutat, @Programmiermethoden/codrs

Apply suggestions from code review
  game/src/core/components/DrawComponent.java
  game/src/core/utils/components/draw/CoreAnimationPathEnum.java
Owners: @AMatutat, @Programmiermethoden/codrs

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon
