Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

fix problems with inline checkstyle configuration
  dsl/src/interpreter/dot/Interpreter.java
  dsl/src/semanticAnalysis/SymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add diagrams for petri nets
  doc/control_mechanisms/img/mandatory_subtask_petri.png
  doc/control_mechanisms/img/mandatory_subtask_petri.uxf
Owners: @Programmiermethoden/dungeon

No reinitialization of levelAPI on game mode choice
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add translation into petri-net for mandatory subtask(s)
  doc/control_mechanisms/img/mandatory_subtask_petri.png
  doc/control_mechanisms/img/mandatory_subtask_petri.uxf
  doc/control_mechanisms/img/multi_mandatory_subtask.png
  doc/control_mechanisms/img/multi_mandatory_subtask.uxf
  doc/control_mechanisms/img/multi_mandatory_subtask_petri.png
  doc/control_mechanisms/img/multi_mandatory_subtask_petri.uxf
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

Fixed GameOverHUD
  game/src/ecs/entities/Hero.java
  game/src/ecs/graphic/hud/GameOverHUD.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add petri net for optional subtask
  doc/control_mechanisms/img/optional_subtask_petri.png
  doc/control_mechanisms/img/optional_subtask_petri.uxf
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

Rework Lückentext to be "Lücken füllen"
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Update JavaDoc of PlayerComponent
  game/src/core/components/PlayerComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update JavaDoc of IInteraction
  game/src/contrib/utils/components/interaction/IInteraction.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update JavaDoc of MissingComponentException
  game/src/core/utils/components/MissingComponentException.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update JavaDoc of IOnDeathFunction
  game/src/contrib/utils/components/health/IOnDeathFunction.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update Docs of PlayerComponent
  doc/ecs/components/img/playerComponent.png
  doc/ecs/components/img/playerComponent.uxf
  doc/ecs/components/playable_component.md
  doc/ecs/components/player_component.md
  doc/ecs/components/readme.md
Owners: @Programmiermethoden/dungeon

Update Docs of IOnDeathFunction
  doc/ecs/components/img/healthComponent.uxf
  doc/ecs/interfaces/OnDeathFunction.md
  doc/ecs/interfaces/img/onDeathFunction.png
  doc/ecs/interfaces/img/onDeathFunction.uxf
Owners: @Programmiermethoden/dungeon

Fix JavaDoc of IInteraction
  game/src/contrib/utils/components/interaction/IInteraction.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add petri-net for mandatory sequence
  doc/control_mechanisms/img/mandatory_sequence_petri.png
  doc/control_mechanisms/img/mandatory_sequence_petri.uxf
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

Add docs for IInteraction
  doc/ecs/gameelements/dropItemsInteraction.md
  doc/ecs/interfaces/Interaction.md
  doc/ecs/interfaces/img/interaction.png
  doc/ecs/interfaces/img/interaction.uxf
Owners: @Programmiermethoden/dungeon

Add petri-net for conditional dependence
  doc/control_mechanisms/img/conditional_petri.png
  doc/control_mechanisms/img/conditional_petri.uxf
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

Add docs for MissingComponentException.
  doc/ecs/components/missingComponent_exception.md
Owners: @Programmiermethoden/dungeon

Remove "mandatory" from sequence dependence type
  doc/control_mechanisms/img/mandatory_sequence.png
  doc/control_mechanisms/img/mandatory_sequence_multi.png
  doc/control_mechanisms/img/mandatory_sequence_multi.uxf
  doc/control_mechanisms/img/sequence.png
  doc/control_mechanisms/img/sequence.uxf
  doc/control_mechanisms/img/sequence_multi.png
  doc/control_mechanisms/img/sequence_multi.uxf
  doc/control_mechanisms/img/sequence_petri.png
  doc/control_mechanisms/img/sequence_petri.uxf
  doc/control_mechanisms/petri_nets.md
Owners: @Programmiermethoden/dungeon

extended Doc in ItemData
  game/src/contrib/utils/components/item/ItemData.java
Owners: @AMatutat, @Programmiermethoden/codrs

[Doc] add ItemData documentation (#673)
  game/src/contrib/utils/components/item/ItemData.java
Owners: @AMatutat, @Programmiermethoden/codrs

Substitute "Block" vor "Entität" in document
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Add dedicated "Freitext" tasktype
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Small fixes
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Add notes about "Lücken füllen" beeing a generalization of "Lückentext"
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Remove "Elemente in der richtigen Reihenfolge auswählen" type (finally)
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Update "Realisierung" chapter
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Add notes about reporting
  doc/control-mechanisms/reporting.md
Owners: @Programmiermethoden/dungeon

Add FunctionType
  dsl/src/runtime/GameEnvironment.java
  dsl/src/semanticAnalysis/SymbolTableParser.java
  dsl/src/semanticAnalysis/types/BuiltInType.java
  dsl/src/semanticAnalysis/types/FunctionType.java
  dsl/src/semanticAnalysis/types/IType.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add tests for semantic analysis of function definitions
  dsl/test/semanticAnalysis/TestSymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

Implement binding function and parameters
  dsl/src/semanticAnalysis/SymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add helper method to resolve type by name
  dsl/src/semanticAnalysis/SymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

Ass ASTVisitor method for FuncDefNode
  dsl/src/parser/AST/AstVisitor.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add equality tests for function types
  dsl/test/semanticAnalysis/types/TestFunctionType.java
Owners: @malt-r, @Programmiermethoden/dungeon

Remove obsolete code in manual stack walk
  dsl/src/semanticAnalysis/SymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

spotlessApply
  dsl/src/semanticAnalysis/SymbolTableParser.java
  dsl/test/semanticAnalysis/TestSymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

spotlessApply
  dsl/src/semanticAnalysis/FunctionSymbol.java
  dsl/test/semanticAnalysis/TestSymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add test for creation of function type from function definition
  dsl/test/semanticAnalysis/TestSymbolTableParser.java
Owners: @malt-r, @Programmiermethoden/dungeon

Calculate functionType for user defined function
  dsl/src/semanticAnalysis/FunctionSymbol.java
  dsl/src/semanticAnalysis/SymbolTableParser.java
  dsl/src/semanticAnalysis/types/FunctionType.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add todo
  dsl/src/runtime/nativeFunctions/NativePrint.java
Owners: @malt-r, @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon
