Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon

JavaDoc
  game/src/ecs/components/ai/idle/GhostWalk.java
Owners: @AMatutat, @Programmiermethoden/codrs

searching for Level load bug
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

add doc to temporary fix
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

radiobutton fix
  game/assets/skin/uiskin.json
  game/src/core/hud/DialogDesign.java
Owners: @AMatutat, @Programmiermethoden/codrs

remove UITools call from record
  dungeon/src/quizquestion/QuizQuestion.java
Owners: @cagix

trying to cleanup and restructure for better readability
  dungeon/src/quizquestion/DummyQuizQuestionList.java
  game/src/core/Game.java
  game/src/core/hud/ButtonGroup.java
  game/src/core/hud/DialogDesign.java
  game/src/core/hud/QuizQuestionFormatted.java
  game/src/core/hud/ResponsiveDialogue.java
  game/src/core/hud/TextDialog.java
  game/src/core/hud/UITools.java
  game/src/core/utils/Constants.java
  game/src/core/utils/controller/ScreenController.java
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

add sample for UITool
  game/src/core/hud/UITools.java
Owners: @AMatutat, @Programmiermethoden/codrs

remove old UI Element Wrappers
  game/src/core/hud/DialogDesign.java
  game/src/core/hud/EditableText.java
  game/src/core/hud/FontBuilder.java
  game/src/core/hud/LabelStyleBuilder.java
  game/src/core/hud/NotEditableText.java
  game/src/core/hud/ScreenButton.java
  game/src/core/hud/ScreenImage.java
  game/src/core/hud/ScreenInput.java
  game/src/core/hud/ScreenText.java
  game/src/core/hud/Scroller.java
  game/src/core/hud/TextButtonListener.java
  game/src/core/hud/TextButtonStyleBuilder.java
  game/src/core/hud/TextFieldStyleBuilder.java
Owners: @AMatutat, @Programmiermethoden/codrs

removing specific styles from TextDialog
  game/src/core/Game.java
  game/src/core/hud/DialogFactory.java
  game/src/core/hud/ResponsiveDialogue.java
  game/src/core/hud/TextDialog.java
  game/src/core/hud/UITools.java
Owners: @AMatutat, @Programmiermethoden/codrs

try temporary fix on level change
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix pauseMenu working only once
  game/src/core/Game.java
  game/src/core/hud/DialogDesign.java
  game/src/core/hud/DialogFactory.java
  game/src/core/hud/TextDialog.java
  game/src/core/hud/UITools.java
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

extracting ButtonHandling
  game/src/core/hud/DialogFactory.java
  game/src/core/hud/TextDialog.java
Owners: @AMatutat, @Programmiermethoden/codrs

add new UIComponent
  game/src/core/components/UIComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

UITools should only return Entities
  game/src/core/hud/UITools.java
Owners: @AMatutat, @Programmiermethoden/codrs

finally remove ScreenController
  dungeon/src/quest/Quest.java
  dungeon/src/quest/QuestFactory.java
  game/src/core/hud/ResponsiveDialogue.java
  game/src/core/utils/controller/ScreenController.java
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

create Demo for Hud
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

add new HudSystem
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix game removing all entities
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

remove stage from HudSystem
  game/src/core/Game.java
  game/src/core/hud/UITools.java
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

refactor inventory classes
  game/src/core/hud/Inventory/InventoryDescriptionListener.java
  game/src/core/hud/Inventory/InventoryGUI.java
  game/src/core/hud/Inventory/InventorySlotClickListener.java
  game/src/core/hud/Inventory/InventorySlotSource.java
  game/src/core/utils/Constants.java
Owners: @AMatutat, @Programmiermethoden/codrs

spotless apply
  game/src/core/hud/Inventory/InventorySlotClickListener.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix NullPointerException
  game/src/core/hud/HeroUI.java
Owners: @AMatutat, @Programmiermethoden/codrs

last one deletes the controllers
  game/src/core/Game.java
  game/src/core/systems/HudSystem.java
  game/src/core/utils/controller/AbstractController.java
  game/src/core/utils/controller/ControllerLayer.java
  game/src/core/utils/controller/SystemController.java
Owners: @AMatutat, @Programmiermethoden/codrs

small refactor
  game/src/contrib/utils/components/ai/transition/ProtectOnAttack.java
  game/test/contrib/utils/components/ai/ProtectOnAttackTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] Implement ProtectOnAttack (#725)
  game/src/contrib/utils/components/ai/transition/ProtectOnAttack.java
  game/test/contrib/utils/components/ai/ProtectOnAttackTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

small refactor
  game/src/contrib/utils/components/ai/transition/ProtectOnApproach.java
  game/test/contrib/utils/components/ai/ProtectOnApproachTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] Implement ProtectOnApproach (#724)
  game/src/contrib/utils/components/ai/transition/ProtectOnApproach.java
  game/test/contrib/utils/components/ai/ProtectOnApproachTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

use value stream instead of map stream
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

remove src comment
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

add doc for hudsystem stop and run
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

change layout from table to verticalgroup
  game/src/core/hud/DialogDesign.java
  game/src/core/hud/UITools.java
Owners: @AMatutat, @Programmiermethoden/codrs

miss classified Question
  dungeon/src/quizquestion/DummyQuizQuestionList.java
Owners: @cagix

sout entfernt
  game/src/ecs/entities/DamageTrap.java
  game/src/ecs/entities/DarkKnight.java
  game/src/ecs/entities/SummoningTrap.java
  game/src/ecs/entities/TeleportationTrap.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

fix template questions using invalid image
  dungeon/src/quizquestion/DummyQuizQuestionList.java
Owners: @cagix

Skill loading
  game/src/ecs/components/skill/Blink.java
  game/src/ecs/entities/Hero.java
  game/src/saving/Saves.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

reduce magic Styling
  game/src/core/hud/DialogDesign.java
Owners: @AMatutat, @Programmiermethoden/codrs

return Optional of extracted ImagePath
  game/src/core/hud/DialogDesign.java
Owners: @AMatutat, @Programmiermethoden/codrs

spotless rerun stuck in ij
  dungeon/src/quizquestion/DummyQuizQuestionList.java
  game/src/core/hud/DialogDesign.java
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

logger update
  game/src/ecs/components/HitboxComponent.java
  game/src/ecs/entities/Bag.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

<p>
  game/src/ecs/components/ai/idle/GhostWalk.java
  saves/autosave.txt
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix
