Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon

Fix TileLevelAPITest
  game/test/level/TileLevelAPITest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Solved warnings
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Solved warnings
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/HeroDummy.java
  game/src/graphic/hud/menus/startmenu/MultiplayerJoinSessionMenu.java
  game/src/graphic/hud/menus/startmenu/MultiplayerStartOrJoinSessionMenu.java
  game/src/graphic/hud/menus/startmenu/StartMenu.java
  game/src/graphic/hud/widgets/TextFieldStyleBuilder.java
  game/src/mp/IMultiplayer.java
  game/src/mp/MultiplayerAPI.java
  game/src/mp/client/MultiplayerClient.java
  game/src/mp/packages/Version.java
  game/src/mp/packages/event/HeroPositionsChangedEvent.java
  game/src/mp/packages/request/InitializeServerRequest.java
  game/src/mp/packages/request/UpdateOwnPositionRequest.java
  game/src/mp/packages/response/JoinSessionResponse.java
  game/src/mp/packages/serializer/JoinSessionResponseSerializer.java
  game/src/mp/server/MultiplayerServer.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Fix positioning of joined hero
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] Fix: wait for DeathAnimation onDeath (#554)
  game/src/ecs/components/HealthComponent.java
  game/src/ecs/systems/HealthSystem.java
  game/src/ecs/systems/VelocitySystem.java
  game/src/graphic/Animation.java
  game/test/ecs/components/HealthComponentTest.java
  game/test/ecs/systems/HealthSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add logic to handle entities when connection to multiplayer session lost
  game/src/mp/IMultiplayer.java
  game/src/mp/MultiplayerAPI.java
  game/src/mp/server/MultiplayerServer.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

add documentation update for Text-Dialog.
  doc/basics/dialogWindow.md
  doc/basics/img/9_Patch.png
  doc/basics/img/create_9Patch.png
  doc/basics/img/dialogWindow.png
  doc/basics/img/scinComposer.png
  doc/basics/img/txt_Dialog.png
Owners: @Programmiermethoden/dungeon

Adjust positioning of heroes on session join (position pretend by server)
  game/src/mp/IMultiplayer.java
  game/src/mp/MultiplayerAPI.java
  game/src/mp/client/IMultiplayerClientObserver.java
  game/src/mp/client/MultiplayerClient.java
  game/src/mp/packages/request/InitializeServerRequest.java
  game/src/mp/packages/response/InitializeServerResponse.java
  game/src/mp/packages/response/JoinSessionResponse.java
  game/src/mp/packages/serializer/InitializeServerRequestSerializer.java
  game/src/mp/packages/serializer/InitializeServerResponseSerializer.java
  game/src/mp/packages/serializer/JoinSessionResponseSerializer.java
  game/src/mp/server/MultiplayerServer.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add tickrate to server. Encapsule playerpositions into a gamestate
  game/src/mp/GameState.java
  game/src/mp/client/MultiplayerClient.java
  game/src/mp/packages/NetworkSetup.java
  game/src/mp/packages/event/GameStateUpdateEvent.java
  game/src/mp/packages/event/HeroPositionsChangedEvent.java
  game/src/mp/packages/serializer/GameStateSerializer.java
  game/src/mp/packages/serializer/HeroPositionsChangedEventSerializer.java
  game/src/mp/server/MultiplayerServer.java
Owners: @AMatutat, @Programmiermethoden/codrs

Rename HeroPositionsChangedEventSerializer to GameStateUpdateEventSerializer
  game/src/mp/packages/NetworkSetup.java
  game/src/mp/packages/serializer/GameStateUpdateEventSerializer.java
Owners: @AMatutat, @Programmiermethoden/codrs

Outsource position sync logic from Game into MultiplayerAPI (sync each time GameStateUpdateEvent received)
  game/src/mp/GameState.java
  game/src/mp/MultiplayerAPI.java
  game/src/mp/client/IMultiplayerClientObserver.java
  game/src/mp/client/MultiplayerClient.java
  game/src/mp/server/MultiplayerServer.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Implements Skills and XP System
  game/src/configuration/KeyboardConfig.java
  game/src/ecs/components/PlayableComponent.java
  game/src/ecs/components/VelocityComponent.java
  game/src/ecs/components/skill/EnrageSkill.java
  game/src/ecs/components/skill/HealSkill.java
  game/src/ecs/components/skill/MagicSkill.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/systems/PlayerSystem.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Introduce MultiplayerSynchronizationSystem
  game/src/ecs/systems/MultiplayerSynchronizationSystem.java
  game/src/mp/MultiplayerAPI.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Fix client and server stop on switching between game modes
  game/src/mp/MultiplayerAPI.java
  game/src/mp/client/IMultiplayerClientObserver.java
  game/src/mp/client/MultiplayerClient.java
  game/src/mp/server/MultiplayerServer.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Removed TODO comment that was solved before
  game/src/mp/client/MultiplayerClient.java
Owners: @AMatutat, @Programmiermethoden/codrs

Display start menu when host closing session
  game/src/mp/MultiplayerAPI.java
  game/src/mp/client/MultiplayerClient.java
  game/src/mp/server/MultiplayerServer.java
  game/src/starter/Game.java
  game/src/starter/LibgdxSetup.java
Owners: @AMatutat, @Programmiermethoden/codrs

Fix start menu when host closing session
  game/src/graphic/hud/menus/startmenu/StartMenu.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Addet Items
  doc/ecs/components/inventory_component.md
  game/assets/item/world/Bag/Bag.png
  game/assets/item/world/BookOfRa/BookOfRa.png
  game/assets/item/world/InvinciblePotion/InvinciblePotion_anim_f0.png
  game/src/ecs/components/InventoryComponent.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/graphic/hud/InventoryHUD.java
  game/src/ecs/graphic/hud/PauseMenu.java
  game/src/ecs/items/WorldItemBuilder.java
  game/src/ecs/items/newItems/Bag.java
  game/src/ecs/items/newItems/BookOfRa.java
  game/src/ecs/items/newItems/Greatsword.java
  game/src/ecs/items/newItems/InvinciblePotion.java
  game/src/ecs/systems/PlayerSystem.java
  game/src/starter/Game.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

addet fixed items, addet Greatsword
  game/assets/item/world/Greatsword/greatsword.png
  game/src/ecs/entities/Hero.java
  game/src/ecs/items/newItems/Bag.java
  game/src/ecs/items/newItems/BookOfRa.java
  game/src/ecs/items/newItems/Greatsword.java
  game/src/ecs/items/newItems/InvinciblePotion.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

add some javadoc to the DummyQuizQuestionList.java
  game/src/quizquestion/DummyQuizQuestionList.java
Owners: @AMatutat, @Programmiermethoden/codrs

use QuiQuestion.askQuizQuestionWithUI as start point
  game/src/quizquestion/QuizQuestion.java
  game/src/quizquestion/QuizQuestionUI.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

format constants in javadoc conv
  game/src/graphic/hud/ButtonGroup.java
  game/src/graphic/hud/DialogDesign.java
  game/src/graphic/hud/TextDialog.java
  game/src/graphic/hud/UITools.java
Owners: @AMatutat, @Programmiermethoden/codrs

-Fixes invincible effect -Adds damageType to traps -still has some issues to fix
  game/assets/character/monster/slime/idleLeft/Slime_idle_anim_mirrored_f0.png
  game/src/ecs/components/HealthComponent.java
  game/src/ecs/entities/BearTrap.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Mine.java
  game/src/ecs/items/newItems/InvinciblePotion.java
Owners: @AMatutat, @Programmiermethoden/codrs

The Hero and Dungeonlevel can now be Saved
  autosave.txt
  game/src/ecs/components/AnimationComponent.java
  game/src/ecs/components/Component.java
  game/src/ecs/components/HealthComponent.java
  game/src/ecs/components/HitboxComponent.java
  game/src/ecs/components/IOnDeathFunction.java
  game/src/ecs/components/InventoryComponent.java
  game/src/ecs/components/OnDeathFunctions/EndGame.java
  game/src/ecs/components/PlayableComponent.java
  game/src/ecs/components/PositionComponent.java
  game/src/ecs/components/VelocityComponent.java
  game/src/ecs/components/ai/fight/CollideAI.java
  game/src/ecs/components/ai/fight/IFightAI.java
  game/src/ecs/components/ai/fight/MeleeAI.java
  game/src/ecs/components/ai/idle/IIdleAI.java
  game/src/ecs/components/ai/idle/PatrouilleWalk.java
  game/src/ecs/components/ai/idle/RadiusWalk.java
  game/src/ecs/components/ai/idle/StaticRadiusWalk.java
  game/src/ecs/components/ai/transition/ITransition.java
  game/src/ecs/components/collision/ICollide.java
  game/src/ecs/components/skill/DamageProjectileSkill.java
  game/src/ecs/components/skill/FireballSkill.java
  game/src/ecs/components/skill/ISkillFunction.java
  game/src/ecs/components/skill/ITargetSelection.java
  game/src/ecs/components/skill/Skill.java
  game/src/ecs/components/skill/SkillTools.java
  game/src/ecs/damage/Damage.java
  game/src/ecs/entities/Entity.java
  game/src/ecs/entities/Hero.java
  game/src/graphic/Animation.java
  game/src/level/LevelAPI.java
  game/src/saving/GameData.java
  game/src/saving/Saves.java
  game/src/starter/Game.java
  game/src/tools/Point.java
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  saves/autosave.txt
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

Update
  game/assets/weapon/weapon_regular_sword.png
  game/src/ecs/components/skill/SwordSkill.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/monsters/Chort.java
  game/src/ecs/entities/monsters/Goblin.java
  game/src/ecs/entities/monsters/LittleChort.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Fixes and restructures item classes, adds more functionality
  game/src/ecs/components/HealthComponent.java
  game/src/ecs/components/InventoryComponent.java
  game/src/ecs/entities/BearTrap.java
  game/src/ecs/entities/FriendlyGhost.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Mine.java
  game/src/ecs/entities/Monsters/Demon.java
  game/src/ecs/entities/Monsters/Imp.java
  game/src/ecs/entities/Monsters/Slime.java
  game/src/ecs/entities/Trap.java
  game/src/ecs/items/ItemType.java
  game/src/ecs/items/newItems/Bag.java
  game/src/ecs/items/newItems/BookOfRa.java
  game/src/ecs/items/newItems/Greatsword.java
  game/src/ecs/items/newItems/InvinciblePotion.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] TextureHandler: suche nur in "Dungeon/<build dir>/resources/main/" nach Texturen (#560)
  dsl-connector/src/dslToGame/AnimationBuilder.java
  game/assets/.resource_root
  game/src/graphic/textures/TextureHandler.java
  game/src/starter/Game.java
  game/test/graphic/textures/TextureHandlerTest.java
Owners: @malt-r, @AMatutat, @Programmiermethoden/dungeon, @Programmiermethoden/codrs

Finishes items feature and documentation of it
  game/src/ecs/entities/Hero.java
  game/src/ecs/items/newItems/Bag.java
  game/src/ecs/items/newItems/BookOfRa.java
  game/src/ecs/items/newItems/Greatsword.java
  game/src/ecs/items/newItems/InvinciblePotion.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

MeeleAttack
  game/assets/weapon/weapon_regular_sword (1).png
  game/assets/weapon/weapon_regular_sword (2).png
  game/assets/weapon/weapon_regular_sword (3).png
  game/assets/weapon/weapon_regular_sword (4).png
  game/src/ecs/components/PositionComponent.java
  game/src/ecs/components/skill/FireballSkill.java
  game/src/ecs/components/skill/MeleeSkill.java
  game/src/ecs/components/skill/SwordSkill.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/monsters/LittleChort.java
Owners: @AMatutat, @Programmiermethoden/codrs

Adds documentation
  game/src/ecs/components/skill/EnrageSkill.java
  game/src/ecs/components/skill/HealSkill.java
  game/src/ecs/components/skill/MagicSkill.java
  game/src/ecs/entities/Hero.java
Owners: @AMatutat, @Programmiermethoden/codrs

Move game dir constants to Constants class
  game/src/savegame/SaveGame.java
  game/src/tools/Constants.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update
  game/src/ecs/components/HitboxComponent.java
  game/src/ecs/components/skill/MeleeSkill.java
  game/src/ecs/components/skill/SwordSkill.java
  game/src/ecs/entities/Hero.java
  game/src/starter/Game.java
  game/src/tools/Point.java
Owners: @AMatutat, @Programmiermethoden/codrs

erster zyklus
  game/assets/objects/mimicchest/mimic_chest_full_open_anim_f0.png
  game/assets/objects/mimicchest/mimic_chest_full_open_anim_f1.png
  game/assets/objects/mimicchest/mimic_chest_full_open_anim_f2.png
  game/assets/objects/mimicchest/mimic_chest_full_open_anim_f3.png
  game/assets/objects/slowtrap/slowtrap_idle_anim_f0.png
  game/assets/objects/slowtrap/slowtrap_triggered_anim_f0.png
  game/assets/skills/icestream/icestream.png
  game/src/configuration/KeyboardConfig.java
  game/src/ecs/components/HealthComponent.java
  game/src/ecs/components/PlayableComponent.java
  game/src/ecs/components/skill/BuffSkill.java
  game/src/ecs/components/skill/IcestreamSkill.java
  game/src/ecs/components/skill/ManaComponent.java
  game/src/ecs/components/skill/Skill.java
  game/src/ecs/components/skill/SpeedboostSkill.java
  game/src/ecs/damage/DamageType.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Mimic_Chest_Trap.java
  game/src/ecs/entities/SlowTrap.java
  game/src/ecs/entities/Trap.java
  game/src/ecs/systems/ManaSystem.java
  game/src/ecs/systems/PlayerSystem.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Bad Melee that really is just short ranged
  game/assets/skills/Stab/attack_left_f2.png
  game/src/ecs/components/skill/DamageMeleeSkill.java
  game/src/ecs/components/skill/StabSkill.java
  game/src/ecs/entities/DarkKnight.java
  game/src/ecs/entities/Hero.java
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Added Piercing projectiles, explosives, and a rubber ball
  game/assets/skills/explosion/default/top_red.png
  game/assets/skills/rubberball/rubberBall_Down/fireBall_Down1.png
  game/assets/skills/rubberball/rubberBall_Down/fireBall_Down2.png
  game/assets/skills/rubberball/rubberBall_Down/fireBall_Down3.png
  game/assets/skills/rubberball/rubberBall_Down/fireBall_Down4.png
  game/assets/skills/rubberball/rubberBall_Down/fireBall_Down5.png
  game/assets/skills/rubberball/rubberBall_Down/fireBall_Down6.png
  game/assets/skills/rubberball/rubberBall_Left/fireBall_Left1.png
  game/assets/skills/rubberball/rubberBall_Left/fireBall_Left2.png
  game/assets/skills/rubberball/rubberBall_Left/fireBall_Left3.png
  game/assets/skills/rubberball/rubberBall_Left/fireBall_Left4.png
  game/assets/skills/rubberball/rubberBall_Left/fireBall_Left5.png
  game/assets/skills/rubberball/rubberBall_Left/fireBall_Left6.png
  game/assets/skills/rubberball/rubberBall_Right/fireBall_Right1.png
  game/assets/skills/rubberball/rubberBall_Right/fireBall_Right2.png
  game/assets/skills/rubberball/rubberBall_Right/fireBall_Right3.png
  game/assets/skills/rubberball/rubberBall_Right/fireBall_Right4.png
  game/assets/skills/rubberball/rubberBall_Right/fireBall_Right5.png
  game/assets/skills/rubberball/rubberBall_Right/fireBall_Right6.png
  game/assets/skills/rubberball/rubberBall_Up/fireBall_UP1.png
  game/assets/skills/rubberball/rubberBall_Up/fireBall_UP2.png
  game/assets/skills/rubberball/rubberBall_Up/fireBall_UP3.png
  game/assets/skills/rubberball/rubberBall_Up/fireBall_UP4.png
  game/assets/skills/rubberball/rubberBall_Up/fireBall_UP5.png
  game/assets/skills/rubberball/rubberBall_Up/fireBall_UP6.png
  game/src/ecs/components/skill/ExplosivePebbleSkill.java
  game/src/ecs/components/skill/ExplosiveProjectileSkill.java
  game/src/ecs/components/skill/PiercingArrowSkill.java
  game/src/ecs/components/skill/PiercingProjectileSkill.java
  game/src/ecs/components/skill/ReturningProjectileSkill.java
  game/src/ecs/components/skill/RubberballSkill.java
  game/src/ecs/entities/Hero.java
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Owners: @AMatutat, @Programmiermethoden/codrs, @cagix

Moved GameState
  game/src/mp/MultiplayerAPI.java
  game/src/mp/client/IMultiplayerClientObserver.java
  game/src/mp/client/MultiplayerClient.java
  game/src/mp/packages/GameState.java
  game/src/mp/packages/NetworkSetup.java
  game/src/mp/packages/event/GameStateUpdateEvent.java
  game/src/mp/packages/serializer/GameStateSerializer.java
  game/src/mp/packages/serializer/GameStateUpdateEventSerializer.java
  game/src/mp/server/MultiplayerServer.java
Owners: @AMatutat, @Programmiermethoden/codrs

add images for Quiz Dialog
  doc/basics/img/Question_with_Pic.png
  doc/basics/img/Question_with_Txt.png
  doc/basics/img/Question_with_Txt_and_pic.png
Owners: @Programmiermethoden/dungeon

add Documentation for Quiz Dialog
  doc/basics/QuizDialog.md
Owners: @Programmiermethoden/dungeon

restrict gradle lib version
  build.gradle
Owners: @cagix

[Game] rename ECS_System into System (#597)
  doc/ecs/create_own_content.md
  doc/ecs/img/ai.png
  doc/ecs/img/ai.uxf
  doc/ecs/img/ecs.png
  doc/ecs/img/ecs.uxf
  doc/ecs/img/hitbox.png
  doc/ecs/img/hitbox.uxf
  doc/ecs/img/xpComponent.png
  doc/ecs/img/xpComponent.uxf
  doc/ecs/readme.md
  doc/ecs/structure_design_decisions.md
  doc/img/gameloop.png
  doc/img/gameloop.uxf
  doc/readme.md
  game/src/controller/SystemController.java
  game/src/ecs/systems/AISystem.java
  game/src/ecs/systems/CollisionSystem.java
  game/src/ecs/systems/DrawSystem.java
  game/src/ecs/systems/HealthSystem.java
  game/src/ecs/systems/PlayerSystem.java
  game/src/ecs/systems/ProjectileSystem.java
  game/src/ecs/systems/SkillSystem.java
  game/src/ecs/systems/System.java
  game/src/ecs/systems/VelocitySystem.java
  game/src/ecs/systems/XPSystem.java
  game/src/starter/Game.java
  game/test/ecs/systems/SystemTest.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs
