Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon

Add example for adapted external type
  doc/dsl/typebuilding.md
Owners: @Programmiermethoden/dungeon

Extend documentation for aggregate type adapter
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

add Skill Logger
  game/src/ecs/components/skill/Blink.java
  game/src/ecs/components/skill/Rage.java
  game/src/ecs/components/skill/Swiftness.java
  game/src/ecs/components/skill/Wisdom.java
Owners: @AMatutat, @Programmiermethoden/codrs

Add name attribute in TypeAdapterAnnotation
  dsl/src/semanticanalysis/types/DSLTypeAdapter.java
  dsl/src/semanticanalysis/types/TypeBuilder.java
  dsl/test/interpreter/CustomQuestConfig.java
  dsl/test/interpreter/mockecs/OtherExternalTypeBuilderMultiParam.java
  dsl/test/runtime/TestGameEnvironment.java
Owners: @malt-r, @Programmiermethoden/dungeon

Throw exception, if two type with the same name are to be loaded into environment
  dsl/src/runtime/GameEnvironment.java
Owners: @malt-r, @Programmiermethoden/dungeon

Refactor TestEnvironment and CustomQuestConfig into own files
  dsl/test/interpreter/CustomQuestConfig.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/interpreter/TestEnvironment.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add test for name clashing of types
  dsl/test/interpreter/mockecs/OtherExternalType.java
  dsl/test/interpreter/mockecs/OtherExternalTypeBuilderMultiParam.java
  dsl/test/runtime/TestGameEnvironment.java
Owners: @malt-r, @Programmiermethoden/dungeon

Small fixes
  dsl/src/semanticanalysis/types/TypeInstantiator.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add description of example for aggregate type adapting
  doc/dsl/typebuilding.md
Owners: @Programmiermethoden/dungeon

Format documents
  doc/dsl/interpretation_laufzeit.md
  doc/dsl/typebuilding.md
Owners: @Programmiermethoden/dungeon

Small fixes
  doc/dsl/interpretation_laufzeit.md
  doc/dsl/typebuilding.md
Owners: @Programmiermethoden/dungeon

doc for commented code
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

add new class HeroHealthBar and HeroXPBar and fix NullPointerException
  game/assets/hud/xpBar/xpBar_1.png
  game/assets/hud/xpBar/xpBar_2.png
  game/assets/hud/xpBar/xpBar_3.png
  game/assets/hud/xpBar/xpBar_5.png
  game/assets/hud/xpBar/xpBar_6.png
  game/assets/hud/xpBar/xpBar_7.png
  game/src/contrib/components/XPComponent.java
  game/src/core/Game.java
  game/src/core/hud/HeroUI.java
  game/src/core/hud/heroUI/EnemyHealthBar.java
  game/src/core/hud/heroUI/HeroHealthBar.java
  game/src/core/hud/heroUI/HeroUI.java
  game/src/core/hud/heroUI/HeroXPBar.java
Owners: @AMatutat, @Programmiermethoden/codrs

better name for parameter
  game/src/core/hud/DialogDesign.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix typo in parameter
  game/src/core/hud/DialogDesign.java
Owners: @AMatutat, @Programmiermethoden/codrs

adding debug for stage
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix window size to be based on elements
  game/src/core/hud/DialogDesign.java
  game/src/core/hud/DialogFactory.java
  game/src/core/hud/UITools.java
Owners: @AMatutat, @Programmiermethoden/codrs

extract constant
  game/src/core/hud/UITools.java
Owners: @AMatutat, @Programmiermethoden/codrs

make HudSystem a final class
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix methodNaming
  game/src/core/hud/DialogDesign.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix rename not applied to calls
  game/src/core/hud/DialogDesign.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix naming of Methods not java conform
  game/src/core/hud/DialogDesign.java
  game/src/core/hud/DialogFactory.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix javadoc for run / stop
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

remove commented code
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

add Issue number for commented code
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

rerun spotless because it can
  game/src/core/systems/HudSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

[DSL] Instanziierung für AggregateTypeAdapter (#272)
  doc/dsl/interpretation_laufzeit.md
  doc/dsl/typebuilding.md
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/runtime/AggregateValue.java
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/Value.java
  dsl/src/semanticanalysis/SemanticAnalyzer.java
  dsl/src/semanticanalysis/types/AdaptedType.java
  dsl/src/semanticanalysis/types/AggregateTypeAdapter.java
  dsl/src/semanticanalysis/types/DSLTypeAdapter.java
  dsl/src/semanticanalysis/types/TypeBuilder.java
  dsl/src/semanticanalysis/types/TypeInstantiator.java
  dsl/test/interpreter/CustomQuestConfig.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/interpreter/TestEnvironment.java
  dsl/test/interpreter/mockecs/ExternalTypeBuilder.java
  dsl/test/interpreter/mockecs/OtherExternalType.java
  dsl/test/interpreter/mockecs/OtherExternalTypeBuilderMultiParam.java
  dsl/test/runtime/TestGameEnvironment.java
  dsl/test/semanticanalysis/types/RecordBuilder.java
Owners: @Programmiermethoden/dungeon, @malt-r

[GAME] add InventarGUI (#710)
  game/assets/items/bone.png
  game/assets/items/leaf.png
  game/assets/items/scroll.png
  game/assets/skin/InventorySkin/inventorySkin.atlas
  game/assets/skin/InventorySkin/inventorySkin.json
  game/assets/skin/InventorySkin/inventorySkin.png
  game/assets/skin/InventorySkin/inventorySlot.png
  game/assets/skin/InventorySkin/myFont.fnt
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/entities/WorldItemBuilder.java
  game/src/contrib/utils/components/item/ItemData.java
  game/src/contrib/utils/components/item/ItemDataGenerator.java
  game/src/core/Game.java
  game/src/core/components/PlayerComponent.java
  game/src/core/hud/Inventory/InventoryDescription.java
  game/src/core/hud/Inventory/InventoryDescriptionListener.java
  game/src/core/hud/Inventory/InventoryGUI.java
  game/src/core/hud/Inventory/InventoryItem.java
  game/src/core/hud/Inventory/InventorySlot.java
  game/src/core/hud/Inventory/InventorySlotClickListener.java
  game/src/core/hud/Inventory/InventorySlotSource.java
  game/src/core/hud/Inventory/InventorySlotTarget.java
  game/src/core/systems/VelocitySystem.java
  game/src/core/utils/Constants.java
Owners: @AMatutat, @Programmiermethoden/codrs

merge conflicts resolved
  build.gradle
  game/test/core/level/TileLevelAPITest.java
  game/test/starter/GameTest.java
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

fix GameTest.java, remove Hero
  game/test/starter/GameTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix GameTest.java
  game/test/starter/GameTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix GameTest.java, game.onLevelLoad(); call added
  game/test/starter/GameTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Apply suggestions from code review
  build.gradle
Owners: @cagix

rebased
  game/src/core/Game.java
  game/test/starter/GameTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

rebased
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix ("levelManager.loadLevel(LEVELSIZE)" two times)
  game/src/core/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs
