Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

Add test for adapted multiparameter instancing
  dsl/test/interpreter/TestDSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

Simplify value copying for prototype creation
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/runtime/AggregateValue.java
Owners: @malt-r, @Programmiermethoden/dungeon

Handle anonymous aggregate value definition in symboltableparser
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/semanticanalysis/SemanticAnalyzer.java
Owners: @malt-r, @Programmiermethoden/dungeon

Create aggregate value in visit method of aggregateValueDefinitionNode
  dsl/src/interpreter/DSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

Extend DSLInterpreter to instantiate aggregateType (without defaults)
  dsl/src/interpreter/DSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

Handle java object instantiation for AggregateTypeAdapter
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/semanticanalysis/types/AggregateTypeAdapter.java
  dsl/src/semanticanalysis/types/TypeInstantiator.java
Owners: @malt-r, @Programmiermethoden/dungeon

Remove usage of static in GameEnvironment to fix instancing issues in adapted type tests
  dsl/src/runtime/GameEnvironment.java
  dsl/test/interpreter/TestDSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

Make AdaptedType extend Symbol
  dsl/src/semanticanalysis/types/AdaptedType.java
  dsl/src/semanticanalysis/types/TypeInstantiator.java
  dsl/test/interpreter/TestDSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

Fix issue with type lost type information during prototype creation
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/runtime/Value.java
Owners: @malt-r, @Programmiermethoden/dungeon

spotlessApply
  dsl/src/interpreter/DSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

Fix rebase
  dsl/src/runtime/GameEnvironment.java
  dsl/test/interpreter/TestDSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

Remove redundant type parameter of DSLTypeAdapter annotation
  dsl/src/semanticanalysis/types/DSLTypeAdapter.java
  dsl/src/semanticanalysis/types/TypeBuilder.java
  dsl/test/interpreter/mockecs/ExternalTypeBuilder.java
  dsl/test/interpreter/mockecs/ExternalTypeBuilderMultiParam.java
  dsl/test/semanticanalysis/types/RecordBuilder.java
Owners: @malt-r, @Programmiermethoden/dungeon

replaced DungeonCamera with CameraSystem
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/systems/DebuggerSystem.java
  game/src/contrib/utils/components/skill/SkillTools.java
  game/src/core/Game.java
  game/src/core/systems/CameraSystem.java
  game/src/core/utils/DungeonCamera.java
  game/src/core/utils/components/draw/Painter.java
  game/test/core/utils/DungeonCameraTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

implemented CameraSystem
  game/src/core/components/CameraComponent.java
  game/src/core/systems/CameraSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

added javadoc
  game/src/core/components/CameraComponent.java
  game/src/core/systems/CameraSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

added tests
  build.gradle
  game/src/contrib/entities/EntityFactory.java
  game/test/core/systems/CameraSystemTest.java
Owners: @cagix, @AMatutat, @Programmiermethoden/codrs

smalll fix due to inattention
  build.gradle
Owners: @cagix

Update game/test/core/systems/CameraSystemTest.java
  game/test/core/systems/CameraSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update game/test/core/systems/CameraSystemTest.java
  game/test/core/systems/CameraSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

made CAMERA private
  game/src/contrib/systems/DebuggerSystem.java
  game/src/contrib/utils/components/skill/SkillTools.java
  game/src/core/Game.java
  game/src/core/systems/CameraSystem.java
  game/test/core/systems/CameraSystemTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

update inventory to pause on opening
  game/src/core/hud/Inventory/InventoryGUI.java
  game/src/core/hud/Inventory/InventorySlotSource.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] Replace DungeonCamera with CameraComponent & CameraSystem (#699)
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/systems/DebuggerSystem.java
  game/src/contrib/utils/components/skill/SkillTools.java
  game/src/core/Game.java
  game/src/core/components/CameraComponent.java
  game/src/core/systems/CameraSystem.java
  game/src/core/utils/DungeonCamera.java
  game/src/core/utils/components/draw/Painter.java
  game/test/core/systems/CameraSystemTest.java
  game/test/core/utils/DungeonCameraTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

[Game] Implement ITransition: ProtectOnApproach (#696)
  game/src/contrib/utils/components/ai/transition/ProtectOnApproach.java
  game/test/contrib/utils/components/ai/ProtectOnApproachTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

ProtectOnApproach in new structure
  game/src/contrib/utils/components/ai/transition/ProtectOnApproach.java
  game/test/contrib/utils/components/ai/ProtectOnApproachTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix merge problems
  game/src/contrib/entities/EntityFactory.java
Owners: @AMatutat, @Programmiermethoden/codrs

add assets
  game/assets/animation/bag_small.png
  game/assets/animation/blueBook.png
  game/assets/animation/bronzeBow.png
  game/assets/items/bone.png
  game/assets/items/leaf.png
  game/assets/items/scroll.png
  game/src/contrib/utils/components/item/ItemDataGenerator.java
Owners: @AMatutat, @Programmiermethoden/codrs

[Game] Implement ITransition: ProtectOnAttack (#656)
  game/src/contrib/utils/components/ai/transition/ProtectOnAttack.java
  game/test/contrib/utils/components/ai/ProtectOnAttackTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

add enemy healthbars
  game/assets/skin/enemyHealthBar/enemyHealthBar.atlas
  game/assets/skin/enemyHealthBar/enemyHealthBar.json
  game/assets/skin/enemyHealthBar/enemyHealthBar.png
  game/src/contrib/entities/EntityFactory.java
  game/src/core/Game.java
  game/src/core/hud/EnemyHealthBar.java
  game/src/core/hud/HeroUI.java
  game/src/core/utils/Constants.java
Owners: @AMatutat, @Programmiermethoden/codrs

ProtectOnAttack for new Dungeon Structure
  game/src/contrib/utils/components/ai/transition/ProtectOnAttack.java
  game/test/contrib/utils/components/ai/ProtectOnAttackTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Kommentare
  game/src/ecs/components/ai/idle/GhostWalk.java
  game/src/ecs/entities/Npc.java
  game/src/ecs/entities/Tombstone.java
Owners: @AMatutat, @Programmiermethoden/codrs

Added Class JavaDoc
  game/src/ecs/components/ManaComponent.java
  game/src/ecs/components/skill/Blink.java
  game/src/ecs/components/skill/DurationSkill.java
  game/src/ecs/components/skill/IDurationSkillFunction.java
  game/src/ecs/components/skill/Rage.java
  game/src/ecs/components/skill/Swiftness.java
  game/src/ecs/components/skill/Wisdom.java
  game/src/ecs/systems/ManaSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update XPModifier.java
  game/src/ecs/components/stats/XPModifier.java
Owners: @AMatutat, @Programmiermethoden/codrs

sout entfernt
  game/src/ecs/entities/Boss.java
  game/src/ecs/entities/Chort.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Imp.java
Owners: @AMatutat, @Programmiermethoden/codrs

NPC Klasse
  game/src/ecs/entities/Ghost.java
  game/src/ecs/entities/Npc.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

GhostWalk refactoring
  game/src/ecs/components/ai/idle/GhostWalk.java
  game/src/ecs/entities/Ghost.java
  game/src/ecs/entities/Npc.java
  game/src/ecs/entities/Tombstone.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update GhostWalk.java
  game/src/ecs/components/ai/idle/GhostWalk.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update GhostWalk.java
  game/src/ecs/components/ai/idle/GhostWalk.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update GhostWalk.java
  game/src/ecs/components/ai/idle/GhostWalk.java
Owners: @AMatutat, @Programmiermethoden/codrs

Revert "Update GhostWalk.java"
  game/src/ecs/components/ai/idle/GhostWalk.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update GhostWalk.java
  game/src/ecs/components/ai/idle/GhostWalk.java
Owners: @AMatutat, @Programmiermethoden/codrs

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon
