Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs, @malt-r

explain negativ modifier, better javadoc
  game/src/contrib/components/StatsComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Added IMultiplayerClient and IMultiplayerServer to encapsulate dependencies of concrete client and server
  game/src/contrib/utils/multiplayer/MultiplayerManager.java
  game/src/contrib/utils/multiplayer/client/IMultiplayerClient.java
  game/src/contrib/utils/multiplayer/client/MultiplayerClient.java
  game/src/contrib/utils/multiplayer/server/IMultiplayerServer.java
  game/src/contrib/utils/multiplayer/server/MultiplayerServer.java
  game/test/contrib/utils/multiplayer/MultiplayerManagerTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

use function to calculate the xp loot
  game/src/contrib/components/XPComponent.java
  game/src/contrib/systems/XPSystem.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix refactor typo
  game/src/contrib/components/XPComponent.java
Owners: @AMatutat, @Programmiermethoden/codrs

Apply suggestions from code review
  doc/control_mechanisms/tasks.md
Owners: @Programmiermethoden/dungeon

update uml
  doc/control_mechanisms/img/quest.png
  doc/control_mechanisms/img/quest.uxf
Owners: @Programmiermethoden/dungeon

remove wip note
  doc/control_mechanisms/tasks.md
Owners: @Programmiermethoden/dungeon

added cause for damage skill
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/contrib/utils/components/skill/FireballSkill.java
Owners: @AMatutat, @Programmiermethoden/codrs

Use System.lineseparator() instead of raw newlines
  dsl/test/interpreter/TestDSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

Spotless apply
  dsl/test/interpreter/TestDSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

added javadoc
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/contrib/utils/components/skill/FireballSkill.java
Owners: @AMatutat, @Programmiermethoden/codrs

[GAME] Cause-Entity für Damage-Skills hinzugefügt (#843)
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/contrib/utils/components/skill/FireballSkill.java
Owners: @AMatutat, @Programmiermethoden/codrs

[DSL] Fix newline chars in `testBranchingReturnNested` test (#844)
  dsl/test/interpreter/TestDSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

[Doc] dokumentation Task im Dungeon und Task-Callbacks hinzugefügt (#806)
  doc/control_mechanisms/img/quest.png
  doc/control_mechanisms/img/quest.uxf
  doc/control_mechanisms/readme.md
  doc/control_mechanisms/tasks.md
Owners: @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# gradle
build.gradle @Programmiermethoden/dungeon
settings.gradle @Programmiermethoden/dungeon

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dungeon/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon
