Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

Remove obsolete TODOs
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add sequence notes of type instantiator operation
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Reference object diagram in text
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Cleanup filenames from rebase
  doc/dsl/README.md
  doc/dsl/interpretation-laufzeit.md
  doc/dsl/interpretation_laufzeit.md
  doc/dsl/readme.md
  doc/dsl/typebuilding.md
Owners: @Programmiermethoden/dungeon

Fix error in sequence diagram (wrong arrow)
  doc/dsl/img/create_component_prototype.png
  doc/dsl/img/create_component_prototype.uxf
Owners: @Programmiermethoden/dungeon

small additions
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add object diagram for instantiated prototype
  doc/dsl/img/instance_prototype_objects.png
  doc/dsl/img/instance_prototype_objects.uxf
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Remove redundant notes about interpreter
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

Add sequence diagram about instantiation of java class
  doc/dsl/img/instantiate_java_class.png
  doc/dsl/img/instantiate_java_class.uxf
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Include content about Value and IMemorySpace in correct place
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

remove code fences around header
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add explanation about typebuilder instantiation
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Reference sequence diagrams for prototype creation
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add notes about conceptual distinction of DSLInterpreter and petri-net interpreter
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

Fix order of content mangled up during formatting
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

Add explanation about adapted type instancing (PODAdapted)
  doc/dsl/interpretation-laufzeit.md
  dsl/src/semanticanalysis/types/TypeInstantiator.java
Owners: @Programmiermethoden/dungeon, @malt-r

Combine notes about current partial state of documentation
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

spotlessApply
  dsl/src/runtime/EncapsulatedObject.java
  dsl/src/semanticanalysis/types/TypeInstantiator.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add sketch for encapsulated object (which will be relevant, once function-interface is implemented)
  doc/dsl/interpretation-laufzeit.md
  dsl/src/runtime/EncapsulatedObject.java
Owners: @Programmiermethoden/dungeon, @malt-r

Add explanatory text about objects in prototype instance
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Fix link
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

Rename ueberblick.md to README.md
  doc/dsl/README.md
  doc/dsl/typebuilding.md
Owners: @Programmiermethoden/dungeon

Format document
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

Cherry pick from memoryspace and value branch
  doc/dsl/img/imemoryspace_uml.png
  doc/dsl/img/imemoryspace_uml.uxf
  doc/dsl/img/value_uml.png
  doc/dsl/img/value_uml.uxf
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add explanation about game_objects beeing part of type definitions
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add note (so it won't get lost)
  dsl/src/interpreter/DSLInterpreter.java
Owners: @malt-r, @Programmiermethoden/dungeon

Add note about partial information in pipeline graphic
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

All classes are mentioned in the text above
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Fix link
  doc/dsl/typebuilding.md
Owners: @Programmiermethoden/dungeon

Use markdown image syntax consistently
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add issue for sequence-diagram for `executeUserDefinedFunction`
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

Remove TODOs about documentation of `EncapsulatedObject`
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

Clarify origin of Environment passed to runtime init
  doc/dsl/img/interpretation_pipeline.png
  doc/dsl/img/interpretation_pipeline.uxf
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

Reference issues for WIP parts
  doc/dsl/interpretation_laufzeit.md
Owners: @Programmiermethoden/dungeon

Add object diagram for prototype
  doc/dsl/img/prototype_objects.png
  doc/dsl/img/prototype_objects.uxf
Owners: @Programmiermethoden/dungeon

Link issues for TODOs
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add TODOS for Funktionsaufrufe
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add text about Typinstanziierung, add sequence diagram about prototype instantiation
  doc/dsl/img/instantiate_prototype.png
  doc/dsl/img/instantiate_prototype.uxf
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

Add sequence diagram for game object prototype creation
  doc/dsl/img/create_prototype.png
  doc/dsl/img/create_prototype.uxf
Owners: @Programmiermethoden/dungeon

Add TODOs to Typinstanziierung
  doc/dsl/interpretation-laufzeit.md
Owners: @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon
