Repository Dungeon-CampusMinden/Dungeon, changes with the owners that .github/CODEOWNERS names for each.
All owners: @cagix, @AMatutat, @Programmiermethoden/codrs, @malt-r, @Programmiermethoden/dungeon

Fix Kleinkram in Docs
  doc/ecs/components/hitbox_component.md
  game/src/ecs/components/AnimationComponent.java
  game/src/ecs/components/HealthComponent.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

fix test
  game/test/level/TileLevelTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

Remove "Block" Entitytype
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Substitute "Block" with "Entität"
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Clarify "Ausprägung" of entitytype
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Fixes spotless
  game/src/configuration/KeyboardConfig.java
  game/src/ecs/components/HealthComponent.java
  game/src/ecs/components/InventoryComponent.java
  game/src/ecs/components/PlayableComponent.java
  game/src/ecs/components/ai/idle/heroLastPosition.java
  game/src/ecs/components/ai/transition/FriendlyTransition.java
  game/src/ecs/components/skill/EnrageSkill.java
  game/src/ecs/components/skill/HealSkill.java
  game/src/ecs/components/skill/MagicSkill.java
  game/src/ecs/entities/BearTrap.java
  game/src/ecs/entities/Chest.java
  game/src/ecs/entities/FriendlyGhost.java
  game/src/ecs/entities/Grave.java
  game/src/ecs/entities/Hero.java
  game/src/ecs/entities/Mine.java
  game/src/ecs/entities/Monster.java
  game/src/ecs/entities/Monsters/Demon.java
  game/src/ecs/entities/Monsters/Imp.java
  game/src/ecs/entities/Monsters/Slime.java
  game/src/ecs/entities/Trap.java
  game/src/ecs/graphic/hud/InventoryHUD.java
  game/src/ecs/graphic/hud/PauseMenu.java
  game/src/ecs/items/WorldItemBuilder.java
  game/src/ecs/items/newItems/Bag.java
  game/src/ecs/items/newItems/BookOfRa.java
  game/src/ecs/items/newItems/Greatsword.java
  game/src/ecs/items/newItems/InvinciblePotion.java
  game/src/ecs/systems/PlayerSystem.java
  game/src/starter/Game.java
  game/test/graphic/AnimationTest.java
Owners: @AMatutat, @Programmiermethoden/codrs

[DOC] Add docs for Health-, Animation-, AIComponent (#574)
  doc/ecs/components/ai_component.md
  doc/ecs/components/animation_component.md
  doc/ecs/components/health_component.md
  doc/ecs/components/hitbox_component.md
  doc/ecs/components/img/aiComponent.png
  doc/ecs/components/img/aiComponent.uxf
  doc/ecs/components/img/animationComponent.png
  doc/ecs/components/img/animationComponent.uxf
  doc/ecs/components/img/healthComponent.png
  doc/ecs/components/img/healthComponent.uxf
  doc/ecs/components/img/hitboxComponent.png
  doc/ecs/components/img/hitboxComponent.uxf
  doc/ecs/components/img/interactionComponent.png
  doc/ecs/components/img/interactionComponent.uxf
  doc/ecs/components/img/inventoryComponent.png
  doc/ecs/components/img/inventoryComponent.uxf
  doc/ecs/components/img/xpComponent.png
  doc/ecs/components/img/xpComponent.uxf
  doc/ecs/components/interaction_component.md
  doc/ecs/components/inventory_component.md
  doc/ecs/components/readme.md
  doc/ecs/components/xp_component.md
  doc/ecs/img/ai.png
  doc/ecs/img/ai.uxf
  game/src/ecs/components/AnimationComponent.java
  game/src/ecs/components/HealthComponent.java
  game/src/ecs/components/ai/AIComponent.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

add small doc about the debugger
  doc/basics/debugger.md
Owners: @Programmiermethoden/dungeon

add DebugTools class
  game/src/starter/DebugTools.java
Owners: @AMatutat, @Programmiermethoden/codrs

add TOGGLE_LEVEL_SIZE
  game/src/starter/Debugger.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

use KeyboardConfig for debugger keys
  game/src/configuration/KeyboardConfig.java
  game/src/starter/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

telepor to end now telports only near the end
  game/src/starter/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

add spawn Monster method
  game/src/starter/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

add teleport to cursor
  game/src/starter/DebugTools.java
Owners: @AMatutat, @Programmiermethoden/codrs

handle targetlocations out of level
  game/src/starter/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

make Debugger an ECS-System
  game/src/starter/Debugger.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

add teleport to end and start tile
  game/src/starter/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

add generic TELEPORT Method
  game/src/starter/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

add DebugTools#ZOOM_CAMERA
  game/src/starter/DebugTools.java
Owners: @AMatutat, @Programmiermethoden/codrs

deactivate debugger in own ctor
  game/src/starter/Debugger.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

smaller zoom steps
  game/src/starter/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

add logger to debugger
  game/src/starter/Debugger.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

catch nullpointer in key methods
  game/src/starter/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

rebase
  game/src/configuration/KeyboardConfig.java
  game/src/starter/Debugger.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

move Debuger into package tools, update documnetation
  doc/basics/debugger.md
  game/src/starter/Game.java
  game/src/tools/Debugger.java
Owners: @Programmiermethoden/dungeon, @AMatutat, @Programmiermethoden/codrs

Update game/src/configuration/KeyboardConfig.java
  game/src/configuration/KeyboardConfig.java
Owners: @AMatutat, @Programmiermethoden/codrs

make TELEPORT more readable
  game/src/tools/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

refactor SPAWN_MONSTER method for more readability
  game/src/starter/Game.java
  game/src/tools/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

Update game/src/starter/Game.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

rename DEBUG_ACTIVATE_DEACTIVE into DEBUG_TOGGLE_KEY
  game/src/configuration/KeyboardConfig.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

add missing javadoc
  game/src/starter/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

remove doc
  doc/basics/debugger.md
Owners: @Programmiermethoden/dungeon

fix typos
  game/src/starter/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

fix javadoc, rebase
  game/src/tools/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

refacotre debugger javadoc
  game/src/tools/Debugger.java
Owners: @AMatutat, @Programmiermethoden/codrs

rebase
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Define "Zuordnung" in terms of a partial function
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

-Fixes Spotless -Uses receiveHit() for traps -Adds dynamic levelSize in relation to currentLevel
  game/src/ecs/components/HealthComponent.java
  game/src/ecs/entities/BearTrap.java
  game/src/ecs/entities/Mine.java
  game/src/starter/Game.java
Owners: @AMatutat, @Programmiermethoden/codrs

Typos
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

Specify mechanics further
  doc/tasks/readme.md
Owners: @Programmiermethoden/dungeon

.github/CODEOWNERS:

# global owner
* @cagix

# game owner
/game/ @AMatutat @Programmiermethoden/codrs

# dsl owner
/dsl/ @malt-r @Programmiermethoden/dungeon

#dsl connector owner
/dsl-connector/ @malt-r @AMatutat @Programmiermethoden/dungeon

#doc folder
/doc/ @Programmiermethoden/dungeon
