Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2023-10, with the labels that each got.

#1063 [DSL] Szenariobuilder-Methoden integrieren
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/interpreter/ScenarioBuilderStorage.java
  dsl/src/runtime/AggregateValue.java
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/RuntimeObjectTranslator.java
  dsl/src/semanticanalysis/FunctionDefinitionBinder.java
  dsl/src/semanticanalysis/SemanticAnalyzer.java
  dsl/src/semanticanalysis/types/TypeInstantiator.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dungeon/src/dsltypeproperties/EntityExtension.java
  dungeon/src/task/components/TaskComponent.java
  dungeon/src/task/taskdsltypes/MultipleChoiceTask.java
  dungeon/src/task/taskdsltypes/SingleChoiceTask.java
Labels: struct:dsl

#1068 Repo: fix invalid links
  CONTRIBUTING.md
  README.md
Labels: bug

#1075 [Documentation] Fügt zusätzliche Konferenzen und Journals hinzu
  doc/related_work/conferences.md
Labels: struct:documentation, publication

#1074 [GAME] `path` ist nicht mehr null in `MeleeAI`
  game/src/contrib/entities/AIFactory.java
  game/src/contrib/utils/components/ai/fight/MeleeAI.java
Labels: bug, staff:shk, struct:contrib

#1076 [GAME] remove `contrib.EntityFactory` from `TileLevelAPITest`
  game/test/core/level/TileLevelAPITest.java
Labels: bug, staff:shk, struct:core

#1078 [GAME] Entities offset fix
  game/src/core/systems/LevelSystem.java
  game/src/core/utils/components/draw/PainterConfig.java
Labels: bug, staff:shk, struct:core

#1081 [Antrag] add Kontaktdaten Educational Escape Room
  doc/related_work/digi_komp_ass_escape_room.md
Labels: antrag

#1079 [GAME] made items droppable from inventory
  game/src/contrib/hud/inventory/InventoryGUI.java
Labels: staff:shk, struct:dungeon

#1003 [DUNGEON] DSL Files in einer `jar` aus `game.jar` einlesen
  build.gradle
  dsl/src/interpreter/DSLEntryPointFinder.java
  dungeon/assets/scripts/task_test.dng
  dungeon/assets/scripts/task_test.jar
  dungeon/src/dungeonFiles/DslFileLoader.java
  dungeon/src/graphconverter/TaskGraphConverter.java
  dungeon/test/dslToGame/TestDslFileLoader.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
  game/src/contrib/level/generator/graphBased/levelGraph/LevelGraph.java
Labels: staff:shk, staff:wimi, struct:dungeon

#1083 [GAME] fix bug where entities spawn in the wall (or outside the level)
  game/src/core/components/PositionComponent.java
  game/test/contrib/entities/MonsterTest.java
  game/test/core/systems/CameraSystemTest.java
Labels: bug, struct:dungeon

#1087 [GAME] Items now get dropped at the Illegal Position
  game/src/contrib/entities/WorldItemBuilder.java
Labels: bug, struct:dungeon

#1089 [GAME] add SpikeSystem, hero now gets damage if he collides with monster
  dungeon/src/starter/Starter.java
  game/src/contrib/components/SpikyComponent.java
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/systems/SpikeSystem.java
  game/src/starter/Main.java
Labels: struct:dungeon

#1091 [GAME] remove random edges in levelgraph
  game/src/contrib/level/generator/graphBased/LevelGraphGenerator.java
Labels: struct:dungeon

#1093 [GAME] Items aus Inventar per Tastendruck verwenden
  game/src/contrib/configuration/KeyboardConfig.java
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/hud/inventory/InventoryGUI.java
  game/src/contrib/item/Item.java
  game/test/contrib/utils/components/item/ItemTest.java
Labels: staff:shk, struct:dungeon

#1104 [Related Work] add notes for "Designing an Educational Game Evaluation Framework Based on Game Mechanics"
  doc/related_work/designing_an_educational_game_evaluation_framework_based_on_game_mechanics.md
Labels: struct:documentation, publication

#1101 [GAME] change Skill cool down from seconds into milliseconds
  game/src/contrib/entities/AIFactory.java
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/utils/components/skill/Skill.java
  game/test/contrib/utils/components/skill/SkillTest.java
Labels: struct:dungeon

#1100 [GAME] change default camera zoom to 0.35
  game/src/core/utils/Constants.java
Labels: struct:dungeon

#1090 [GAME] better Items and Crafting settings
  game/assets/recipes/healtpotion_berry.recipe
  game/assets/recipes/healtpotion_mushroom.recipe
  game/src/contrib/item/Item.java
  game/src/contrib/item/concreteItem/ItemPotionHealth.java
  game/src/contrib/item/concreteItem/ItemPotionWater.java
  game/src/contrib/item/concreteItem/ItemResourceBerry.java
  game/src/contrib/item/concreteItem/ItemResourceEgg.java
  game/src/contrib/item/concreteItem/ItemResourceMushroomRed.java
  game/src/contrib/utils/components/health/DamageType.java
  game/src/contrib/utils/components/item/ItemDataGenerator.java
Labels: struct:dungeon

#1097 [DUNGEON] add grading functions
  dungeon/src/reporting/GradingFunctions.java
  dungeon/src/task/AssignTask.java
  dungeon/src/task/Element.java
  dungeon/src/task/ReplacementTask.java
  dungeon/src/task/Task.java
  dungeon/src/task/quizquestion/MultipleChoice.java
  dungeon/src/task/quizquestion/SingleChoice.java
  dungeon/test/reporting/GradingFunctionsTest.java
  game/src/core/utils/logging/CustomLogLevel.java
Labels: staff:wimi, struct:dungeon

#1121 [DUNGEON] add id to task
  dungeon/src/task/Task.java
  dungeon/test/task/TaskTest.java
Labels: staff:wimi, struct:dungeon

#1122 [DUNGEON] change `TaskContentComponent` so it only stores one `TaskContent`
  dungeon/src/task/Task.java
  dungeon/src/task/components/TaskContentComponent.java
Labels: staff:wimi, struct:dungeon

#1126 [GAME/DUNGEON] fix bugs in Game entity management, add `Game#find(Component)`
  dungeon/src/task/Task.java
  game/src/core/Game.java
  game/test/core/GameTest.java
Labels: bug, high prio, staff:wimi, struct:dungeon

#1106 [DSL] Loop-Statements hinzufügen
  dsl/src/antlr/DungeonDSL.g4
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/parser/DungeonASTConverter.java
  dsl/src/parser/ast/AstVisitor.java
  dsl/src/parser/ast/CountingLoopStmtNode.java
  dsl/src/parser/ast/ForLoopStmtNode.java
  dsl/src/parser/ast/LoopBottomMark.java
  dsl/src/parser/ast/LoopStmtNode.java
  dsl/src/parser/ast/Node.java
  dsl/src/parser/ast/VarDeclNode.java
  dsl/src/parser/ast/WhileLoopStmtNode.java
  dsl/src/runtime/ListValue.java
  dsl/src/runtime/SetValue.java
  dsl/src/semanticanalysis/SemanticAnalyzer.java
  dsl/src/semanticanalysis/VariableBinder.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/parser/TestDungeonASTConverter.java
  dsl/test/semanticanalysis/TestSemanticAnalyzer.java
Labels: struct:dsl

#1086 [DSL] Definition von Item-Typen per DSL ermöglichen
  dsl/src/antlr/DungeonDSL.g4
  dsl/src/interpreter/DSLEntryPointFinder.java
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/parser/DungeonASTConverter.java
  dsl/src/parser/ast/AstVisitor.java
  dsl/src/parser/ast/ItemPrototypeDefinitionNode.java
  dsl/src/parser/ast/Node.java
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/Prototype.java
  dsl/src/semanticanalysis/FunctionDefinitionBinder.java
  dsl/src/semanticanalysis/SemanticAnalyzer.java
  dsl/src/semanticanalysis/VariableBinder.java
  dsl/src/semanticanalysis/types/TypeBinder.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/parser/TestDungeonASTConverter.java
  dsl/test/semanticanalysis/TestSemanticAnalyzer.java
  dungeon/src/dslnativefunction/NativeBuildQuestItem.java
  dungeon/src/dslnativefunction/NativeInstantiate.java
  dungeon/src/dsltypeadapters/DrawComponentAdapter.java
  dungeon/src/dsltypeadapters/QuestItemAdapter.java
  dungeon/src/dsltypeproperties/QuestItemExtension.java
  dungeon/src/task/TaskContent.java
  dungeon/src/task/components/TaskContentComponent.java
  dungeon/src/task/taskdsltypes/MultipleChoiceTask.java
  dungeon/src/task/taskdsltypes/SingleChoiceTask.java
Labels: struct:dsl

#1124 [DUNGEON] add Answerpicking-Functions
  dungeon/src/reporting/AnswerPickingFunctions.java
  dungeon/src/task/Task.java
  dungeon/test/reporting/AnswerPickingFunctionsTest.java
  game/src/contrib/components/InventoryComponent.java
Labels: high prio, staff:wimi, meeting, struct:dungeon

#1057 [Dungeon] implement complete project flow in dungeon.Starter
  dungeon/src/graphconverter/TaskBuilder.java
  dungeon/src/graphconverter/TaskGraphConverter.java
  dungeon/src/starter/Starter.java
  dungeon/src/starter/WizardTaskSelector.java
Labels: staff:wimi, meeting, struct:dungeon

#1130 [DUNGEON] fix bug in petri net parsing, add some (debug) features to starter
  dungeon/assets/scripts/task_test.dng
  dungeon/src/graphconverter/TaskGraphConverter.java
  dungeon/src/starter/Starter.java
  dungeon/src/starter/WizardTaskSelector.java
Labels: bug, high prio, struct:dungeon
