Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2023-11, with the labels that each got.

#1129 [GAME] use Entity name on Inventory HUD
  game/src/contrib/hud/inventory/InventoryGUI.java
Labels: struct:dungeon

#1131 [GAME] optimize closed `DoorTile` visuals
  game/src/core/level/elements/tile/DoorTile.java
Labels: staff:wimi, struct:dungeon

#1134 [GAME] fix bug where Camera would recenter after player dies
  game/src/contrib/entities/EntityFactory.java
Labels: struct:dungeon

#1137 [DSL] Grading-Funktionen in DSL integrieren
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/runtime/FunctionValue.java
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/nativefunctions/ExtensionMethod.java
  dsl/src/runtime/nativefunctions/NativeFunction.java
  dsl/src/semanticanalysis/types/IDSLExtensionMethod.java
  dsl/src/semanticanalysis/types/TypeBuilder.java
  dsl/src/semanticanalysis/types/TypeInstantiator.java
  dsl/src/semanticanalysis/types/callbackadapter/BiFunctionCallbackAdapter.java
  dsl/src/semanticanalysis/types/callbackadapter/BiFunctionFunctionTypeBuilder.java
  dsl/src/semanticanalysis/types/callbackadapter/CallbackAdapter.java
  dsl/src/semanticanalysis/types/callbackadapter/CallbackAdapterBuilder.java
  dsl/src/semanticanalysis/types/callbackadapter/ConsumerFunctionTypeBuilder.java
  dsl/src/semanticanalysis/types/callbackadapter/FunctionCallbackAdapter.java
  dsl/src/semanticanalysis/types/callbackadapter/FunctionFunctionTypeBuilder.java
  dsl/src/semanticanalysis/types/callbackadapter/IFunctionTypeBuilder.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/interpreter/mockecs/TestComponent2.java
  dungeon/src/task/taskdsltypes/MultipleChoiceTask.java
  dungeon/src/task/taskdsltypes/SingleChoiceTask.java
Labels: struct:dsl

#1132 [GAME] use wizard textures for player character
  game/src/contrib/entities/EntityFactory.java
Labels: struct:dungeon

#964 [GAME] Animationen zentral im DrawSystem setzen
  dungeon/src/dsltypeadapters/QuestItemAdapter.java
  game/assets/objects/treasurechest/idle_closed/treasurechest_full_open_anim_f0.png
  game/assets/objects/treasurechest/open_empty/treasurechest_open_empty_f0.png
  game/assets/objects/treasurechest/open_full/treasurechest_open_full_f0.png
  game/assets/objects/treasurechest/opening/treasurechest_full_open_anim_f0.png
  game/assets/objects/treasurechest/opening/treasurechest_full_open_anim_f1.png
  game/assets/objects/treasurechest/opening/treasurechest_full_open_anim_f2.png
  game/src/contrib/components/UIComponent.java
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/item/Item.java
  game/src/contrib/systems/HealthSystem.java
  game/src/contrib/systems/HudSystem.java
  game/src/contrib/utils/components/draw/AdditionalAnimations.java
  game/src/contrib/utils/components/draw/AdditionalAnimationsPriorities.java
  game/src/contrib/utils/components/draw/ChestAnimations.java
  game/src/contrib/utils/components/interaction/DropItemsInteraction.java
  game/src/core/components/DrawComponent.java
  game/src/core/components/VelocityComponent.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/LevelSystem.java
  game/src/core/systems/VelocitySystem.java
  game/src/core/utils/components/draw/Animation.java
  game/src/core/utils/components/draw/CoreAnimationPriorities.java
  game/src/core/utils/components/draw/CoreAnimations.java
  game/src/core/utils/components/draw/IPath.java
  game/src/core/utils/components/draw/PainterConfig.java
  game/test/contrib/components/InventoryComponentTest.java
  game/test/contrib/entities/ChestTest.java
  game/test/contrib/systems/HealthSystemTest.java
  game/test/contrib/utils/components/item/ItemTest.java
  game/test/core/components/DrawComponentTest.java
  game/test/core/systems/VelocitySystemTest.java
  game/test/core/utils/components/draw/AnimationTest.java
Labels: staff:shk, struct:dungeon

#1139 [GAME] fix bug where an absolut path was used to link the font for the gui
  game/src/contrib/hud/crafting/CraftingGUI.java
  game/src/contrib/hud/inventory/InventoryGUI.java
Labels: bug, high prio, staff:wimi, struct:dungeon

#1140 [GAME] add god-mode (option to make the player invincible)
  game/src/contrib/components/HealthComponent.java
  game/test/contrib/systems/HealthSystemTest.java
Labels: struct:dungeon

#1095 [Game][Dungeon] fix bug: Quiz starter not working, removing temporary Progressbarstyle, fixing dialog question no longer getting formatted
  dungeon/src/task/quizquestion/QuizDialogDesign.java
  dungeon/src/task/quizquestion/QuizUI.java
  dungeon/test/manual/quizquestion/QuizQuestionUITest.java
  game/assets/skin/uiskin.atlas
  game/assets/skin/uiskin.json
  game/assets/skin/uiskin.png
  game/src/contrib/hud/TextDialog.java
  game/src/contrib/hud/heroUI/HeroUITools.java
  game/src/contrib/systems/HealthbarSystem.java
  game/src/contrib/systems/HeroUISystem.java
Labels: bug, staff:shk, struct:dungeon, struct:contrib

#1142 [GAME] fix bug where Chest in EntityFactory could be placed out of level
  game/src/contrib/entities/EntityFactory.java
  game/test/contrib/entities/ChestTest.java
Labels: bug, struct:dungeon

#1146 [DSL] Named Aggregate Value ermöglichen -> erlaubt die Benennung von `Task` Objekten mit dem Namen des DSL-Identifiers.
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/semanticanalysis/types/AggregateType.java
  dsl/src/semanticanalysis/types/DSLTypeNameMember.java
  dsl/src/semanticanalysis/types/TypeBuilder.java
  dsl/src/semanticanalysis/types/TypeInstantiator.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/interpreter/mockecs/TestClassWithName.java
  dungeon/src/task/Task.java
  dungeon/src/task/taskdsltypes/MultipleChoiceTask.java
  dungeon/src/task/taskdsltypes/SingleChoiceTask.java
Labels: struct:dsl

#1127 [DUNGEON] add abort button to quest ui, add yes no dialog
  build.gradle
  dungeon/src/task/YesNoDialog.java
  dungeon/src/task/quizquestion/QuizUI.java
  dungeon/src/task/quizquestion/UIAnswerCallback.java
  dungeon/test/manual/YesNoDialogTest.java
  game/src/contrib/hud/UITools.java
Labels: staff:shk, staff:wimi, struct:dungeon

#1145 [DSL] Fügt Assignment Tasks (Zuordnungsaufgaben) zur DSL hinzu.
  dsl/src/antlr/DungeonDSL.g4
  dsl/src/interpreter/DSLEntryPointFinder.java
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/parser/DungeonASTConverter.java
  dsl/src/parser/ast/AstVisitor.java
  dsl/src/parser/ast/MapTypeIdentifierNode.java
  dsl/src/parser/ast/Node.java
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/MapValue.java
  dsl/src/runtime/RuntimeObjectTranslator.java
  dsl/src/runtime/SetValue.java
  dsl/src/semanticanalysis/FunctionDefinitionBinder.java
  dsl/src/semanticanalysis/SemanticAnalyzer.java
  dsl/src/semanticanalysis/types/DSLType.java
  dsl/src/semanticanalysis/types/IType.java
  dsl/src/semanticanalysis/types/MapType.java
  dsl/src/semanticanalysis/types/SetType.java
  dsl/src/semanticanalysis/types/TypeBuilder.java
  dsl/src/semanticanalysis/types/TypeInstantiator.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dungeon/src/dsltypeproperties/EntityExtension.java
  dungeon/src/task/AssignTask.java
  dungeon/src/task/Element.java
  dungeon/src/task/components/TaskContentComponent.java
  dungeon/src/task/taskdsltypes/AssignTaskDSLType.java
  game/src/contrib/components/InteractionComponent.java
  game/src/contrib/components/InventoryComponent.java
Labels: struct:dsl

#1148 [GAME] fix bug where player was drawn behind other entities
  game/src/core/systems/DrawSystem.java
Labels: bug, struct:core

#1154 [GAME] Öffnen des Inventars der Schatztruhe pausiert das Spiel
  game/src/contrib/entities/EntityFactory.java
Labels: bug, staff:shk

#1155 [GAME] Abhängigkeit von `contrib.HealthComponent` in `core.VelocitySystem` entfernt
  game/src/core/systems/VelocitySystem.java
Labels: bug, staff:shk, struct:core

#1151 [GAME] add OK-Dialog and use it for the questlog
  dungeon/src/starter/Starter.java
  game/src/contrib/hud/OkDialog.java
Labels: bug, staff:wimi, struct:dungeon

#1150 [DUNGEON] add easy to use method to ask and grade a quiz over the hud
  dungeon/src/task/Quiz.java
  dungeon/src/task/Task.java
  dungeon/src/task/quizquestion/QuizUI.java
  dungeon/src/task/quizquestion/UIAnswerCallback.java
  dungeon/test/manual/quizquestion/QuizQuestionUITest.java
Labels: staff:wimi, struct:dungeon

#1156 [Game] Frustum check not using offset
  game/src/core/utils/components/draw/Painter.java
Labels: bug

#1152 [DUNGEON] add info screen to show achieved points, played time and the scenario id
  dungeon/src/starter/Starter.java
  dungeon/src/starter/WizardTaskSelector.java
  dungeon/src/task/Task.java
  dungeon/src/task/quizquestion/QuizUI.java
  game/src/contrib/configuration/KeyboardConfig.java
Labels: high prio, staff:wimi, struct:dungeon

#1161 [DUNGEON] add seperate Logger and Logfile for the task solutions
  dungeon/src/task/Task.java
  game/src/core/utils/logging/CustomLogLevel.java
Labels: high prio, staff:wimi, struct:dungeon

#1159 [DUNGEON] fix bug where game would crash if no mission was selected
  dungeon/src/starter/Starter.java
  dungeon/src/starter/TaskSelector.java
Labels: bug, high prio, struct:dungeon

#1160 [DUNGEON] change dungeon starter for the evaluation
  dungeon/src/reporting/GradingFunctions.java
  dungeon/src/starter/Starter.java
  game/src/contrib/entities/EntityFactory.java
  game/src/core/utils/Constants.java
Labels: high prio, staff:wimi, struct:dungeon

#1164 [DUNGEON] fix bug where you could eat questitems
  dungeon/src/task/QuestItem.java
Labels: high prio, staff:wimi, struct:dungeon

#1163 [DUNGEON] drop questitems after task is done
  dungeon/src/task/Task.java
  dungeon/test/reporting/GradingFunctionsTest.java
Labels: high prio, staff:wimi, struct:dungeon

#1166 [DUNGEON] spawn crafting cauldron on level 4
  dungeon/src/starter/Starter.java
Labels: staff:wimi, struct:dungeon

#1165 [EVALUATION] give monster in dng movementspeed
  dungeon/assets/scripts/evaluation.dng
Labels: struct:dsl

#1158 [DOC] add how to play
  doc/manuals/readme.md
Labels: struct:documentation, high prio, staff:wimi

#1167 [DSL] verbessere Randomisierung von ausgewählten Szenario-Buildern
  dsl/src/interpreter/ScenarioBuilderStorage.java
Labels: struct:dsl

#1168 [DUNGEON/GAME| fix bugs found at evaluation
  dungeon/src/starter/Starter.java
  dungeon/src/task/Task.java
  game/src/contrib/entities/WorldItemBuilder.java
  game/src/core/systems/PositionSystem.java
  game/src/core/systems/VelocitySystem.java
  game/test/core/systems/PositionSystemTest.java
Labels: bug, staff:wimi, struct:dungeon

#1181 [GAME] Offset für Feuerball eingebaut
  game/src/contrib/components/CollideComponent.java
  game/src/contrib/utils/components/skill/DamageProjectile.java
Labels: bug, staff:shk, struct:contrib

#1180 [DUNGEON] Fix bug in grading function for assignment task where empty sets would not be correctly scored.
  dungeon/src/reporting/GradingFunctions.java
  dungeon/test/reporting/GradingFunctionsTest.java
Labels: bug, high prio, staff:wimi, struct:dungeon

#1179 [DUNGEON] show correct answers after question was answered false
  dungeon/src/task/AssignTask.java
  dungeon/src/task/Quiz.java
  dungeon/src/task/ReplacementTask.java
  dungeon/src/task/Task.java
  dungeon/src/task/YesNoDialog.java
  dungeon/src/task/quizquestion/QuizUI.java
  dungeon/test/petriNet/PetriNetFactoryTest.java
  dungeon/test/petriNet/PlaceTest.java
  dungeon/test/task/TaskContentDoorOpenerTest.java
  dungeon/test/task/TaskTest.java
Labels: staff:wimi, struct:dungeon

#1183 [GAME] Interaktion per Linksklick hinzugefügt
  game/src/contrib/configuration/KeyboardConfig.java
  game/src/contrib/entities/EntityFactory.java
  game/src/core/Game.java
  game/src/core/components/PlayerComponent.java
Labels: staff:shk, struct:contrib

#1186 [GAME] Berechnung der Flugbahn von Projectile angepasst
  game/src/contrib/utils/components/skill/DamageProjectile.java
Labels: bug, staff:shk, struct:contrib

#1189 [GAME] Abhängigkeiten zu `contrib` in `DrawComponentTest` entfernt
  game/test/core/components/DrawComponentTest.java
Labels: bug, staff:shk, struct:core

#1187 [GAME] Abhängigkeiten zu `contrib` Package in `core` entfernt
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/core/components/DrawComponent.java
  game/src/core/components/VelocityComponent.java
  game/src/core/systems/VelocitySystem.java
Labels: bug, staff:shk, struct:core

#1195 [DSL] Fix Fehlkonfiguration QuestChest
  dungeon/src/dsltypeproperties/EntityExtension.java
Labels: bug, struct:dsl

#1184 [DUNGEON] add Anzeige für Erklärungstext und korrekte Antwort an, falls ein Task falsch bearbeitet wurde
  dungeon/src/task/Task.java
  dungeon/src/task/YesNoDialog.java
  dungeon/src/task/quizquestion/QuizUI.java
  dungeon/src/task/taskdsltypes/AssignTaskDSLType.java
  dungeon/src/task/taskdsltypes/MultipleChoiceTask.java
  dungeon/src/task/taskdsltypes/SingleChoiceTask.java
Labels: staff:wimi, struct:dungeon

#1197 [GAME] use german in hud
  game/src/contrib/hud/OkDialog.java
  game/src/contrib/hud/UITools.java
  game/src/contrib/utils/components/Debugger.java
Labels: struct:contrib

#1201 [DUNGEO] fix bug where answer picking functions would also collect items from other tasks
  dungeon/src/reporting/AnswerPickingFunctions.java
  dungeon/test/reporting/AnswerPickingFunctionsTest.java
Labels: bug, struct:dungeon

#1198 [DUNGEON] remove all QuestItems after a Task is solved
  dungeon/src/task/Task.java
Labels: struct:dungeon

#1182 [Game] closing crafting UI uses onClose function to cancel crafting
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/hud/crafting/CraftingGUI.java
Labels: bug, staff:shk, struct:contrib

#1199 [GAME] spawn entities on tile center
  game/src/core/systems/PositionSystem.java
  game/test/core/systems/PositionSystemTest.java
Labels: struct:core

#1208 [Game] AI no longer goes onto doors, dropping items only on FloorTile
  game/src/contrib/item/Item.java
  game/src/contrib/utils/components/interaction/DropItemsInteraction.java
  game/src/contrib/utils/level/NoTileFoundException.java
  game/src/core/level/utils/LevelUtils.java
  game/test/contrib/utils/components/item/ItemTest.java
Labels: bug, staff:shk

#1200 [GAME] split `Game` into seperat classes, use `Game` as center API
  game/src/core/Entity.java
  game/src/core/Game.java
  game/src/core/game/ECSManagment.java
  game/src/core/game/GameLoop.java
  game/src/core/game/PreRunConfiguration.java
Labels: high prio, staff:wimi, struct:core

#1205 [DSL] Native Scenario Builder in DSL integrieren; Forcen von Scenario Builder für einzelne Tasks ermöglichen
  dungeon/assets/scripts/internal_scenario_builder_usage.dng
  dungeon/src/dsl/interpreter/DSLInterpreter.java
  dungeon/src/dsl/interpreter/ScenarioBuilderStorage.java
  dungeon/src/dsl/runtime/FunctionValue.java
  dungeon/src/dsl/runtime/GameEnvironment.java
  dungeon/src/dsl/runtime/Value.java
  dungeon/src/dsl/semanticanalysis/FunctionDefinitionBinder.java
  dungeon/src/dsl/semanticanalysis/SemanticAnalyzer.java
  dungeon/src/dsl/semanticanalysis/types/TypeBuilder.java
  dungeon/src/dsl/semanticanalysis/types/TypeInstantiator.java
  dungeon/src/dsl/semanticanalysis/types/callbackadapter/CallbackAdapter.java
  dungeon/src/dslinterop/nativescenariobuilder/NativeScenarioBuilder.java
  dungeon/src/task/Task.java
  dungeon/src/task/dslinterop/AssignTaskDSLType.java
  dungeon/src/task/dslinterop/MultipleChoiceTask.java
  dungeon/src/task/dslinterop/SingleChoiceTask.java
  dungeon/src/task/utils/hud/QuizUI.java
  dungeon/src/task/utils/hud/YesNoDialog.java
  dungeon/test/dsl/interpreter/TestDSLInterpreter.java
Labels: struct:dsl

#1209 [REPO] remove unused action
  .github/workflows/publish_github.yml
Labels: staff:wimi

#1206 [DSL] Update DSL-Quickstart
  doc/dsl/examplescripts/quickstart_example.dng
  doc/dsl/examplescripts/quickstart_task_dependency.dng
  doc/dsl/img/blue_knight.png
  doc/dsl/img/door.png
  doc/dsl/img/knight.png
  doc/dsl/img/quickstart_answer_menu.png
  doc/dsl/img/quickstart_correct.png
  doc/dsl/img/quickstart_correct_answer.png
  doc/dsl/img/quickstart_explanation.png
  doc/dsl/img/quickstart_false.png
  doc/dsl/img/quickstart_filler_room.png
  doc/dsl/img/quickstart_questroom.png
  doc/dsl/img/quickstart_select_config_level.png
  doc/dsl/img/quickstart_select_config_menu.png
  doc/dsl/img/wizard.png
  doc/dsl/quickstart.md
Labels: struct:documentation

#1217 [DSL] Cleanup von obsoleten Strukturen aus der Grammatik und ASTConverter
  dungeon/src/dsl/antlr/DungeonDSL.g4
  dungeon/src/dsl/parser/DungeonASTConverter.java
  dungeon/src/dsl/parser/ast/ObjectDefNode.java
Labels: struct:dsl

#1218 [DSL] DSL Typ-Member zu Field Map pro Datentyp speichern
  dungeon/src/dsl/runtime/EncapsulatedObject.java
  dungeon/src/dsl/semanticanalysis/types/AggregateType.java
  dungeon/src/dsl/semanticanalysis/types/TypeBuilder.java
  dungeon/test/dsl/semanticanalysis/types/TestTypeInstantiator.java
Labels: struct:dsl

#1221 [GAME] fix `SkillTest #executeWhenCoolDownExpired ` and `ItemTest#testCollectNoInventory`
  game/test/contrib/utils/components/item/ItemTest.java
  game/test/contrib/utils/components/skill/SkillTest.java
Labels: bug, high prio, struct:contrib

#1228 [ORG] add Tag `before-remove-unused-features`
  game/doc/readme.md
Labels: staff:wimi

#1207 [GAME] split Main-Starter
  build.gradle
  game/src/contrib/crafting/Crafting.java
  game/src/starter/RandomDungeon.java
  game/src/starter/RoomBasedDungeon.java
Labels: struct:core

#1231 [GAME] `EntityFactory` in `HeroFactory`, `MonsterFactory` und `MiscFactory` aufgeteilt
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/entities/HeroFactory.java
  game/src/contrib/entities/MiscFactory.java
  game/src/contrib/entities/MonsterFactory.java
Labels: staff:shk, struct:contrib

#1230 [GAME] fix `ItemTest#testCollectNoInventory`
  game/src/contrib/utils/components/skill/Skill.java
  game/test/contrib/utils/components/item/ItemTest.java
  game/test/contrib/utils/components/skill/SkillTest.java
Labels: bug, high prio, staff:wimi, struct:contrib

#1232 [GAME] Existenz des `HealthComponent`s in `ProtectOnAttack` wird zur Laufzeit geprüft
  game/src/contrib/utils/components/ai/fight/RangeAI.java
  game/src/contrib/utils/components/ai/transition/ProtectOnAttack.java
Labels: bug, staff:shk, struct:contrib

#1236 [Game] refactor animationclass only using factory methods instead of mix
  dungeon/src/dslinterop/dsltypeadapters/QuestItemAdapter.java
  dungeon/src/dslinterop/nativescenariobuilder/NativeScenarioBuilder.java
  dungeon/test/dsl/interpreter/TestDSLInterpreter.java
  game/src/contrib/hud/crafting/CraftingGUI.java
  game/src/contrib/item/Item.java
  game/src/contrib/item/concreteItem/ItemPotionHealth.java
  game/src/contrib/item/concreteItem/ItemPotionWater.java
  game/src/contrib/item/concreteItem/ItemResourceBerry.java
  game/src/contrib/item/concreteItem/ItemResourceEgg.java
  game/src/contrib/item/concreteItem/ItemResourceMushroomRed.java
  game/src/core/components/DrawComponent.java
  game/src/core/utils/components/draw/Animation.java
  game/src/core/utils/components/draw/SimpleIPath.java
  game/test/contrib/components/InventoryComponentTest.java
  game/test/contrib/utils/components/item/ItemTest.java
  game/test/core/utils/components/draw/AnimationTest.java
Labels: staff:shk, struct:core

#1237 [DOC] DSL-Taskdefinition dokumentieren
  dungeon/assets/scripts/example.dng
  dungeon/doc/dsl/examplescripts/quickstart_task_dependency.dng
  dungeon/doc/dsl/task_definition.md
  dungeon/doc/readme.md
  dungeon/src/task/dslinterop/DSLMultipleChoice.java
  dungeon/test/dsl/interpreter/TestDSLInterpreter.java
  dungeon/test/dsl/semanticanalysis/TestSemanticAnalyzer.java
  dungeon/test_resources/task_test.dng
Labels: struct:documentation, struct:dsl

#1235 [GAME] cleanup `PositionSystem`
  game/src/core/systems/PositionSystem.java
Labels: struct:core

#1234 [GAME] cleanup `PositionComponent`
  game/src/core/components/PositionComponent.java
  game/test/contrib/entities/ChestTest.java
  game/test/core/components/PositionComponentTest.java
  game/test/core/level/TileLevelAPITest.java
Labels: struct:core

#1238 [GAME] cleanup class `System`
  game/src/core/System.java
Labels: struct:core

#1247 [Game] allow systems to be only run every x frames
  game/src/core/System.java
  game/src/core/game/GameLoop.java
Labels: staff:shk, struct:core

#1245 [GAME] cleanup class `SkillTools`
  game/src/contrib/utils/components/skill/SkillTools.java
Labels: staff:shk, struct:contrib

#1239 [GAME] cleanup class `Entity`
  dungeon/src/dslinterop/dslnativefunction/NativeInstantiate.java
  dungeon/src/dslinterop/dslnativefunction/NativeInstantiateNamed.java
  dungeon/src/dslinterop/dsltypeproperties/EntityExtension.java
  dungeon/src/dslinterop/nativescenariobuilder/NativeScenarioBuilder.java
  dungeon/src/graph/TaskGraphConverter.java
  dungeon/src/starter/TaskSelector.java
  dungeon/src/task/game/components/TaskComponent.java
  dungeon/test/dslToGame/TestRuntimeObjectTranslator.java
  dungeon/test/manual/quizquestion/CallbackTest.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
  dungeon/test/reporting/AnswerPickingFunctionsTest.java
  dungeon/test/task/TaskContentDoorOpenerTest.java
  game/src/contrib/components/InteractionComponent.java
  game/src/contrib/entities/HeroFactory.java
  game/src/contrib/entities/MiscFactory.java
  game/src/contrib/entities/MonsterFactory.java
  game/src/contrib/entities/WorldItemBuilder.java
  game/src/contrib/hud/UITools.java
  game/src/contrib/systems/HealthbarSystem.java
  game/src/contrib/utils/components/Debugger.java
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/core/Component.java
  game/src/core/Entity.java
  game/test/contrib/components/CollisionComponentTest.java
  game/test/contrib/components/HealthComponentTest.java
  game/test/contrib/components/InteractionComponentTest.java
  game/test/contrib/components/InventoryComponentTest.java
  game/test/contrib/systems/AISystemTest.java
  game/test/contrib/systems/CollisionSystemTest.java
  game/test/contrib/systems/HealthSystemTest.java
  game/test/contrib/utils/components/ai/ProtectOnApproachTest.java
  game/test/contrib/utils/components/ai/ProtectOnAttackTest.java
  game/test/contrib/utils/components/ai/SelfDefendTransitionTest.java
  game/test/contrib/utils/components/health/DropLootTest.java
  game/test/contrib/utils/components/interaction/ControlPointReachableTest.java
  game/test/contrib/utils/components/interaction/InteractionToolTest.java
  game/test/contrib/utils/components/item/ItemTest.java
  game/test/core/EntityTest.java
  game/test/core/GameTest.java
  game/test/core/level/TileLevelAPITest.java
  game/test/core/systems/CameraSystemTest.java
  game/test/core/systems/PositionSystemTest.java
  game/test/core/systems/VelocitySystemTest.java
Labels: struct:core

#1246 [GAME] cleanup `VelocityComponent`
  game/src/contrib/utils/components/Debugger.java
  game/src/core/components/VelocityComponent.java
Labels: struct:core

#1248 [GAME] cleanup `PlayerComponent` and `PlayerSystem`
  game/src/core/components/PlayerComponent.java
  game/src/core/systems/PlayerSystem.java
Labels: struct:core

#1250 [GAME] cleanup `DrawSystem`
  game/src/core/systems/DrawSystem.java
Labels: struct:core

#1251 [GAME] cleanup `VelocitySystem`
  game/src/core/systems/VelocitySystem.java
Labels: struct:core

#1252 [GAME] cleanup `CameraSystem`
  game/src/core/systems/CameraSystem.java
Labels: struct:core

#1253 [GAME] cleanup `LevelSystem`
  game/src/core/systems/LevelSystem.java
Labels: struct:core

#1254 [GAME] cleanup package `core.configuration`
  game/src/contrib/configuration/KeyboardConfig.java
  game/src/contrib/entities/HeroFactory.java
  game/src/contrib/utils/components/Debugger.java
  game/src/core/configuration/ConfigKey.java
  game/src/core/configuration/Configuration.java
  game/src/core/configuration/KeyboardConfig.java
  game/src/core/configuration/values/ConfigBooleanValue.java
  game/src/core/configuration/values/ConfigCharValue.java
  game/src/core/configuration/values/ConfigDoubleValue.java
  game/src/core/configuration/values/ConfigEnumValue.java
  game/src/core/configuration/values/ConfigFloatValue.java
  game/src/core/configuration/values/ConfigIntValue.java
  game/src/core/configuration/values/ConfigStringValue.java
  game/src/core/configuration/values/ConfigValue.java
Labels: struct:core

#1257 [GAME] cleanup `Tile`
  game/src/contrib/level/generator/graphBased/RoombasedLevelGenerator.java
  game/src/core/level/Tile.java
  game/src/core/level/elements/tile/DoorTile.java
  game/src/core/level/elements/tile/ExitTile.java
  game/src/core/level/elements/tile/FloorTile.java
  game/src/core/level/elements/tile/HoleTile.java
  game/src/core/level/elements/tile/SkipTile.java
  game/src/core/level/elements/tile/TileFactory.java
  game/src/core/level/elements/tile/WallTile.java
  game/src/core/systems/LevelSystem.java
  game/test/core/level/TileLevelTest.java
  game/test/core/level/TileTest.java
Labels: struct:core

#1255 [GAME] small cleanups for small classes
  game/src/core/level/utils/Coordinate.java
  game/src/core/level/utils/DesignLabel.java
  game/src/core/level/utils/LevelElement.java
  game/src/core/level/utils/LevelSize.java
  game/src/core/utils/IVoidFunction.java
  game/src/core/utils/Point.java
  game/src/core/utils/TriConsumer.java
  game/src/core/utils/Tuple.java
  game/src/core/utils/logging/LoggerConfig.java
Labels: struct:core

#1256 [Game] cleanup `Painter`
  game/src/core/utils/components/draw/Painter.java
  game/src/core/utils/components/draw/PainterConfig.java
  game/src/core/utils/components/draw/TextureMap.java
Labels: struct:core

#1258 [GAME] cleanup `ILevel`
  game/src/core/level/elements/ILevel.java
  game/src/core/level/elements/IPathable.java
  game/src/core/level/elements/ITileable.java
  game/test/core/level/TileLevelTest.java
Labels: struct:core

#1259 [GAME] cleanup `TileLevel`
  game/src/core/level/TileLevel.java
Labels: struct:core

#1260 [GAME] cleanup `LevelUtils`
  game/src/core/level/utils/LevelUtils.java
Labels: struct:core

#1261 [GAME] cleanup `IPath` and sub-classes
  dungeon/src/dslinterop/dsltypeadapters/QuestItemAdapter.java
  dungeon/src/dslinterop/nativescenariobuilder/NativeScenarioBuilder.java
  game/src/contrib/hud/crafting/CraftingGUI.java
  game/src/contrib/item/concreteItem/ItemPotionHealth.java
  game/src/contrib/item/concreteItem/ItemPotionWater.java
  game/src/contrib/item/concreteItem/ItemResourceBerry.java
  game/src/contrib/item/concreteItem/ItemResourceEgg.java
  game/src/contrib/item/concreteItem/ItemResourceMushroomRed.java
  game/src/contrib/utils/components/draw/AdditionalAnimations.java
  game/src/contrib/utils/components/draw/ChestAnimations.java
  game/src/contrib/utils/components/interaction/DropItemsInteraction.java
  game/src/core/components/DrawComponent.java
  game/src/core/systems/DrawSystem.java
  game/src/core/utils/components/draw/Animation.java
  game/src/core/utils/components/draw/CoreAnimationPriorities.java
  game/src/core/utils/components/draw/CoreAnimations.java
  game/src/core/utils/components/draw/IPath.java
  game/src/core/utils/components/draw/SimpleIPath.java
  game/src/core/utils/components/path/IPath.java
  game/src/core/utils/components/path/SimpleIPath.java
  game/test/contrib/components/InventoryComponentTest.java
  game/test/contrib/utils/components/item/ItemTest.java
  game/test/core/utils/components/draw/AnimationTest.java
Labels: struct:core

#1262 [GAME] cleanup `Game` and `Animation`
  dungeon/test/dsl/interpreter/TestDSLInterpreter.java
  game/doc/animation.md
  game/src/contrib/entities/MiscFactory.java
  game/src/core/Game.java
  game/src/core/game/ECSManagment.java
  game/src/core/game/GameLoop.java
  game/src/core/game/PreRunConfiguration.java
  game/src/core/utils/components/draw/Animation.java
Labels: struct:core

#1263 [GAME] cleanup EntitySystemMapper
  game/src/core/utils/EntitySystemMapper.java
Labels: struct:core

#1265 [GAME] cleanup class `DamageProjectile` & `FireballSkill`
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/contrib/utils/components/skill/FireballSkill.java
Labels: staff:shk, struct:contrib

#1266 [GAME] cleanup class `ItemGenerator`
  game/src/contrib/entities/MiscFactory.java
  game/src/contrib/entities/MonsterFactory.java
  game/src/contrib/utils/components/item/ItemDataGenerator.java
  game/src/contrib/utils/components/item/ItemGenerator.java
  game/test/contrib/entities/ChestTest.java
Labels: staff:shk, struct:contrib

#1269 [GAME] cleanup `contrib.utils.components.ai`
  game/src/contrib/utils/components/ai/AIUtils.java
  game/src/contrib/utils/components/ai/fight/CollideAI.java
  game/src/contrib/utils/components/ai/fight/MeleeAI.java
  game/src/contrib/utils/components/ai/fight/RangeAI.java
  game/src/contrib/utils/components/ai/idle/PatrolWalk.java
  game/src/contrib/utils/components/ai/idle/RadiusWalk.java
  game/src/contrib/utils/components/ai/idle/StaticRadiusWalk.java
  game/src/contrib/utils/components/ai/transition/ProtectOnApproach.java
  game/src/contrib/utils/components/ai/transition/ProtectOnAttack.java
  game/src/contrib/utils/components/ai/transition/RangeTransition.java
  game/src/contrib/utils/components/ai/transition/SelfDefendTransition.java
Labels: staff:shk, struct:contrib

#1270 [GAME] cleanup `contrib.utils.systems`
  blockly/src/client/Client.java
  dungeon/src/starter/Starter.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
  game/src/contrib/systems/AISystem.java
  game/src/contrib/systems/CollisionSystem.java
  game/src/contrib/systems/HealthBarSystem.java
  game/src/contrib/systems/HealthSystem.java
  game/src/contrib/systems/HudSystem.java
  game/src/contrib/systems/IdleSoundSystem.java
  game/src/contrib/systems/ProjectileSystem.java
  game/src/contrib/systems/SpikeSystem.java
  game/src/starter/RandomDungeon.java
  game/src/starter/RoomBasedDungeon.java
Labels: staff:shk, struct:contrib

#1271 [GAME] cleanup `contrib.level.generator.perlinNoise`
  game/src/contrib/level/generator/GeneratorUtils.java
  game/src/contrib/level/generator/perlinNoise/NoiseArea.java
  game/src/contrib/level/generator/perlinNoise/NoiseAreaValues.java
  game/src/contrib/level/generator/perlinNoise/PerlinNoise.java
  game/src/contrib/level/generator/perlinNoise/PerlinNoiseGenerator.java
  game/test/contrib/level/PerlinNoiseGeneratorTest.java
Labels: staff:shk, struct:contrib

#1272 [GAME] cleanup `contrib.level.generator.graphBased`
  blockly/src/client/Client.java
  dungeon/src/graph/TaskGraphConverter.java
  dungeon/test/task/TaskContentDoorOpenerTest.java
  game/src/contrib/level/generator/graphBased/CantPlaceDoorException.java
  game/src/contrib/level/generator/graphBased/LevelGraphGenerator.java
  game/src/contrib/level/generator/graphBased/RoomBasedLevelGenerator.java
  game/src/contrib/level/generator/graphBased/RoomGenerator.java
  game/src/contrib/level/generator/graphBased/levelGraph/Direction.java
  game/src/contrib/level/generator/graphBased/levelGraph/LevelGraph.java
  game/src/contrib/level/generator/graphBased/levelGraph/LevelNode.java
  game/src/starter/RoomBasedDungeon.java
Labels: staff:shk, struct:contrib

#1243 [GAME] cleanup `DrawComponent`
  dungeon/src/dslinterop/dsltypeproperties/EntityExtension.java
  dungeon/src/dslinterop/nativescenariobuilder/NativeScenarioBuilder.java
  game/src/contrib/entities/MiscFactory.java
  game/src/contrib/systems/HealthSystem.java
  game/src/contrib/utils/components/interaction/DropItemsInteraction.java
  game/src/core/components/DrawComponent.java
  game/src/core/systems/DrawSystem.java
  game/test/core/components/DrawComponentTest.java
Labels: struct:core

#1274 [GAME] clear `contrib.components`
  game/src/contrib/components/AIComponent.java
  game/src/contrib/components/HealthComponent.java
  game/src/contrib/components/InventoryComponent.java
  game/src/contrib/components/ProjectileComponent.java
  game/src/contrib/components/SpikyComponent.java
  game/src/contrib/components/UIComponent.java
  game/src/contrib/systems/AISystem.java
  game/test/contrib/components/AIComponentTest.java
  game/test/contrib/systems/AISystemTest.java
  game/test/contrib/utils/components/ai/ProtectOnAttackTest.java
Labels: struct:contrib

#1275 [GAME] cleanup `contrib.KeyboardConfig`
  dungeon/src/starter/KeyboardConfig.java
  dungeon/src/starter/Starter.java
  game/src/contrib/configuration/KeyboardConfig.java
Labels: struct:contrib

#1277 [GAME] cleanup `contrib.crafting`
  blockly/src/client/Client.java
  dungeon/src/starter/Starter.java
  game/src/contrib/crafting/Crafting.java
  game/src/contrib/crafting/CraftingIngredient.java
  game/src/contrib/crafting/CraftingResult.java
  game/src/contrib/crafting/CraftingType.java
  game/src/contrib/crafting/InvalidRecipeException.java
  game/src/contrib/crafting/Recipe.java
  game/src/contrib/item/Item.java
  game/src/starter/RandomDungeon.java
  game/src/starter/RoomBasedDungeon.java
Labels: struct:core

#1225 [Publication] add related work Mapping learning and game mechanics for serious games analysis
  doc/related_work/mapping_learning_and_game_mechanics_for_serious_games_analysis.md
Labels: publication

#1278 [GAME] cleanup `contrib.hud`
  dungeon/src/dsl/semanticanalysis/environment/GameEnvironment.java
  dungeon/src/dslinterop/dsltypeproperties/EntityExtension.java
  dungeon/src/dslinterop/nativescenariobuilder/NativeScenarioBuilder.java
  dungeon/src/starter/Starter.java
  dungeon/src/task/game/hud/QuizDialogDesign.java
  dungeon/src/task/game/hud/QuizUI.java
  dungeon/src/task/game/hud/UIAnswerCallback.java
  dungeon/src/task/game/hud/YesNoDialog.java
  dungeon/test/manual/quizquestion/CallbackTest.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
  game/src/contrib/entities/HeroFactory.java
  game/src/contrib/entities/MiscFactory.java
  game/src/contrib/hud/DialogFactory.java
  game/src/contrib/hud/TextDialog.java
  game/src/contrib/hud/UITools.java
  game/src/contrib/hud/UIUtils.java
  game/src/contrib/hud/crafting/CraftingGUI.java
  game/src/contrib/hud/dialogs/DialogDesign.java
  game/src/contrib/hud/dialogs/DialogFactory.java
  game/src/contrib/hud/dialogs/OkDialog.java
  game/src/contrib/hud/dialogs/TextDialog.java
  game/src/contrib/hud/dialogs/YesNoDialog.java
  game/src/contrib/hud/elements/Button.java
  game/src/contrib/hud/elements/CombinableGUI.java
  game/src/contrib/hud/elements/GUICombination.java
  game/src/contrib/hud/elements/ImageButton.java
  game/src/contrib/hud/inventory/InventoryGUI.java
  game/src/contrib/systems/HealthBarSystem.java
  game/src/contrib/utils/components/Debugger.java
  game/test/manual/YesNoDialogTest.java
Labels: struct:contrib

#1279 [GAME] extract constants from `core.utils.Constants`
  dungeon/src/task/game/hud/QuizDialogDesign.java
  game/src/contrib/entities/WorldItemBuilder.java
  game/src/contrib/hud/UIUtils.java
  game/src/core/game/GameLoop.java
  game/src/core/level/Tile.java
  game/src/core/level/utils/LevelElement.java
  game/src/core/systems/CameraSystem.java
  game/src/core/utils/Constants.java
  game/test/starter/GameTest.java
Labels: struct:core, struct:contrib

#1280 [Game] Only using IPath interface in DrawComponent
  dungeon/src/dslinterop/dsltypeadapters/DrawComponentAdapter.java
  dungeon/src/dslinterop/nativescenariobuilder/NativeScenarioBuilder.java
  dungeon/src/starter/TaskSelector.java
  dungeon/test/manual/quizquestion/CallbackTest.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
  game/src/contrib/entities/EntityFactory.java
  game/src/contrib/entities/HeroFactory.java
  game/src/contrib/entities/MiscFactory.java
  game/src/contrib/entities/MonsterFactory.java
  game/src/contrib/utils/components/Debugger.java
  game/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/contrib/utils/components/skill/FireballSkill.java
  game/src/core/components/DrawComponent.java
  game/src/core/utils/components/draw/Animation.java
  game/test/contrib/systems/HealthSystemTest.java
  game/test/core/components/DrawComponentTest.java
  game/test/core/systems/VelocitySystemTest.java
Labels: staff:shk, struct:core

#1282 [Game] Tiles no longer using Strings for texture paths
  game/src/core/level/Tile.java
  game/src/core/level/TileLevel.java
  game/src/core/level/elements/tile/DoorTile.java
  game/src/core/level/elements/tile/ExitTile.java
  game/src/core/level/elements/tile/FloorTile.java
  game/src/core/level/elements/tile/HoleTile.java
  game/src/core/level/elements/tile/SkipTile.java
  game/src/core/level/elements/tile/TileFactory.java
  game/src/core/level/elements/tile/WallTile.java
  game/src/core/level/utils/TileTextureFactory.java
  game/src/core/systems/LevelSystem.java
  game/test/core/level/TileLevelAPITest.java
  game/test/core/level/TileLevelTest.java
  game/test/core/level/TileTest.java
  game/test/core/level/TileTextureFactoryTest.java
  game/test/core/level/elements/tile/TileFactoryTest.java
Labels: staff:shk, struct:core

#1287 [GAME] update `Game#loadConfig`
  game/src/core/Game.java
Labels: bug, staff:shk, struct:core

#1289 [GAME] Quickstart aktualisiert
  game/doc/img/ecs.png
  game/doc/img/ecs.uxf
  game/doc/img/gameloop.png
  game/doc/img/gameloop.uxf
  game/doc/quickstart.md
Labels: staff:shk, staff:wimi, struct:core

#1291 [GAME] fix bug where jar would crash, use Game as Resource Reference root in `Crafting`
  game/src/contrib/crafting/Crafting.java
Labels: bug, high prio

#1292 [DOC] add StarPlay contacts
  doc/related_work/partner.md
  doc/related_work/startplay_poster.md
Labels: publication

#1293 [GAME] replace last String-Paths with `IPath`
  blockly/src/client/Client.java
  dungeon/src/starter/Starter.java
  dungeon/test/manual/quizquestion/CallbackTest.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
  game/doc/quickstart.md
  game/src/contrib/components/IdleSoundComponent.java
  game/src/contrib/entities/MonsterFactory.java
  game/src/contrib/hud/UIUtils.java
  game/src/contrib/hud/crafting/CraftingGUI.java
  game/src/contrib/hud/elements/Button.java
  game/src/contrib/hud/inventory/InventoryGUI.java
  game/src/contrib/systems/IdleSoundSystem.java
  game/src/core/Game.java
  game/src/core/configuration/Configuration.java
  game/src/core/game/GameLoop.java
  game/src/core/game/PreRunConfiguration.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/LevelSystem.java
  game/src/core/utils/components/draw/Animation.java
  game/src/core/utils/components/draw/Painter.java
  game/src/core/utils/components/draw/PainterConfig.java
  game/src/core/utils/components/draw/TextureMap.java
  game/src/starter/RandomDungeon.java
  game/src/starter/RoomBasedDungeon.java
  game/test/core/level/TileLevelAPITest.java
  game/test/core/utils/components/draw/AnimationTest.java
Labels: struct:core, struct:contrib

#1295 [DSL] Erzeugt Set, List und Map Datentypen in `TypeBinder`
  dungeon/src/dsl/interpreter/DSLInterpreter.java
  dungeon/src/dsl/semanticanalysis/analyzer/FunctionDefinitionBinder.java
  dungeon/src/dsl/semanticanalysis/analyzer/SemanticAnalyzer.java
  dungeon/src/dsl/semanticanalysis/analyzer/TypeBinder.java
  dungeon/test/dsl/interpreter/TestEnvironment.java
  dungeon/test/dsl/semanticanalysis/TestTypeBinder.java
Labels: struct:dsl
