Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2023-09, with the labels that each got.

#1000 [DUNGEON] add verschieden `TaskState`s für verschiedene Lösungsqualitäten
  dungeon/src/task/Task.java
Labels: staff:wimi, struct:dungeon

#993 [DUNGEON] implement basic Petri Net structure and connect it to `Task`
  dungeon/src/petriNet/Place.java
  dungeon/src/petriNet/Transition.java
  dungeon/src/task/PetriNet.java
  dungeon/src/task/Task.java
  dungeon/test/petriNet/PlaceTest.java
  dungeon/test/petriNet/TransitionTest.java
  dungeon/test/task/TaskTest.java
Labels: staff:wimi, struct:dungeon

#1001 [DUNGEON] add Questlog
  dungeon/src/Starter.java
  dungeon/src/task/Task.java
  game/src/contrib/configuration/KeyboardConfig.java
Labels: staff:wimi, struct:dungeon

#1008 [Game] fix pausemenu can be stacked
  game/src/core/Game.java
Labels: bug, staff:shk, struct:dungeon

#990 [DSL] Methoden implementieren
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/runtime/AggregateValue.java
  dsl/src/runtime/EncapsulatedObject.java
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/ListValue.java
  dsl/src/runtime/SetValue.java
  dsl/src/runtime/Value.java
  dsl/src/runtime/nativefunctions/ExtensionMethod.java
  dsl/src/runtime/nativefunctions/NativeMethod.java
  dsl/src/semanticanalysis/IInstanceCallable.java
  dsl/src/semanticanalysis/SemanticAnalyzer.java
  dsl/src/semanticanalysis/types/DSLExtensionMethod.java
  dsl/src/semanticanalysis/types/FunctionType.java
  dsl/src/semanticanalysis/types/IDSLExtensionMethod.java
  dsl/src/semanticanalysis/types/ListType.java
  dsl/src/semanticanalysis/types/SetType.java
  dsl/src/semanticanalysis/types/TypeBuilder.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/interpreter/mockecs/TestComponent2.java
  dsl/test/semanticanalysis/types/TestTypeBuilder.java
Labels: struct:dsl

#1012 [DSL] Bugfix: Auflösung von Parametern in Methodenaufrufen
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/parser/ast/AggregateValueDefinitionNode.java
  dsl/src/parser/ast/BinaryNode.java
  dsl/src/parser/ast/ConditionalStmtNodeIf.java
  dsl/src/parser/ast/ConditionalStmtNodeIfElse.java
  dsl/src/parser/ast/DotDefNode.java
  dsl/src/parser/ast/EdgeRhsNode.java
  dsl/src/parser/ast/EdgeStmtNode.java
  dsl/src/parser/ast/FuncCallNode.java
  dsl/src/parser/ast/FuncDefNode.java
  dsl/src/parser/ast/ListDefinitionNode.java
  dsl/src/parser/ast/ListTypeIdentifierNode.java
  dsl/src/parser/ast/Node.java
  dsl/src/parser/ast/ObjectDefNode.java
  dsl/src/parser/ast/ParamDefNode.java
  dsl/src/parser/ast/PropertyDefNode.java
  dsl/src/parser/ast/PrototypeDefinitionNode.java
  dsl/src/parser/ast/ReturnStmtNode.java
  dsl/src/parser/ast/SetDefinitionNode.java
  dsl/src/parser/ast/SetTypeIdentifierNode.java
  dsl/src/parser/ast/StmtBlockNode.java
  dsl/src/parser/ast/UnaryNode.java
  dsl/src/runtime/nativefunctions/ExtensionMethod.java
  dsl/src/runtime/nativefunctions/NativeMethod.java
  dsl/src/semanticanalysis/SemanticAnalyzer.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/interpreter/mockecs/TestComponent2.java
  dsl/test/semanticanalysis/TestSemanticAnalyzer.java
Labels: struct:dsl

#1016 [Dungeon] add `jarConverter` for Windows
  doc/jar_converter/readme.md
  jarConverter.bat
  jarConverter.sh
Labels: bug, staff:wimi, struct:deployment

#1017 [DUNGEON] restructure packages in `./dungeon`
  build.gradle
  doc/dsl/img/interpretation_pipeline.uxf
  doc/dsl/interpretation_laufzeit.md
  dsl/src/interpreter/DSLEntryPointFinder.java
  dsl/src/interpreter/dot/Interpreter.java
  dsl/src/parser/DungeonASTConverter.java
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/Value.java
  dsl/src/semanticanalysis/types/BuiltInType.java
  dsl/src/semanticanalysis/types/TypeBuilder.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/interpreter/TetsDSLEntryPointFinder.java
  dsl/test/semanticanalysis/TestSemanticAnalyzer.java
  dsl/test/semanticanalysis/types/TestClassOuter.java
  dsl/test/semanticanalysis/types/TestTypeBuilder.java
  dsl/test/semanticanalysis/types/TestTypeInstantiator.java
  dungeon/src/dsltypeproperties/EntityExtension.java
  dungeon/src/dsltypeproperties/EntityTranslator.java
  dungeon/src/dungeonFiles/DSLEntryPoint.java
  dungeon/src/dungeonFiles/DslFileLoader.java
  dungeon/src/dungeonFiles/ParsedFile.java
  dungeon/src/dungeonFiles/QuestConfig.java
  dungeon/src/graph/Edge.java
  dungeon/src/graph/Graph.java
  dungeon/src/graph/Node.java
  dungeon/src/graph/Property.java
  dungeon/src/graph/PropertyBag.java
  dungeon/src/starter/Starter.java
  dungeon/src/task/Task.java
  dungeon/src/task/TaskContent.java
  dungeon/src/task/components/DoorComponent.java
  dungeon/src/task/components/TaskComponent.java
  dungeon/src/task/components/TaskContentComponent.java
  dungeon/src/task/taskdsltypes/MultipleChoiceTask.java
  dungeon/src/task/taskdsltypes/SingleChoiceDescriptionProperty.java
  dungeon/src/task/taskdsltypes/SingleChoiceTask.java
  dungeon/test/dslToGame/TestDslFileLoader.java
  dungeon/test/manual/quizquestion/CallbackTest.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
  dungeon/test/task/TaskContentDoorOpenerTest.java
  dungeon/test/task/TaskTest.java
Labels: staff:wimi, struct:dungeon

#1035 [DUNGEON] Implement `TaskDependcyGraph` with smaller related changes in `Task` and `QuestConfig`
  doc/dsl/img/interpretation_pipeline.uxf
  doc/dsl/interpretation_laufzeit.md
  dsl/src/interpreter/DSLEntryPointFinder.java
  dsl/src/interpreter/dot/Interpreter.java
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/Value.java
  dsl/src/semanticanalysis/types/TypeBuilder.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/semanticanalysis/TestSemanticAnalyzer.java
  dsl/test/semanticanalysis/types/TestClassOuter.java
  dsl/test/semanticanalysis/types/TestTypeBuilder.java
  dsl/test/semanticanalysis/types/TestTypeInstantiator.java
  dsl/test_resources/config1.dng
  dsl/test_resources/config2.dng
  dungeon/src/dungeonFiles/DungeonConfig.java
  dungeon/src/dungeonFiles/QuestConfig.java
  dungeon/src/graph/Edge.java
  dungeon/src/graph/Graph.java
  dungeon/src/graph/Node.java
  dungeon/src/graph/Property.java
  dungeon/src/graph/PropertyBag.java
  dungeon/src/task/Task.java
  dungeon/src/task/components/TaskComponent.java
  dungeon/src/taskdependencygraph/TaskDependencyGraph.java
  dungeon/src/taskdependencygraph/TaskEdge.java
  dungeon/src/taskdependencygraph/TaskNode.java
  dungeon/test/dslToGame/TestRuntimeObjectTranslator.java
  dungeon/test/manual/quizquestion/CallbackTest.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
  dungeon/test/task/TaskContentDoorOpenerTest.java
  dungeon/test/task/TaskTest.java
Labels: staff:wimi, struct:dungeon

#1019 [DUNGEON] move `HUD` and advanced Level-Generator from `core` to `contrib`
  dungeon/src/starter/Starter.java
  dungeon/src/task/quizquestion/QuizDialogDesign.java
  dungeon/src/task/quizquestion/QuizUI.java
  dungeon/src/task/quizquestion/UIAnswerCallback.java
  dungeon/test/manual/quizquestion/CallbackTest.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
  dungeon/test/task/TaskContentDoorOpenerTest.java
  game/src/contrib/components/UIComponent.java
  game/src/contrib/configuration/KeyboardConfig.java
  game/src/contrib/hud/DialogDesign.java
  game/src/contrib/hud/DialogFactory.java
  game/src/contrib/hud/GUICombination.java
  game/src/contrib/hud/TextDialog.java
  game/src/contrib/hud/UITools.java
  game/src/contrib/hud/heroUI/HeroUITools.java
  game/src/contrib/level/generator/GeneratorUtils.java
  game/src/contrib/level/generator/graphBased/RoomGenerator.java
  game/src/contrib/level/generator/graphBased/RoombasedLevelGenerator.java
  game/src/contrib/level/generator/graphBased/levelGraph/Direction.java
  game/src/contrib/level/generator/graphBased/levelGraph/GraphGenerator.java
  game/src/contrib/level/generator/graphBased/levelGraph/LevelGraph.java
  game/src/contrib/level/generator/graphBased/levelGraph/Node.java
  game/src/contrib/level/generator/perlinNoise/NoiseArea.java
  game/src/contrib/level/generator/perlinNoise/NoiseAreaValues.java
  game/src/contrib/level/generator/perlinNoise/PerlinNoise.java
  game/src/contrib/level/generator/perlinNoise/PerlinNoiseGenerator.java
  game/src/contrib/systems/HealthbarSystem.java
  game/src/contrib/systems/HeroUISystem.java
  game/src/contrib/systems/HudSystem.java
  game/src/contrib/utils/components/Debugger.java
  game/src/core/Game.java
  game/src/starter/Main.java
  game/test/contrib/level/PerlinNoiseGeneratorTest.java
  game/test/manual/level/generator/graphBased/GraphGeneratorTest.java
Labels: staff:wimi, struct:dungeon

#1040 [Game] fix pause no longer opens after closing with hotkey
  game/src/contrib/utils/components/Debugger.java
Labels: bug, struct:dungeon

#1043 [DOC] add Zusammensfassung: An Analysis Framework for Designing Declarative Knowledge Training Games Using Roguelite Genre (Related Work)
  doc/related_work/analysis_framework.md
Labels: struct:documentation, struct:dungeon

#1023 [DSL] Adapter-Pattern auch für Component-Typen ermöglichen
  build.gradle
  dsl/src/interpreter/DSLInterpreter.java
  dsl/src/runtime/AggregatePropertyValue.java
  dsl/src/runtime/EncapsulatedObject.java
  dsl/src/runtime/GameEnvironment.java
  dsl/src/runtime/RuntimeObjectTranslator.java
  dsl/src/runtime/Value.java
  dsl/src/semanticanalysis/types/AdaptedType.java
  dsl/src/semanticanalysis/types/IType.java
  dsl/src/semanticanalysis/types/TypeBuilder.java
  dsl/src/semanticanalysis/types/TypeInstantiator.java
  dsl/src/semanticanalysis/types/callbackadapter/CallbackAdapter.java
  dsl/test/interpreter/TestDSLInterpreter.java
  dsl/test/semanticanalysis/TestTypeBinder.java
  dsl/test/semanticanalysis/types/TestTypeBuilder.java
  dungeon/src/dslnativefunction/NativeInstantiate.java
  dungeon/src/dsltypeadapters/DrawComponentAdapter.java
  dungeon/src/dsltypeproperties/EntityExtension.java
Labels: struct:dsl

#1030 [DUNGEON] generate `ILevel` for `TaskDependencyGraph`
  dungeon/src/graphconverter/TaskBuilder.java
  dungeon/src/graphconverter/TaskGraphConverter.java
  dungeon/src/task/components/DoorComponent.java
  dungeon/src/task/components/TaskComponent.java
  dungeon/test/task/TaskContentDoorOpenerTest.java
  game/src/contrib/level/generator/graphBased/levelGraph/LevelNode.java
  game/src/core/systems/LevelSystem.java
Labels: staff:wimi, struct:dungeon

#1046 [Dungeon] add `Task#find` to find the entity to a `TaskContent`
  dungeon/src/task/Task.java
Labels: staff:wimi, struct:dungeon

#1052 [DUNGEON] übersetze Aufgabenabhängigkeiten in Petri-Netz
  doc/control_mechanisms/img/petri_net_schablone_optional.dot
  doc/control_mechanisms/img/petri_net_schablone_optional.png
  doc/control_mechanisms/img/petri_net_schablone_seq.png
  doc/control_mechanisms/img/petri_net_schablone_simple.png
  doc/control_mechanisms/img/petri_net_schablone_subtask.png
  doc/control_mechanisms/img/petri_net_seq.dot
  doc/control_mechanisms/img/petri_net_simple.dot
  doc/control_mechanisms/img/petri_net_subtask.dot
  doc/control_mechanisms/petri_net_parsing.md
  dungeon/src/graphconverter/PetriNetFactory.java
  dungeon/src/graphconverter/TaskGraphConverter.java
  dungeon/src/petriNet/PetriNet.java
  dungeon/src/petriNet/Transition.java
  dungeon/src/starter/Starter.java
  dungeon/src/task/Task.java
  dungeon/src/taskdependencygraph/TaskEdge.java
  dungeon/test/petriNet/PetriNetFactoryTest.java
  dungeon/test/petriNet/PlaceTest.java
  dungeon/test/task/TaskTest.java
Labels: staff:wimi, struct:dungeon

#1054 [DUNGEON] make TaskBuilder-call more explicit
  dungeon/src/graphconverter/TaskGraphConverter.java
Labels: staff:wimi, struct:dungeon

#1058 [DSL] Interpretation von `DSLEntryPoint`
  dsl/src/interpreter/DSLInterpreter.java
  dsl/test/interpreter/TetsDSLEntryPointFinder.java
  dsl/test_resources/config1.dng
  dsl/test_resources/config2.dng
Labels: struct:dsl
