Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2024-07, with the labels that each got.

#1564 Dungeon: improve readability by replacing implicit filtering (entityStream) with explicit filtering (filteredEntityStream, both System)
  dungeon/src/contrib/systems/AISystem.java
  dungeon/src/contrib/systems/CollisionSystem.java
  dungeon/src/contrib/systems/HealthBarSystem.java
  dungeon/src/contrib/systems/HealthSystem.java
  dungeon/src/contrib/systems/HudSystem.java
  dungeon/src/contrib/systems/IdleSoundSystem.java
  dungeon/src/contrib/systems/ProjectileSystem.java
  dungeon/src/contrib/systems/SpikeSystem.java
  game/src/core/System.java
  game/src/core/systems/CameraSystem.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/LevelSystem.java
  game/src/core/systems/PlayerSystem.java
  game/src/core/systems/PositionSystem.java
  game/src/core/systems/VelocitySystem.java
  game/test/core/SystemTest.java
Labels: dungeon

#1566 Dungeon: avoid building the same stream more than once (refactoring, CameraComponent)
  game/src/core/systems/CameraSystem.java
Labels: dungeon

#1569 Dungeon: improve item dropping logic, introduce fallback to hero's position
  dungeon/src/contrib/utils/components/interaction/DropItemsInteraction.java
Labels: dungeon

#1571 Dungeon: enhance monster creation flexibility and death sound logic (MonsterFactory)
  dungeon/src/contrib/entities/MonsterFactory.java
Labels: dungeon

#1572 Dungeon: enhance UI interactions (HeroFactory)
  dungeon/src/contrib/entities/HeroFactory.java
  game/src/core/Game.java
Labels: dungeon

#1574 Dungeon: Add activation state to AI and Spiky components
  dungeon/src/contrib/components/AIComponent.java
  dungeon/src/contrib/components/SpikyComponent.java
Labels: dungeon

#1576 Dungeon: Enhance Projectile and Skill Logic
  dungeon/src/contrib/utils/components/skill/DamageProjectile.java
  dungeon/src/contrib/utils/components/skill/FireballSkill.java
  dungeon/src/contrib/utils/components/skill/Skill.java
Labels: dungeon

#1567 Dungeon: do not throw exceptions in stream operations (refactoring, SpikeSystem)
  dungeon/src/contrib/systems/SpikeSystem.java
Labels: dungeon

#1580 Dungeon: allow intrinsic duration when enqueuing an animation as next animation (DrawComponent)
  game/src/core/components/DrawComponent.java
Labels: dungeon

#1581 Dungeon: do not modify the entity stream whilst streaming (HealthSystem)
  dungeon/src/contrib/systems/HealthSystem.java
Labels: bug, dungeon

#1584 Gradle: upgrade to v8.9
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: tooling

#1485 Assets: fix typo in texture name: rename 'deamon' to 'daemon'
  dojo-dungeon/src/dojo/rooms/rooms/search/KillMonsterRoom.java
  dungeon/assets/character/monster/big_daemon/idle/big_daemon_idle_anim_f0.png
  dungeon/assets/character/monster/big_daemon/idle/big_daemon_idle_anim_f1.png
  dungeon/assets/character/monster/big_daemon/idle/big_daemon_idle_anim_f2.png
  dungeon/assets/character/monster/big_daemon/idle/big_daemon_idle_anim_f3.png
  dungeon/assets/character/monster/big_daemon/run/big_daemon_run_anim_f0.png
  dungeon/assets/character/monster/big_daemon/run/big_daemon_run_anim_f1.png
  dungeon/assets/character/monster/big_daemon/run/big_daemon_run_anim_f2.png
  dungeon/assets/character/monster/big_daemon/run/big_daemon_run_anim_f3.png
  dungeon/src/contrib/entities/MonsterFactory.java
Labels: bug, later, dungeon

#1585 Gradle: fix ANTLR configuration
  dungeon/build.gradle
Labels: bug, tooling, dungeon, dsl

#1586 Dungeon: Implement mouse movement and customizable hero skills
  blockly/src/client/Client.java
  dojo-dungeon/src/starter/DojoStarter.java
  dungeon/src/contrib/components/PathComponent.java
  dungeon/src/contrib/configuration/KeyboardConfig.java
  dungeon/src/contrib/entities/HeroFactory.java
  dungeon/src/contrib/systems/PathSystem.java
  dungeon/src/starter/RandomDungeon.java
  dungeon/src/starter/RoomBasedDungeon.java
  dungeon/src/starter/Starter.java
Labels: dungeon

#1588 Dungeon: improve readability of PathSystem
  dungeon/src/contrib/components/PathComponent.java
  dungeon/src/contrib/systems/PathSystem.java
Labels: dungeon

#1589 Dungeon: Add method to check for item type in inventory
  dungeon/src/contrib/components/InventoryComponent.java
Labels: dungeon

#1593 Core: Add getter for Entity name
  game/src/core/Entity.java
Labels: dungeon

#1594 Dungeon: Add animation selection by name in DrawComponent
  game/src/core/components/DrawComponent.java
Labels: dungeon

#1596 Dungeon: Add Health Event Observer System
  dungeon/src/contrib/systems/HealthSystem.java
  dungeon/src/contrib/utils/components/health/IHealthObserver.java
Labels: dungeon

#1598 Dungeon: Add stayInFightMode to RangeTransition and ISkillUser interface for dynamic skill assignment
  dungeon/src/contrib/utils/components/ai/fight/MeleeAI.java
  dungeon/src/contrib/utils/components/ai/fight/RangeAI.java
  dungeon/src/contrib/utils/components/ai/transition/RangeTransition.java
  dungeon/src/contrib/utils/components/skill/ISkillUser.java
Labels: dungeon

#1599 Dungeon: clear mouse movement pathfinding upon manual movement (bug fix)
  dungeon/src/contrib/entities/HeroFactory.java
Labels: bug, dungeon

#1602 Dungeon: Adjust HealthBarSystem to show health bar only when entity is visible
  dungeon/src/contrib/systems/HealthBarSystem.java
Labels: dungeon

#1605 Dungeon: allow to shuffle quiz answers
  dungeon/src/task/tasktype/Quiz.java
Labels: dungeon

#1606 Dungeon: add weighted random selection to ItemGenerator
  dungeon/src/contrib/entities/MiscFactory.java
  dungeon/src/contrib/entities/MonsterFactory.java
  dungeon/src/contrib/item/HealthPotionType.java
  dungeon/src/contrib/item/Item.java
  dungeon/src/contrib/utils/components/item/ItemGenerator.java
Labels: dungeon

#1607 Dungeon: Balanced Hero and Monster Stats
  dungeon/src/contrib/entities/HeroFactory.java
  dungeon/src/contrib/entities/MonsterFactory.java
  dungeon/src/contrib/utils/components/skill/FireballSkill.java
Labels: dungeon
