Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2024-06, with the labels that each got.

#1535 Gradle: upgrade to v8.8
  gradle/wrapper/gradle-wrapper.properties
  gradlew
Labels: tooling

#1537 Core: Fix dialog centering issue on window resize
  game/src/core/Game.java
  game/src/core/systems/CameraSystem.java
Labels: bug, dungeon

#1538 Core: Fixed nullpointer in `entityAtTile`
  game/src/core/Game.java
Labels: bug, dungeon

#1539 Core: Add visibility and tinting options for entities and tiles
  game/src/core/components/DrawComponent.java
  game/src/core/level/Tile.java
  game/src/core/systems/DrawSystem.java
  game/src/core/systems/LevelSystem.java
  game/src/core/utils/components/draw/Painter.java
  game/src/core/utils/components/draw/PainterConfig.java
  game/test/core/level/TileLevelAPITest.java
Labels: dungeon

#1541 Core: Added pit tiles, new fire floor texture and new utils methods
  README.md
  game/assets/dungeon/dark/floor/floor_damaged.png
  game/assets/dungeon/default/floor/floor_damaged.png
  game/assets/dungeon/fire/floor/floor_1.png
  game/assets/dungeon/fire/floor/floor_damaged.png
  game/assets/dungeon/forest/floor/floor_damaged.png
  game/assets/dungeon/ice/floor/floor_damaged.png
  game/assets/dungeon/rainbow/floor/floor_damaged.png
  game/assets/dungeon/temple/floor/floor_damaged.png
  game/src/core/level/TileLevel.java
  game/src/core/level/elements/ILevel.java
  game/src/core/level/elements/tile/PitTile.java
  game/src/core/level/elements/tile/TileFactory.java
  game/src/core/level/utils/LevelElement.java
  game/src/core/level/utils/TileTextureFactory.java
Labels: dungeon

#1542 Core: Improve robustness of LevelUtils and fix LevelUtils#isAnyCornerOfTileInRadius
  game/src/core/level/utils/LevelUtils.java
Labels: bug, dungeon

#1545 Core: Add support for interaction of entities with tile pits
  dungeon/src/contrib/entities/HeroFactory.java
  dungeon/src/contrib/utils/components/skill/DamageProjectile.java
  game/src/core/components/VelocityComponent.java
  game/src/core/systems/VelocitySystem.java
Labels: dungeon

#1547 Core: add open/close functionality to exit tiles
  game/src/core/level/elements/tile/ExitTile.java
  game/src/core/systems/LevelSystem.java
  game/test/core/level/TileLevelAPITest.java
Labels: dungeon

#1548 Core: add mouse support
  dungeon/src/contrib/entities/HeroFactory.java
  dungeon/src/starter/Starter.java
  game/src/core/components/PlayerComponent.java
  game/src/core/systems/PlayerSystem.java
Labels: dungeon

#1549 Core: allow Tile to be transparent
  game/src/core/level/Tile.java
  game/src/core/level/elements/ILevel.java
  game/src/core/level/elements/tile/DoorTile.java
  game/src/core/level/utils/LevelElement.java
Labels: dungeon

#1551 Dungeon: support multiple contents simultaneously in Task and Quiz
  dojo-dungeon/src/dojo/rooms/rooms/boss/Fragen_Lambda.java
  dungeon/src/task/Task.java
  dungeon/src/task/TaskContent.java
  dungeon/src/task/game/hud/QuizDialogDesign.java
  dungeon/src/task/tasktype/Quiz.java
Labels: dungeon

#1552 Dungeon: mute distant entities via proximity filter (IdleSoundSystem)
  dungeon/src/contrib/systems/IdleSoundSystem.java
Labels: dungeon

#1554 Dungeon: add onHit callback to HealthComponent
  dungeon/src/contrib/components/HealthComponent.java
Labels: dungeon

#1560 Dungeon: Add support for parameterized crafting ingredients
  dungeon/src/contrib/crafting/Crafting.java
Labels: dungeon

#1561 Dungeon: Add signs and util-methods for dialogs
  dungeon/src/contrib/components/SignComponent.java
  dungeon/src/contrib/entities/SignFactory.java
  dungeon/src/contrib/hud/DialogUtils.java
  dungeon/src/task/game/hud/UIAnswerCallback.java
Labels: dungeon

#1532 Dojo: translate Java files for dynamic reloading in-place (DojoCompiler)
  dojo-dungeon/build.gradle
  dojo-dungeon/src/dojo/compiler/DojoCompiler.java
  dojo-dungeon/src/dojo/rooms/builder/RoomBuilder.java
  dojo-dungeon/src/dojo/rooms/rooms/boss/LambdaRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/boss/MyImpRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/boss/RefactoringRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/boss/RegExesRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/riddle/MyMonsterRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/riddle/PatternRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/riddle/QuaderRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/riddle/SyntaxRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/search/FindKeyRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/search/KillMonsterRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/search/RollOfPaperRoom.java
  dojo-dungeon/src/dojo/rooms/rooms/search/SaphireRoom.java
  dojo-dungeon/src/starter/DojoStarter.java
  dojo-dungeon/src/studenttasks/cuboid/Cuboid.java
  dojo-dungeon/src/studenttasks/modifyentities/ModifyEntities.java
  dojo-dungeon/src/studenttasks/mymonster/MyMonster.java
  dojo-dungeon/src/studenttasks/refactoring/ClsToRefactor.java
  dojo-dungeon/src/studenttasks/refactoring/Notiz_Tutoren.md
  dojo-dungeon/src/studenttasks/syntax/FehlerhafteKlasse.java
Labels: dojo

#1557 Dojo: MyMonsterRoom: allow to spawn the monster multiple times
  dojo-dungeon/src/dojo/rooms/rooms/riddle/MyMonsterRoom.java
Labels: dojo

#1562 Dungeon: Add configurable inventory rows, item transfer functionality, and improved chest creation logic
  dungeon/src/contrib/configuration/KeyboardConfig.java
  dungeon/src/contrib/entities/EntityFactory.java
  dungeon/src/contrib/entities/MiscFactory.java
  dungeon/src/contrib/hud/crafting/CraftingGUI.java
  dungeon/src/contrib/hud/elements/GUICombination.java
  dungeon/src/contrib/hud/inventory/InventoryGUI.java
  dungeon/test/contrib/entities/ChestTest.java
Labels: dungeon
