Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2024-03, with the labels that each got.

#1433 Dungeon Starter: improve error handling
  dungeon/src/starter/Starter.java
Labels: dungeon

#1440 Refactoring: clean-up after #1433 (Dungeon-Starter: configGame())
  dungeon/src/starter/Starter.java
  game/src/core/configuration/Configuration.java
Labels: dungeon

#1441 Refactoring: clean-up after #1433 (Dungeon-Starter: processCLIArguments())
  dungeon/src/entrypoint/DSLFileLoader.java
  dungeon/src/starter/Starter.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
Labels: dungeon

#1442 Refactoring: clean-up after #1433 (Dungeon-Starter: selectSingleDngFile())
  dungeon/src/starter/Starter.java
Labels: dungeon

#1443 Gradle: fix asset configuration
  blockly/build.gradle
  dungeon/build.gradle
Labels: bug, tooling, dungeon

#1445 Dojo-Dungeon: add folder structure for new sub-project
  dojo-dungeon/build.gradle
  dojo-dungeon/src/starter/DojoStarter.java
  settings.gradle
Labels: dojo

#1446 Dojo-Dungeon: add concept for Prog2 dungeon (documentation)
  dojo-dungeon/doc/dojo_dungeon_concept.md
  dojo-dungeon/doc/img/introduction_pic.png
  dojo-dungeon/doc/img/level_structure.png
Labels: dojo

#1451 Gradle: remove Ben-Manes plugin
  build.gradle
  dependencies.gradle
Labels: bug, tooling

#1463 Dungeon: refactor LevelNode to use getFirst()
  dungeon/src/contrib/level/generator/graphBased/levelGraph/LevelNode.java
Labels: dungeon

#1464 Dungeon: refactor UIUtils to allow load-on-demand for libGDX elements
  dungeon/src/contrib/hud/UIUtils.java
  dungeon/src/contrib/hud/dialogs/OkDialog.java
  dungeon/src/contrib/hud/dialogs/TextDialog.java
  dungeon/src/contrib/hud/dialogs/YesNoDialog.java
  dungeon/src/contrib/systems/HealthBarSystem.java
  dungeon/src/task/game/hud/QuizUI.java
Labels: bug, dungeon

#1468 Logger: change internal API to support the configuration of the log level during setup
  blockly/src/client/Client.java
  dojo-dungeon/src/starter/DojoStarter.java
  dungeon/src/starter/RandomDungeon.java
  dungeon/src/starter/RoomBasedDungeon.java
  dungeon/src/starter/Starter.java
  dungeon/test/manual/YesNoDialogTest.java
  dungeon/test/manual/quizquestion/CallbackTest.java
  dungeon/test/manual/quizquestion/QuizQuestionUITest.java
  dungeon/test/manual/taskgeneration/TaskGenerationTest.java
  game/src/core/Game.java
  game/src/core/game/PreRunConfiguration.java
  game/src/core/utils/logging/LoggerConfig.java
  game/src/starter/BasicStarter.java
Labels: bug, dungeon

#1469 Gradle: configure the logging base folder via a system property
  build.gradle
  dungeon/src/task/Task.java
  game/src/core/utils/logging/LoggerConfig.java
  gradle.properties
Labels: bug, tooling, dungeon

#1471 Gradle: fix logging config
  build.gradle
  gradle.properties
Labels: bug, dungeon, dojo

#1474 DSL: fix links in docs
  dungeon/doc/readme.md
Labels: bug, dsl
