Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2024-04, with the labels that each got.

#1462 Dungeon: fix line wrapping in UIUtils#formatString
  dungeon/src/contrib/hud/UIUtils.java
  dungeon/test/contrib/hud/UIUtilsTest.java
Labels: bug, dungeon

#1488 Dojo: add the dojo-dungeon as new subproject
  dojo-dungeon/build.gradle
  dojo-dungeon/doc/dojo_dungeon_concept.md
  dojo-dungeon/src/dojo/compiler/DojoCompiler.java
  dojo-dungeon/src/dojo/item/ItemKey.java
  dojo-dungeon/src/dojo/monster/MyImp.java
  dojo-dungeon/src/dojo/rooms/LevelRoom.java
  dojo-dungeon/src/dojo/rooms/MonsterRoom.java
  dojo-dungeon/src/dojo/rooms/Room.java
  dojo-dungeon/src/dojo/rooms/SearchRoom.java
  dojo-dungeon/src/dojo/rooms/TaskRoom.java
  dojo-dungeon/src/dojo/rooms/builder/RoomBuilder.java
  dojo-dungeon/src/dojo/rooms/level_1/L1_R1_Monster_1.java
  dojo-dungeon/src/dojo/rooms/level_1/L1_R2_Fehler_Syntax.java
  dojo-dungeon/src/dojo/rooms/level_1/L1_R3_Fragen_Lambda.java
  dojo-dungeon/src/dojo/rooms/level_2/L2_R1_Monster_2.java
  dojo-dungeon/src/dojo/rooms/level_2/L2_R2_Monster_Implement_1.java
  dojo-dungeon/src/dojo/rooms/level_2/L2_R3_Fehler_Refactoring.java
  dojo-dungeon/src/dojo/rooms/level_3/L3_R1_Fragen_Schriftrollen.java
  dojo-dungeon/src/dojo/rooms/level_3/L3_R2_Fehler_Quader.java
  dojo-dungeon/src/dojo/rooms/level_3/L3_R3_Fragen_RegExes.java
  dojo-dungeon/src/dojo/rooms/level_4/L4_R1_Monster_3.java
  dojo-dungeon/src/dojo/rooms/level_4/L4_R2_Fragen_Pattern.java
  dojo-dungeon/src/dojo/rooms/level_4/L4_R3_Monster_Implement_2.java
  dojo-dungeon/src/dojo/tasks/Task.java
  dojo-dungeon/src/starter/DojoStarter.java
  dojo-dungeon/todo-assets/lvl1r2/FehlerhafteKlasse.java
  dojo-dungeon/todo-assets/lvl2r2/Monster.java
  dojo-dungeon/todo-assets/lvl2r3/ClsToRefactor.java
  dojo-dungeon/todo-assets/lvl2r3/Notiz_Tutoren.md
  dojo-dungeon/todo-assets/lvl3r2/Cuboid.java
  dojo-dungeon/todo-assets/lvl4r2/UML_Klassendiagramm1.png
  dojo-dungeon/todo-assets/lvl4r2/UML_Klassendiagramm2.png
  dungeon/src/contrib/level/generator/graphBased/RoomBasedLevelGenerator.java
  dungeon/src/contrib/level/generator/graphBased/levelGraph/LevelNode.java
Labels: dojo

#1497 Dojo: Reorder levels + Add description dialog when entering each level + Adjust docs
  dojo-dungeon/doc/dojo_dungeon_concept.md
  dojo-dungeon/src/dojo/compiler/DojoCompiler.java
  dojo-dungeon/src/dojo/monster/MyImp.java
  dojo-dungeon/src/dojo/rooms/builder/RoomBuilder.java
  dojo-dungeon/src/dojo/rooms/rooms/boss/Fehler_Refactoring.java
  dojo-dungeon/src/dojo/rooms/rooms/boss/Fragen_Lambda.java
  dojo-dungeon/src/dojo/rooms/rooms/boss/Fragen_RegExes.java
  dojo-dungeon/src/dojo/rooms/rooms/boss/Implement_MyImp.java
  dojo-dungeon/src/dojo/rooms/rooms/riddle/Fehler_Quader.java
  dojo-dungeon/src/dojo/rooms/rooms/riddle/Fehler_Syntax.java
  dojo-dungeon/src/dojo/rooms/rooms/riddle/Fragen_Pattern.java
  dojo-dungeon/src/dojo/rooms/rooms/riddle/Implement_MyMonster.java
  dojo-dungeon/src/dojo/rooms/rooms/search/Fragen_Schriftrollen.java
  dojo-dungeon/src/dojo/rooms/rooms/search/Key.java
  dojo-dungeon/src/dojo/rooms/rooms/search/Monster_Kill.java
  dojo-dungeon/src/dojo/rooms/rooms/search/Saphire.java
  dojo-dungeon/src/starter/DojoStarter.java
  dojo-dungeon/todo-assets/Fehler_Quader/Cuboid.java
  dojo-dungeon/todo-assets/Fehler_Refactoring/ClsToRefactor.java
  dojo-dungeon/todo-assets/Fehler_Refactoring/Notiz_Tutoren.md
  dojo-dungeon/todo-assets/Fehler_Syntax/FehlerhafteKlasse.java
  dojo-dungeon/todo-assets/Fragen_Pattern/UML_Klassendiagramm1.png
  dojo-dungeon/todo-assets/Fragen_Pattern/UML_Klassendiagramm1_source.pu
  dojo-dungeon/todo-assets/Fragen_Pattern/UML_Klassendiagramm2.png
  dojo-dungeon/todo-assets/Fragen_Pattern/UML_Klassendiagramm2_source.pu
  dojo-dungeon/todo-assets/Implement_MyMonster/Monster.java
  dojo-dungeon/todo-assets/lvl3r2/Cuboid.java
Labels: dojo

#1503 Dojo: Refactoring FehlerhafteKlasse.java
  dojo-dungeon/src/dojo/compiler/DojoCompiler.java
  dojo-dungeon/src/dojo/rooms/rooms/riddle/Fehler_Syntax.java
  dojo-dungeon/todo-assets/Fehler_Syntax/FehlerhafteKlasse.java
Labels: bug, dojo

#1505 Dojo: Fix choices in lambda boss room
  dojo-dungeon/src/dojo/rooms/rooms/boss/Fragen_Lambda.java
Labels: bug, dojo

#1504 Dojo: DojoCompiler: Ignore cases in string comparison
  dojo-dungeon/src/dojo/compiler/DojoCompiler.java
  dojo-dungeon/todo-assets/Fehler_Syntax/FehlerhafteKlasse.java
Labels: bug, dojo

#1491 Gradle: remove junit and mockito deps from jar
  dungeon/build.gradle
  game/build.gradle
Labels: tooling

#1507 Gradle: cleanup blockly configuration
  blockly/build.gradle
Labels: bug, tooling, blockly

#1506 Gradle: cleanup dojo configuration
  dojo-dungeon/build.gradle
Labels: bug, tooling, dojo

#1508 Gradle: remove Gson config (not needed anymore)
  dependencies.gradle
  game/build.gradle
Labels: bug, tooling, dungeon

#1509 Gradle: cleanup gradle for game and dungeon
  dependencies.gradle
  dungeon/build.gradle
  game/build.gradle
Labels: tooling, dungeon
