Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2024-02, with the labels that each got.

#1365 Dungeon Starter: Use JFileChooser if no arguments were specified
  dungeon/src/starter/Starter.java
Labels: dungeon

#1404 Gradle: upgrade to v8.6
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
Labels: tooling

#1406 Gradle: remove superfluous "ext" definitions
  build.gradle
Labels: tooling

#1407 Delete gradle.properties
  gradle.properties
Labels: bug, tooling

#1419 DSL: fix hard coded references to assets from Game subproject
  dungeon/build.gradle
  dungeon/src/dslinterop/nativescenariobuilder/NativeScenarioBuilder.java
Labels: bug, dsl

#1423 Dungeon Starter: start JFileChooser at current dir
  dungeon/src/starter/Starter.java
Labels: dungeon

#1425 Dungeon: do not start with empty task list
  dungeon/src/starter/Starter.java
Labels: bug, dungeon

#1431 Dungeon Starter: Fix example.dng - use "blue_knight" from dungeon/assets instead of "knight" from game/assets
  dungeon/assets/scripts/example.dng
  dungeon/assets/scripts/template.dng
  dungeon/doc/dsl/examplescripts/example_scenario.dng
  dungeon/doc/dsl/scenario_builder.md
  dungeon/doc/how_to_play.md
  dungeon/test_resources/task_test.dng
Labels: bug, dsl

#1438 CI: remove Gradle caching in actions/setup-java to avoid warnings on Windows runners
  .github/workflows/github_ci.yml
Labels: bug, tooling
