Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2025-04, with the labels that each got.

#1869 Core: add check for null tile
  game/src/core/level/TileLevel.java
Labels: bug

#1841 Blockly: Add Guard Enemy with Attack Area Tint and AI
  blockly/src/antlr/BlocklyConditionVisitor.java
  blockly/src/client/Client.java
  blockly/src/components/BlockFireBallComponent.java
  blockly/src/components/BlocklyMonsterComponent.java
  blockly/src/components/TintDirectionComponent.java
  blockly/src/entities/BlocklyMonster.java
  blockly/src/server/Server.java
  blockly/src/systems/TintTilesSystem.java
  blockly/src/utils/Direction.java
  blockly/src/utils/EntityUtils.java
  blockly/src/utils/LevelUtils.java
  blockly/src/utils/components/ai/fight/StraightRangeAI.java
  blockly/src/utils/components/skill/InevitableFireballSkill.java
  devDungeon/src/entities/BurningFireballSkill.java
  devDungeon/src/entities/MonsterType.java
  dungeon/src/contrib/entities/HeroFactory.java
  dungeon/src/contrib/entities/MonsterDeathSound.java
  dungeon/src/contrib/entities/MonsterIdleSound.java
  dungeon/src/contrib/utils/components/skill/DamageProjectile.java
  dungeon/src/contrib/utils/components/skill/TPBallSkill.java
  game/src/core/level/utils/LevelUtils.java
Labels: blockly

#1887 Blockly: Change webserver default port
  blockly/frontend/webserver/webserver.ts
Labels: blockly

#1880 Blockly: UI Cleaning
  blockly/frontend/src/blocks/dungeon.ts
  blockly/frontend/src/toolbox.ts
Labels: blockly

#1889 [blockly] make lever blockable, disable stone push into monster
  blockly/src/entities/MiscFactory.java
  blockly/src/server/Server.java
Labels: blockly

#1895 Blockly: Prevent level progress downgrade in localStorage
  blockly/frontend/src/utils/level.ts
Labels: blockly

#1897 Blockly: Fix tint persisting after Guard death and level change
  blockly/src/components/TintDirectionComponent.java
Labels: bug, blockly

#1902 Blockly: Fix category visibility toggling on block placement
  blockly/frontend/src/utils/workspace.ts
Labels: bug, blockly

#1904 Blockly: Fix hero direction reset on level change
  game/src/core/game/GameLoop.java
Labels: bug, blockly

#1925 Dungeon: Move EventScheduler from DevDungeon to Dungeon
  blockly/src/client/Client.java
  devDungeon/src/entities/BossAttackSkills.java
  devDungeon/src/entities/levercommands/OpenPassageCommand.java
  devDungeon/src/item/effects/AttackSpeedEffect.java
  devDungeon/src/item/effects/BurningEffect.java
  devDungeon/src/item/effects/RegenerationEffect.java
  devDungeon/src/item/effects/SpeedEffect.java
  devDungeon/src/level/utils/LevelUtils.java
  devDungeon/src/starter/DevDungeon.java
  devDungeon/src/systems/EventScheduler.java
  devDungeon/src/utils/TimedEffect.java
  dungeon/src/contrib/systems/EventScheduler.java
  dungeon/src/contrib/utils/IAction.java
Labels: dungeon
