Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2025-05, with the labels that each got.

#1924 Blockly: Add abstraction layer for custom pathfinding
  blockly/src/client/KeyboardConfig.java
  blockly/src/systems/PathfindingSystem.java
  blockly/src/utils/LevelUtils.java
  blockly/src/utils/pathfinding/BFSPathFinding.java
  blockly/src/utils/pathfinding/BFSQueue.java
  blockly/src/utils/pathfinding/DFSPathFinding.java
  blockly/src/utils/pathfinding/DFSStack.java
  blockly/src/utils/pathfinding/PathfindingLogic.java
  blockly/src/utils/pathfinding/PathfindingVisualizer.java
  blockly/src/utils/pathfinding/TileState.java
  dungeon/src/contrib/components/PathComponent.java
Labels: blockly

#1909 Blockly: Add source code api and VS Code extension
  blockly/src/antlr/BlocklyConditionVisitor.java
  blockly/src/entities/HeroTankControlledFactory.java
  blockly/src/server/LanguageServer.java
  blockly/src/server/Server.java
  blockly/src/utils/BlocklyCodeRunner.java
  blockly/src/utils/BlocklyCommands.java
  blockly/src/utils/Direction.java
  blockly/src/utils/HideLanguage.java
  blockly/vs-code-extension/.gitignore
  blockly/vs-code-extension/.vscode-test.mjs
  blockly/vs-code-extension/.vscodeignore
  blockly/vs-code-extension/eslint.config.js
  blockly/vs-code-extension/package-lock.json
  blockly/vs-code-extension/package.json
  blockly/vs-code-extension/src/extension.ts
  blockly/vs-code-extension/src/handlers/languageProvider.ts
  blockly/vs-code-extension/src/handlers/sendBlocklyFile.ts
  blockly/vs-code-extension/src/utils/utils.ts
  blockly/vs-code-extension/tsconfig.json
Labels: blockly

#1940 Blockly: add demo level for dfs and bfs
  blockly/assets/levels/bfs_1.level
  blockly/assets/levels/dfs_1.level
  blockly/assets/levels/leveltemplate_1.level
  blockly/src/level/AiMazeLevel.java
  blockly/src/starter/PathfinderStarter.java
  blockly/src/utils/pathfinding/DFSPathFinding.java
  dungeon/src/contrib/level/DevDungeonSaver.java
  dungeon/src/contrib/systems/LevelEditorSystem.java
  game/src/core/Game.java
  game/src/core/game/ECSManagment.java
Labels: blockly

#1966 Blockly: Implement A* in PathfindingSystem
  blockly/src/utils/pathfinding/AStarPathFinding.java
  blockly/src/utils/pathfinding/AStarPriorityQueue.java
  blockly/src/utils/pathfinding/PathfindingLogic.java
  game/src/core/level/Tile.java
  game/src/core/level/elements/astar/TileConnection.java
  game/src/core/level/elements/astar/TileHeuristic.java
Labels: blockly

#1970 Blockly: declutter webview, allow game resizing
  blockly/frontend/index.html
  blockly/frontend/src/style.css
  blockly/src/client/Client.java
  game/src/core/Game.java
Labels: blockly

#1964 Dungeon: Add JavaParser for JavaDoc support in LanguageServer
  blockly/build.gradle
  blockly/doc/install-extension.md
  blockly/src/server/LanguageServer.java
  blockly/vs-code-extension/.gitignore
  blockly/vs-code-extension/README.md
  blockly/vs-code-extension/images/logo.png
  blockly/vs-code-extension/package.json
Labels: blockly

#1972 Blockly: Compare two Pathfinding Algorithms side by side
  blockly/build.gradle
  blockly/src/entities/BlocklyMonster.java
  blockly/src/level/AiMazeLevel.java
  blockly/src/starter/ComparePathfindingStarter.java
  blockly/src/starter/PathfinderStarter.java
  blockly/src/systems/PathfindingSystem.java
  blockly/src/utils/pathfinding/PathfindingVisualizer.java
  dungeon/src/contrib/level/DevDungeonLoader.java
Labels: blockly

#1981 Dungeon: Fix multi-level issues in PathfindingStarter
  blockly/src/level/AiMazeLevel.java
  blockly/src/starter/PathfinderStarter.java
  dungeon/src/contrib/systems/PathSystem.java
Labels: bug, blockly

#1961 Blockly: add choose a pathfinding algo
  blockly/build.gradle
  blockly/src/client/KeyboardConfig.java
  blockly/src/starter/PathfinderStarter.java
  blockly/src/utils/pathfinding/SusPathFinding.java
  game/src/core/Game.java
Labels: blockly

#1986 Core: Add `WindowEventManager` for window event handling
  game/src/core/game/GameLoop.java
  game/src/core/game/WindowEventManager.java
Labels: dungeon

#1997 AdvancedDungeon: Fix fireball missing defaults in constructor
  blockly/src/produsAdvanced/abstraction/FireballSkill.java
Labels: bug

#2031 tooling: remove code owners
  .github/CODEOWNERS
Labels: tooling
