Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2025-03, with the labels that each got.

#1723 Dungeon: Mouse control for Inventory and Item Usag
  dungeon/src/contrib/configuration/KeyboardConfig.java
  dungeon/src/contrib/entities/HeroFactory.java
  dungeon/src/contrib/hud/inventory/InventoryGUI.java
Labels: dungeon

#1729 Blockly: Refactor Blockly Level Logic to use DevDungeon Loader
  blockly/assets/levels/maze_1.level
  blockly/assets/levels/maze_2.level
  blockly/assets/levels/maze_3.level
  blockly/assets/levels/maze_4.level
  blockly/assets/levels/maze_5.level
  blockly/build.gradle
  blockly/src/client/Client.java
  blockly/src/level/BlocklyLevel.java
  blockly/src/level/LevelParser.java
  blockly/src/level/MazeLevel.java
  blockly/src/systems/LevelTickSystem.java
  devDungeon/src/starter/DevDungeon.java
  game/src/core/utils/Tuple.java
Labels: dungeon, blockly

#1764 Blockly: Refactor Condition Blocks and Add Direction Block
  blockly/frontend/src/blocks/dungeon.ts
  blockly/frontend/src/generators/java.ts
  blockly/frontend/src/generators/java/character.ts
  blockly/frontend/src/generators/java/condition.ts
  blockly/frontend/src/generators/java/directions.ts
  blockly/frontend/src/generators/java/skills.ts
  blockly/frontend/src/index.ts
  blockly/frontend/src/toolbox.ts
  blockly/src/antlr/BlocklyConditionVisitor.java
  blockly/src/blockly.g4
  blockly/src/nodes/BaseNode.java
  blockly/src/nodes/Types.java
  blockly/src/server/Server.java
  blockly/src/utils/Direction.java
Labels: blockly

#1770 Blockly: change blockly movement to tile movement
  blockly/src/server/Server.java
Labels: blockly

#1785 [Blockly] add wait block
  blockly/frontend/src/blocks/dungeon.ts
  blockly/frontend/src/generators/java/skills.ts
  blockly/frontend/src/toolbox.ts
  blockly/src/server/Server.java
Labels: blockly

#1786 Blockly: Add new linter rule to enforce newline at end of files
  blockly/frontend/eslint.config.js
Labels: tooling, blockly

#1795 Core: add direction of view
  game/src/core/components/PositionComponent.java
  game/src/core/systems/VelocitySystem.java
Labels: dungeon

#1796 Blockly: add use block
  blockly/frontend/src/blocks/dungeon.ts
  blockly/frontend/src/generators/java/skills.ts
  blockly/frontend/src/toolbox.ts
  blockly/src/server/Server.java
  game/src/core/Game.java
Labels: dungeon, blockly

#1797 Blockly: Disable Keyboard and Mouse
  blockly/src/client/Client.java
Labels: blockly

#1804 [contrib] add Design-Enum to `LeverFactory`
  dungeon/assets/objects/lever/off/lever_0.png
  dungeon/assets/objects/lever/on/lever_0.png
  dungeon/assets/objects/torch/off/torch_0.png
  dungeon/assets/objects/torch/on/torch_1.png
  dungeon/assets/objects/torch/on/torch_2.png
  dungeon/assets/objects/torch/on/torch_3.png
  dungeon/assets/objects/torch/on/torch_4.png
  dungeon/assets/objects/torch/on/torch_5.png
  dungeon/assets/objects/torch/on/torch_6.png
  dungeon/assets/objects/torch/on/torch_7.png
  dungeon/assets/objects/torch/on/torch_8.png
  dungeon/src/contrib/entities/LeverFactory.java
  dungeon/src/contrib/utils/ICommand.java
Labels: dungeon

#1814 Org: add AMatutat and Flamtky to codeowners
  .github/CODEOWNERS
Labels: tooling

#1812 Blockly: add go to exit block
  blockly/frontend/src/blocks/dungeon.ts
  blockly/frontend/src/generators/java/character.ts
  blockly/frontend/src/toolbox.ts
  blockly/src/server/Server.java
Labels: blockly

#1819 [Blockly] add book to MiscFactory
  blockly/src/entities/MiscFactory.java
Labels: blockly

#1813 Blockly: Implement Tank Controls for Hero
  blockly/frontend/src/blocks/dungeon.ts
  blockly/frontend/src/generators/java/character.ts
  blockly/frontend/src/toolbox.ts
  blockly/src/client/Client.java
  blockly/src/entities/HeroTankControlledFactory.java
  blockly/src/server/Server.java
  dungeon/src/contrib/utils/EntityUtils.java
Labels: blockly

#1820 [Blockly] add Item blocks
  blockly/frontend/src/blocks/dungeon.ts
  blockly/frontend/src/generators/java.ts
  blockly/frontend/src/generators/java/items.ts
  blockly/frontend/src/generators/java/skills.ts
  blockly/frontend/src/toolbox.ts
  blockly/src/components/BlocklyItemComponent.java
  blockly/src/entities/MiscFactory.java
  blockly/src/server/Server.java
Labels: blockly

#1828 Blockly: change fieball block to require ammunition
  blockly/frontend/src/blocks/dungeon.ts
  blockly/frontend/src/generators/java/skills.ts
  blockly/frontend/src/toolbox.ts
  blockly/src/client/Client.java
  blockly/src/components/AmmunitionComponent.java
  blockly/src/entities/MiscFactory.java
  blockly/src/server/Server.java
Labels: blockly

#1821 [Core] update `PositionComponent#position(Tile)`so it center the entity on the tile
  game/src/core/components/PositionComponent.java
Labels: blockly

#1826 [Blockly] fix bug where player was centered on the wrong coordinate
  blockly/src/server/Server.java
Labels: blockly

#1835 [Blockly] add condition blocks; add `HERE` direciton
  blockly/frontend/src/blocks/dungeon.ts
  blockly/frontend/src/generators/java/condition.ts
  blockly/frontend/src/generators/java/directions.ts
  blockly/frontend/src/toolbox.ts
  blockly/src/antlr/BlocklyConditionVisitor.java
  blockly/src/components/BlocklyMonsterComponent.java
  blockly/src/components/BreadcrumbComponent.java
  blockly/src/entities/MiscFactory.java
  blockly/src/server/Server.java
  blockly/src/utils/Direction.java
Labels: blockly

#1840 [Blockly] add `aktiv` Block
  blockly/frontend/src/blocks/dungeon.ts
  blockly/frontend/src/generators/java/condition.ts
  blockly/frontend/src/toolbox.ts
  blockly/src/antlr/BlocklyConditionVisitor.java
  blockly/src/server/Server.java
Labels: blockly

#1817 Blockly: Variables Display
  blockly/frontend/src/index.ts
  blockly/frontend/src/style.css
  blockly/frontend/src/toolbox.ts
  blockly/frontend/src/utils/variableList.ts
  blockly/src/server/Server.java
Labels: blockly

#1843 [CORE] add resize to pregameconfig and disable it per default
  game/src/core/game/GameLoop.java
  game/src/core/game/PreRunConfiguration.java
Labels: bug
