Repository Dungeon-CampusMinden/Dungeon, pull requests merged in 2025-07, with the labels that each got.

#2176 Blockly: Update and install script for PIs
  blockly/tooling/install.sh
  blockly/tooling/install_doc.md
  blockly/tooling/update.sh
  blockly/tooling/update_doc.md
Labels: blockly

#2191 Blockly: `InevitableFireball` now restarts the level, even if it hits a wall
  blockly/src/utils/components/skill/InevitableFireballSkill.java
Labels: blockly

#2223 Produs: use "Innovation und Forschung" Template for poster
  doc/publication/2025_04_01_pakt_fuer_informatik_produs.pdf
Labels: produs

#2229 Gradle: associate custom starter with gradle group 'starter'
  advancedDungeon/build.gradle
  blockly/build.gradle
  devDungeon/build.gradle
  dungeon/build.gradle
Labels: tooling

#2238 LevelUtils: refactor randomAccessibleTileCoordinateInRange to improve readability
  dungeon/src/contrib/utils/components/ai/idle/StaticRadiusWalk.java
  dungeon/src/contrib/utils/components/interaction/DropItemsInteraction.java
  dungeon/src/core/level/utils/LevelUtils.java
Labels: dungeon

#2237 Fog: refactor magic conversions
  devDungeon/src/systems/FogOfWarSystem.java
  dungeon/src/contrib/systems/FogSystem.java
  dungeon/src/core/utils/Point.java
Labels: dungeon

#2246 Update AdvancedDungeon and sample solution and refactor `Hero`
  advancedDungeon/src/produsAdvanced/abstraction/Berry.java
  advancedDungeon/src/produsAdvanced/abstraction/Hero.java
  doc/produs_unterlagen/solution/arrays.md
  doc/produs_unterlagen/solution/controlls.md
  doc/produs_unterlagen/solution/controls.md
  doc/produs_unterlagen/solution/fireball.md
  dungeon/src/contrib/entities/HeroFactory.java
  dungeon/src/core/utils/Vector2.java
Labels: advancedDungeon, produs
